<div class="container-fluid">
  <input placeholder="Rechercher" class="PP-recherche" ng-model="$ctrl.query" />

  <select ng-model="$ctrl.orderProp" class="PP-tri">
    <option value="" disabled="disabled">Trier par...</option>
    <option value="nom">Nom</option>
    <option value="distance">Distance</option>
    <option value="lieu">Lieu</option>
  </select>

  <table class="PP-table">
    <tr>
      <td class="PP-table-titre">Nom du parcours</td>
      <td class="PP-table-titre">Distance</td>
      <td class="PP-table-titre">Lieu</td>
    </tr>

    <tr class="PP-tr" ng-repeat="parcours in $ctrl.listeParcours | filter:$ctrl.query | orderBy:$ctrl.orderProp"> <!--    -->
      <td class="PP-table-ligne">
        <div>
          <a href="parcours.php?id_parcours={{parcours.id}}&action=goConsulter">{{ parcours.nom }}</a>
        </div>
      </td>

      <td class="PP-table-ligne">
        <div>{{ parcours.distance }} km</div>
      </td>

      <td class="PP-table-ligne">
        <div>{{ parcours.lieu }}</div>
      </td>
    </tr>
  </table>
</div>
  