/***************/
/*** Polices ***/
/***************/

/*** Polices générales ***/
@font-face
{
    font-family: 'inside_font_thin';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_thin_italic';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_light';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-Light.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_light_italic';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-LightItalic.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_regular';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_italic';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_medium';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_medium_italic';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_bold';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_bold_italic';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_black';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-Black.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'inside_font_black_italic';
    src: url('/inside/includes/fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff'),
         url('/inside/includes/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}