/**********************/
/*** Administration ***/
/**********************/

/*** Menu ***/
.new_menu_admin
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 50px;
	max-width: 80%;
}

.menu_admin_box
{
	height: 200px;
	width: 300px;
	display: inline-block;
	margin-right: -4px;
	background-color: rgb(55, 70, 80);
	border-radius: 5px;
}

.mask_admin
{
	float: right;
	background-color: white;
	width: 70px;
	height: 200px;
	opacity: 0.1;
}

.mask_admin_triangle
{
	float: right;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 200px 50px;
	border-color: transparent transparent white transparent;
	opacity: 0.1;
}

.new_menu_link_admin
{
	text-decoration: none;
	display: inline-block;
	height: 200px;
	width: 300px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.title_admin
{
	position: absolute;
	margin-top: 30px;
	margin-left: 30px;
	color: white;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 200%;
	line-height: 35px;
	text-align: justify;
}

.saut_ligne
{
	margin-top: 25px;
}

.export_bdd
{
	position: relative;
	z-index: 1;
	float: left;
	margin-top: -200px;
	background-color: transparent;
	border: 0;
	height: 200px;
	width: 300px;
	padding-bottom: 100px;
	padding-left: 30px;
	color: white;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 200%;
	line-height: 35px;
	text-align: justify;
	cursor: pointer;
	border-radius: 5px;
}

.td_stats_admin
{
	padding: 5px;
	border: solid 1px #b3b3b3;
	font-family: robotolight, Verdana, sans-serif;
}

/*** Gestion utilisateurs ***/
.form_manage_user
{
	display: inline-block;
	padding: 3px;
}

.icone_annuler
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: rgb(255, 25, 55);
	background-image: url("/inside/includes/icons/cancel.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}

.icone_accepter
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: rgb(255, 25, 55);
	background-image: url("/inside/includes/icons/validate.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}

.bouton_admin
{
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e3e3e3;
	color: black;
}

.bouton_admin:hover
{
	background-color: rgb(255, 25, 55);
	color: white;
	cursor: pointer;
}

/*** Gestion calendriers ***/
.form_autorisations
{
	background-color: #e3e3e3;
	width: 80%;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

.zone_autorisations
{
	text-align: center;
	padding: 20px;
}

.zone_check_autorisation
{
	background-color: white;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 3px #b3b3b3;
}

.zone_check_autorisation:hover
{
	background-color: rgb(255, 25, 55);
	color: white;
}

.label_autorisation
{
	margin-left: 10px;
	font-family: robotolight, Verdana, sans-serif;
	cursor: pointer;
	padding: 10px;
	padding-left: 40px;
	margin-left: -32px;
}

.saisie_autorisations
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	cursor: pointer;
}

.saisie_autorisations:hover
{
	background-color: rgb(255, 25, 55);
	color: white;
}

.calendar_to_delete
{
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0 0 3px #a3a3a3;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title_calendar_to_delete
{
	margin-bottom: 10px;
	background-color: #fffd4c;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

/*** Bugs ***/
.table_bugs
{
	margin-top: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
}
