###################################
### Dossiers et fichiers exclus ###
###################################
cron/logs/
includes/common/chat/conversations/
includes/datas/
includes/images/
!includes/images/moviehouse/cinema.jpg
!includes/images/ideas/cycle_idee.png
server/
test/
.idea/
