###################################
### Dossiers et fichiers exclus ###
###################################
# Logs CRON
cron/logs/

# Données
includes/datas/

# Images
includes/images/*
!includes/images/calendars/
includes/images/calendars/*
!includes/images/calendars/backgrounds/
!includes/images/moviehouse/
!includes/images/ideas/

# Livraison
server/

# Test
test/
.idea/
