/*** Couleurs ***/
/**************************************************************************/
/* Les couleurs utilisées régulièrement sur le site sont répertoriées ici */
/* Plus il y a de '+', plus la couleur est accentuée                      */
/**************************************************************************/
/*   #f3f3f3            -> gris clair (+++++++)                           */
/*   #e6e6e6            -> gris clair (++++++)                            */
/*   #e3e3e3            -> gris clair (+++++)                             */
/*   #d3d3d3            -> gris clair (++++)                              */
/*   #c3c3c3            -> gris clair (+++)                               */
/*   #BDC3C7            -> gris clair (++)                                */
/*   #b3b3b3            -> gris clair (+)                                 */
/*   rgb(60, 75, 80)    -> gris foncé (++)                                */
/*   #606060            -> gris foncé (+)                                 */
/*                                                                        */
/*   rgb(30, 40, 50)    -> gris/bleu foncé (++)                           */
/*   rgb(55, 70, 80)    -> gris/bleu foncé (+)                            */
/*   rgb(80, 115, 130)  -> gris/bleu clair (++)                           */
/*   rgb(100, 120, 130) -> gris/bleu clair (+)                            */
/*                                                                        */
/*   #74cefb            -> bleu clair (++)                                */
/*   #2eb2f4            -> bleu clair (+)                                 */
/*   #0064dc            -> bleu moyen                                     */
/*                                                                        */
/*   rgb(200, 25, 50)   -> rouge moyen (++)                               */
/*   rgb(255, 25, 55)   -> rouge moyen (+)                                */
/*                                                                        */
/*   rgb(90, 200, 70)   -> vert moyen                                     */
/*   #91d784            -> vert clair                                     */
/*                                                                        */
/*   #ffad01            -> jaune moyen                                    */
/*   #fffd4c            -> jaune clair (++)                               */
/*   #fffde8            -> jaune clair (+)                                */
/**************************************************************************/

/*** Corps ***/
html
{
	height: 100%;
}

body
{
	margin: 0;
	background-color: white;
	background-repeat: no-repeat;
	padding-bottom: 180px;
	position: relative;
}

/*** Polices ***/
@font-face {
    font-family: 'robotothin';
    src: url('includes/fonts/Roboto-Thin-webfont.eot');
    src: url('includes/fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin_italic';
    src: url('includes/fonts/Roboto-ThinItalic-webfont.eot');
    src: url('includes/fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('includes/fonts/Roboto-Light-webfont.eot');
    src: url('includes/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('includes/fonts/Roboto-LightItalic-webfont.eot');
    src: url('includes/fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('includes/fonts/Roboto-Regular-webfont.eot');
    src: url('includes/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('includes/fonts/Roboto-Italic-webfont.eot');
    src: url('includes/fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('includes/fonts/Roboto-Medium-webfont.eot');
    src: url('includes/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('includes/fonts/Roboto-MediumItalic-webfont.eot');
    src: url('includes/fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('includes/fonts/Roboto-Bold-webfont.eot');
    src: url('includes/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url('includes/fonts/Roboto-BoldItalic-webfont.eot');
    src: url('includes/fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('includes/fonts/Roboto-Black-webfont.eot');
    src: url('includes/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-Black-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('includes/fonts/Roboto-BlackItalic-webfont.eot');
    src: url('includes/fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('includes/fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('includes/fonts/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('includes/fonts/RobotoCondensed-Light-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('includes/fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('includes/fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('includes/fonts/RobotoCondensed-LightItalic-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
         url('includes/fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
         url('includes/fonts/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('includes/fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('includes/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('includes/fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('includes/fonts/RobotoCondensed-Italic-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
         url('includes/fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
         url('includes/fonts/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('includes/fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('includes/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('includes/fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('includes/fonts/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('includes/fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
         url('includes/fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
         url('includes/fonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*** Entête ***/
header
{
	text-align: center;
	position: relative;
	z-index: 3;
}

.main_title
{
	line-height: 110px;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 50px;
	color: white;
	background-color: rgb(255, 25, 55);
	height: 100px;
}

.zone_title
{
	height: 100px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.inside
{
	height: 100%;
	margin-top: 6px;
}

.trait_title_1
{
	height: 2px;
	width: 120px;
	float: left;
	margin-top: 59px;
	border-radius: 5px;
	background: -moz-linear-gradient(left, transparent, white, transparent);
}

.trait_title_2
{
	height: 2px;
	width: 120px;
	float: right;
	margin-top: 59px;
	border-radius: 5px;
	background: -moz-linear-gradient(left, transparent, white, transparent);
}

.mask
{
  height: 25px;
  width: 100%;
}

.triangle
{
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(to right bottom, rgb(255, 25, 55) 50%, transparent 50%);
}

/*** Accueil ***/
section
{
	width: 100%;
	min-height: 400px;
}

.bloc_identification
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	text-align: center;
}

.monoligne
{
	width: 280px;
	border: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	background-color: #e6e6e6;
	color: black;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 110%;
	border-radius: 5px;
}

.bouton_connexion
{
	border: 0;
	background-color: white;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 150%;
	cursor: pointer;
}

.wrong_password
{
	padding: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 90%;
	width: 150px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.forgot_password
{
	display: block;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 30px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	text-decoration: none;
	color: black;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.subcribe
{
	display: block;
	text-align: center;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	text-decoration: none;
	color: black;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.avertissement
{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	font-family: robotolight, Verdana, sans-serif;
}

.wrong_id
{
	margin-top: 100px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: robotolight, Verdana, sans-serif;
}

.asking_inscription
{
	margin-top: 30px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: robotolight, Verdana, sans-serif;
}

/*** Portail ***/
aside
{
	width: 50px;
	margin-left: 20px;
	float: left;
	position: relative;
	z-index: 2;
}

.icon_deconnexion
{
	width: 50px;
	height: 50px;
	border: 0;
	border-radius: 50%;
	background-color: rgb(255, 25, 55);
	background-image: url("includes/icons/logout.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 3px 3px #c3c3c3;
}

.icon_delete
{
	width: 50px;
	height: 50px;
	margin-top: 20px;
	border: 0;
	border-radius: 50%;
	background-color: rgb(255, 25, 55);
	background-image: url("includes/icons/delete.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 3px 3px #c3c3c3;
}

.link_profile
{
	background-color: rgb(255, 25, 55);
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-top: 20px;
	box-shadow: 3px 3px #c3c3c3;
	text-align: center;
	cursor: pointer;
}

.icon_aside
{
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.hover_aside
{
	visibility: hidden;
	float: left;
	background-color: rgb(255, 25, 55);
	padding: 5px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	font-size: 80%;
	margin-left: 60px;
	margin-top: -40px;
}

.link_profile:hover + .hover_aside,
.icon_deconnexion:hover + .hover_aside,
.icon_delete:hover + .hover_aside
{
	visibility: visible;
}

article
{
	margin-top: 20px;
}

.article_portail
{
	margin-left: 90px;
	margin-right: 90px;
	min-height: 500px;
	padding-top: 30px;
}

/*** Contenu ***/
.main_title_2
{
	font-family: robotothin, Verdana, sans-serif;
	font-size: 30px;
	color: white;
	background-color: rgb(255, 25, 55);
	line-height: 60px;
}

.logo_onglet
{
	width: 40px;
	height: 40px;
	margin-top: -10px;
	vertical-align: middle;
}

.onglet_actif
{
	display: inline-block;
	background-color: rgb(200, 25, 50);
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	text-decoration: none;
	border-left: solid 1px white;
}

.onglet_inactif
{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	text-decoration: none;
	border-left: solid 1px white;
}

.onglet_inactif:hover
{
	background-color: rgb(200, 25, 50);
}

.bandeau_categorie
{
	height: 100px;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	position: relative;
	z-index: -2;
}

.bandeau_categorie_2
{
	height: 80px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

/*** Switch ***/
.switch_view
{
	padding-bottom: 30px;
	padding-top: 30px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -30px;
}

.switch_view_2
{
	padding-bottom: 30px;
	padding-top: 30px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.link_switch_inactive
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	text-decoration: none;
	color: black;
	background-color: #f3f3f3;
	border-radius: 5px;
	box-shadow: 0 5px 0 #e3e3e3;
}

.link_switch_inactive:hover
{
	color: white;
	background-color: rgb(55, 70, 80);
	box-shadow: 0 5px 0 #b3b3b3;
}

.link_switch_active
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 40px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	text-decoration: none;
	color: white;
	background-color: rgb(55, 70, 80);
	border-radius: 5px;
	box-shadow: 0 5px 0 #b3b3b3;
}

/*** Menu ***/
#menu
{
	float: right;
	margin-right: -200px;
	margin-top: -105px;
	position: relative;
	z-index: 1;
}

#menu ul
{
	margin-top: -72px;
}

#menu li
{
	list-style-type: none;
	background-color: white;
	line-height: 40px;
	border-left: solid 1px #e3e3e3;
	border-right: solid 1px #e3e3e3;
	border-top: solid 1px #e3e3e3;
	margin-left: -20px;
	font-family: robotolight, Verdana, sans-serif;
}

#menu li:hover
{
	background-color: #e3e3e3;
}

.triangle2
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 20px 10px 0;
	border-color: transparent #e6e6e6 transparent transparent;
	margin-top: 70px;
}

.link_menu
{
	color: black;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
}

/*** Nouveau menu RG ***/
.new_menu_univers
{
	max-width: 100%;
	text-align: center;
	margin-top: 50px;
}

.new_menu_univers_top
{
	width: 600px;
	height: 400px;
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
}

.new_rdz
{
	background-color: rgb(55, 70, 80);
	width: 400px;
	height: 400px;
	display: inline-block;
	overflow: hidden;
}

.mask_rdz
{
	background-color: rgb(30, 40, 50);
	opacity: 0.5;
	height: 400px;
	width: 25%;
}

.title_rdz
{
	float: left;
	margin-top: -400px;
	font-family: roboto_condensedlight_italic, Verdana, sans-serif;
	letter-spacing: -30px;
	color: white;
	font-size: 2000%;
	position: relative;
	z-index: 1;
}

.new_portaileid
{
	float: right;
	background-color: rgb(255, 25, 55);
	width: 200px;
	height: 400px;
	display: inline-block;
	overflow: hidden;
}

.mask_portaileid_1
{
	float: right;
	background-color: rgb(200, 25, 50);
	width: 50px;
	height: 400px;
	opacity: 0.5;
}

.mask_portaileid_2
{
	float: right;
	background-color: rgb(200, 25, 50);
	width: 200px;
	height: 50px;
	margin-top: -50px;
	opacity: 0.5;
}

.title_portaileid
{
	float: left;
	margin-left: 10px;
	margin-top: -370px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 500%;
	color: white;
	line-height: 70px;
	position: relative;
	z-index: 1;
}

.new_menu_univers_under
{
	width: 600px;
	height: 400px;
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
}

.new_tso
{
	background-color: rgb(255, 25, 55);
	width: 400px;
	height: 200px;
	display: inline-block;
	margin-bottom: 200px;
	overflow: hidden;
}

.mask_tso
{
	background-color: rgb(200, 25, 50);
	width: 400px;
	height: 100px;
	margin-top: 100px;
	opacity: 0.5;
}

.title_tso
{
	float: left;
	line-height: 200px;
	margin-left: 120px;
	font-family: robotobold, Verdana, sans-serif;
	color: white;
	font-size: 500%;
	margin-top: -200px;
	position: relative;
	z-index: 1;
}

.new_glossaire
{
	float: right;
	background-color: rgb(100, 120, 130);
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
}

.title_glossaire
{
	float: right;
	margin-right: 10px;
	margin-top: -100px;
	line-height: 100px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	position: relative;
	z-index: 1;
}

.mask_glossaire_1
{
	background-color: rgb(80, 115, 130);
	width: 200px;
	height: 100px;
	opacity: 0.5;
}

.mask_glossaire_2
{
	background-color: rgb(80, 115, 130);
	width: 100px;
	height: 200px;
	margin-top: -100px;
	opacity: 0.5;
}

.new_ims
{
	background-color: rgb(100, 120, 130);
	width: 200px;
	height: 200px;
	display: block;
	margin-top: -204.5px;
	overflow: hidden;
}

.mask_ims
{
	background-color: rgb(60, 75, 80);
	width: 100px;
	height: 200px;
	opacity: 0.5;
}

.title_ims
{
	float: left;
	margin-top: -200px;
	margin-left: 10px;
	color: white;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 500%;
	position: relative;
	z-index: 1;
}

.new_micrortc
{
	float: right;
	background-color: rgb(55, 70, 80);
	width: 400px;
	height: 200px;
	display: block;
	margin-top: -200px;
}

.mask_micrortc
{
	background-color: white;
	width: 400px;
	height: 50px;
	opacity: 0.1;
	overflow: hidden;
}

.title_micrortc
{
	text-align: right;
	font-family: robotomedium_italic, Verdana, sans-serif;
	color: white;
	line-height: 50px;
	font-size: 400%;
	padding-top: 20px;
	margin-top: -50px;
	margin-right: 10px;
	position: relative;
	z-index: 1;
}

.new_menu_link
{
	text-decoration: none;
}

.new_menu_link_portail
{
	text-decoration: none;
	display: inline-block;
	height: 400px;
	width: 300px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*** Reference Guide ***/
.menu_univers
{
	text-align: center;
	padding-bottom: 125px;
}

.search_bar
{
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.search_bar_liste
{
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.monoligne_search
{
	width: 80%;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #e6e6e6;
	color: black;
	font-family: robotolight, Verdana, sans-serif;
	font-style: italic;
	font-size: 110%;
	border-radius: 5px;
	display: inline-block;
}

.icon_search
{
	background-color: transparent;
	/*width: 40px;
	height: 40px;*/
	border: 0;
	background-image: url("includes/icons/search.png");
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	display: inline-block;
	padding: 12px;
	margin-left: 10px;
}

.banniere
{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.liste
{
	border-collapse: collapse;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.liste tr:hover
{
	background-color: #b3b3b3;
}

.liste td
{
	border: 1px solid #BDC3C7;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
}

.init_titre_article
{
	width: 65%;
	height: 40px;
	background-color: #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
}

.init_titre_article_2
{
	width: 50%;
	height: 40px;
	background-color: #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
}

.init_date_article
{
	width: 20%;
	height: 40px;
	background-color: #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
}

.init_auteur_article
{
	width: 15%;
	height: 40px;
	background-color: #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
}

.init_categorie_article
{
	width: 15%;
	height: 40px;
	background-color: #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
}

.titre_article
{
	width: 65%;
	font-family: robotolight, Verdana, sans-serif;
}

.titre_article_2
{
	width: 50%;
	font-family: robotolight, Verdana, sans-serif;
}

.date_article
{
	width: 20%;
	font-family: robotolight, Verdana, sans-serif;
}
.auteur_article
{
	width: 15%;
	font-family: robotolight, Verdana, sans-serif;
}

.categorie_article
{
	width: 15%;
	font-family: robotolight, Verdana, sans-serif;
	text-align: center;
}

.icon_category
{
	width: 90px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	background-color: rgb(255, 25, 55);
	color: white;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

.surligne
{
	background-color: #e3e3e3;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 5px;
}

.lien_article
{
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
}

.nb_results
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

.upper
{
	text-transform: uppercase;
}

.rounded
{
	display: inline-block;
	min-width: 20px;
	min-height: 20px;
	background-color: rgb(255, 25, 55);
	color: white;
	border-radius: 50%;
	text-align: center;
}

/*** Article ***/
.article_titre
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 150%;
	width: 59%;
	margin-left: 10%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 50px;
	text-align: left;
}

.article_date
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	float: right;
	width: 19%;
	margin-right: 10%;
	margin-top: -50px;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-bottom: 0px;
	line-height: 50px;
	text-align: right;
}

.trait
{
	clear: right;
	width: 80%;
	height: 3px;
	background-color: #e3e3e3;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -16px;
}

.article_categorie
{
	float: left;
	margin-left: 10%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 16px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	background-color: rgb(255, 25, 55);
	color: white;
}

.article_auteur
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	width: 79%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	line-height: 40px;
}

.article_contenu
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: justify;
}

/*** Saisie article ***/
.saisie_titre
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 150%;
	width: 59%;
	margin-left: 10%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-bottom: 0px;
	line-height: 48px;
	min-height: 48px;
	text-align: left;
	border: 0;
}

.saisie_date
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	float: right;
	width: 19%;
	margin-right: 10%;
	margin-top: 0px;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-bottom: 0px;
	line-height: 50px;
	text-align: right;
}

.saisie_categorie
{
	height: 40px;
	width: 15%;
	float: left;
	margin-left: 10%;
	margin-top: 30px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
}

.saisie_auteur
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	width: 79%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	line-height: 40px;
}

.saisie_contenu
{
	resize: vertical;
	width: 80%;
	min-height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	background-color: #f3f3f3;
}

.saisie_valider
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
}

.boutons_texte
{
	width: 12%;
	float: right;
	position: fixed;
	right: 20px;
	top: 252px;
}

.bouton_insertion
{
	display: block;
	width: 50%;
	padding: 3px;
	margin-bottom: 5px;
	font-family: robotoregular, Verdana, sans-serif;
}

/*** Saisie images ***/
.remarque
{
	font-family: robotoregular, Verdana, sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*** Pré-visu ***/
.bandeau_titre_article
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	text-align: center;
	background-color: #e3e3e3;
	overflow: hidden;
}

.previs_article
{
	display: inline-block;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 150%;
	line-height: 50px;
}

.img_article
{
	max-height: 400px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rouge
{
	color: red;
}

.vert
{
	color: green;
}

.gras
{
	font-weight: bold;
}

.italique
{
	font-style: italic;
}

.underline
{
	text-decoration: underline;
}

.highlight
{
	background-color: yellow;
}

.lien
{
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}

/*** Movie House ***/
.zone_avatar_films
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	box-shadow: 0 0 3px #7c7c7c;
}

.avatar_films
{
	max-width: 40px;
	max-height: 40px;
}

.pseudo_films
{
	font-size: 70%;
}

.table_users
{
	text-align: center;
	line-height: 30px;
	font-family: robotolight, Verdana, sans-serif;
}

.table_date_jour
{
	line-height: 40px;
	font-family: robotolight, Verdana, sans-serif;
	background-color: #2eb2f4;
	color: white;
	text-align: center;
}

.banderole_left_1
{
	height: 42px;
	width: 10px;
	position: absolute;
	background-color: #2eb2f4;
	margin-left: -11px;
	margin-top: -1px;
}

.banderole_left_2
{
	height: 10px;
	width: 10px;
	position: absolute;
	background: linear-gradient(to left bottom, #74cefb 50%, transparent 50%);
	margin-left: -11px;
	margin-top: 41px;
	z-index: 0;
}

.banderole_left_3
{
	height: 42px;
	width: 10px;
	float: right;
	background-color: #2eb2f4;
	margin-right: -11px;
	margin-top: -1px;
	margin-bottom: -1px;
}

.banderole_left_4
{
	height: 10px;
	width: 10px;
	float: right;
	background: linear-gradient(to right bottom, #74cefb 50%, transparent 50%);
	margin-right: -11px;
	margin-top: 41px;
	margin-bottom: -11px;
}

/*** Saisie film avancée ***/
.zone_saisie_avancee
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #e3e3e3;
	border-radius: 5px;
}

.contenu_saisie_avancee
{
	width: 100%;
	background-color: #f3f3f3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.form_saisie_avancee
{
	padding: 1.5%;
	text-align: center;
}

.zone_saisie_avancee_infos
{
	display: inline-block;
	vertical-align: top;
	width: 49.25%;
	margin-right: 0.75%;
	padding-bottom: 1.5%;
	background-color: #e3e3e3;
	border-radius: 5px;
}

.monoligne_film
{
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	line-height: 40px;
	min-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background-color: white;
	border-radius: 5px;
	font-family: robotolight_italic, Verdana, sans-serif;
	font-size: 110%;
}

/*** Alertes ***/
.message_alerte
{
	position: absolute;
	left: 50%;
	width: 500px;
	margin-left: -270px;
	margin-top: -45px;
	line-height: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	background-color: #fffd4c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 5px #a3a3a3;
	z-index: 2;
	font-family: robotoregular, Verdana, sans-serif;
}

.message_alerte_2
{
	position: absolute;
	left: 50%;
	width: 500px;
	margin-left: -270px;
	margin-top: -30px;
	line-height: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	background-color: #fffd4c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 5px #a3a3a3;
	z-index: 2;
	font-family: robotoregular, Verdana, sans-serif;
}

/*** TheBox ***/
.td_ideas_title
{
	background-color: #d3d3d3;
	padding: 1%;
	width: 15%;
	border: solid 1px white;
	font-family: robotomedium_italic, Verdana, sans-serif;
	font-size: 100%;
}

.td_ideas_content
{
	background-color: #f3f3f3;
	font-family: robotolight, Verdana, sans-serif;
	border: solid 1px white;
	padding: 1%;
	width: 25%;
}

.td_ideas_actions
{
	width: 20%;
	background-color: #d3d3d3;
	border: solid 1px white;
}

.tr_ideas_idea
{
	background-color: #74cefb;
}

.tr_ideas_idea td p
{
	padding: 1%;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 110%;
	min-height: 100px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: justify;
}

.button_idea
{
	display: block;
	border: 0;
	background-color: #e3e3e3;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 110%;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button_idea:hover
{
	background-color: rgb(255, 25, 55);
	color: white;
	cursor: pointer;
}

/*** Bugs ***/
.zone_titre_bug
{
	background-color: #e3e3e3;
	border: 1px solid #BDC3C7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

.titre_bug
{
	display: block;
	max-width: 70%;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 120%;
	border-top-left-radius: 5px;
}

.resolve_bug
{
	float: right;
	margin-top: -40px;
}

.resolution
{
	display: inline-block;
	border: 0;
	height: 40px;
	cursor: pointer;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 100%;
	color: white;
}

.zone_type_bug
{
	float: left;
}

.type_bug
{
	display: inline-block;
	background-color: #2eb2f4;
	min-width: 65px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 40px;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 100%;
	color: white;
}

.triangle_resolution_green
{
	display: inline-block;
	margin-bottom: -14px;
	width: 20px;
	height: 40px;
  background: linear-gradient(to left top, rgb(90, 200, 70) 50%, transparent 50%);
}

.triangle_resolution_red
{
	display: inline-block;
	margin-bottom: -14px;
	width: 20px;
	height: 40px;
	background: linear-gradient(to left top, rgb(255, 25, 55) 50%, transparent 50%);
}

.triangle_resolution_blue
{
	display: inline-block;
	margin-bottom: -14px;
	width: 20px;
	height: 40px;
	background: linear-gradient(to left top, transparent 50%, #2eb2f4 50%);
}

.no_bugs
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: black;
	text-align: center;
}

/*** Gestion des utilisateurs ***/
.title_gestion
{
	width: 76%;
	margin-left: auto;
	margin-right: auto;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 120%;
	text-align: center;
	background-color: rgb(255, 25, 55);
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.table_manage_users
{
	border-collapse: collapse;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.table_manage_users td
{
	border: 1px solid #BDC3C7;
}

.init_tr_manage_users
{
	text-align: center;
	background-color: #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
}

.init_td_manage_users
{
	padding-left: 20px;
	padding-right: 20px;
}

.tr_manage_users
{
	text-align: center;
}

.tr_manage_users:hover
{
	background-color: #B3B3B3;
}

.td_manage_users
{
	text-align: center;
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotoregular, Verdana, sans-serif;
}

.reseted
{
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	margin-bottom: 30px;
}

.reseted_2
{
	width: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 140%;
	background-color: #e3e3e3;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 50px;
}

.reset_warning
{
	font-family: robotomedium, Verdana, sans-serif;
	color: red;
	font-size: 150%;
}

/*** Pied de page ***/
footer
{
	height: 160px;
	position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
	text-align: center;
}

.footer_title
{
	width: 120px;
	margin-top: 30px;
	text-align: center;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	font-family: robotolight, Verdana, sans-serif;
	position: relative;
	z-index: 1;
}

.inside_mini
{
	width: 50px;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
}

.footer_line
{
	height: 1px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
	background-color: rgb(255, 25, 55);
}

.connected_as
{
	margin-top: 50px;
}

.footer_connected
{
	font-family: robotolight, Verdana, sans-serif;
	background-color: #e3e3e3;
	padding: 10px;
	border-radius: 5px;
}
