.PP-parcours
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	width: 100%;
	margin-left: 10%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 30px;
	text-align: left;
}

.PP-titre
{
	font-size: 150%;
	color: rgb(200, 25, 50);
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
	z-index: -2;
}

.label_parcours
{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 70px;
	padding-left: 10px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;	
}