/********************/
/*** Food Advisor ***/
/********************/

/*** Boutons d'action ***/
.lien_green
{
	display: block;
	width: calc(100% - 4vw);
	padding: 1vh 2vw 1vh 2vw;
	margin-bottom: 2vh;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	font-size: 3vh;
  text-align: center;
	border-radius: 1vw;
	box-shadow: 0 0 1vw #7c7c7c;
  text-decoration: none;
  background-color: #e3e3e3;
}

.lien_green:hover
{
  background-color: #70d55d;
  color: white;
}

.lien_red
{
  display: block;
  width: 100%;
  padding: 1vh 2vw 1vh 2vw;
  margin-bottom: 2vh;
  font-family: robotolight, Verdana, sans-serif;
  color: #262626;
  font-size: 3vh;
  text-align: center;
  border-radius: 1vw;
  box-shadow: 0 0 1vw #7c7c7c;
  text-decoration: none;
  background-color: #e3e3e3;
	border: 0;
}

.lien_red:hover
{
	background-color: #ff1937;
	color: white;
}

/*** Bande à part & sans vote***/
.zone_propositions_solo_sans_vote
{
	width: 100%;
}

.zone_solo_sans_vote
{
	display: block;
	width: 100%;
	padding-bottom: 1vh;
}

.avatar_solo_sans_vote
{
	display: inline-block;
	margin-right: 1vh;
	vertical-align: middle;
	height: 5vh;
	border-radius: 50%;
	background-color: #262626;
	box-shadow: 0 0 1vw #7c7c7c;
}

.pseudo_solo_sans_vote
{
	display: inline-block;
	width: calc(100% - 12vh);
	vertical-align: middle;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
	word-break: break-word;
}

.form_delete_solo
{
	display: inline-block;
	margin-left: 1vh;
	vertical-align: middle;
}

.bouton_delete_solo
{
	height: 5vh;
	width: 5vh;
	background-image: url("/inside/includes/icons/common/delete_grey.png");
	background-size: 4vh 4vh;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border: 0;
}

/*** Propositions ***/
.zone_propositions_users
{
	width: 100%;
}

/*** Mes choix ***/
.zone_propositions_mes_choix
{
	width: 100%;
}
