/*************/
/*** Index ***/
/*************/

/*** Connexion ***/
.zone_forms_index
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	position: absolute;
	top: 50%;
	transform: translateY(calc(-50% - 2vh));
}

.zone_form_index
{
	display: block;
	vertical-align: middle;
}

.form_index
{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.monoligne_index
{
	display: block;
	width: calc(100% - 2vh);
	padding: 1vh;
	height: 5vh;
	margin-bottom: 3vh;
	border: 0;
	border-bottom: solid 0.5vh #d3d3d3;
	background-color: transparent;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 3vh;
}

.monoligne_index_inscription
{
	display: block;
	width: calc(100% - 2vh);
	padding: 1vh;
	height: 5vh;
	margin-bottom: 1.5vh;
	border: 0;
	border-bottom: solid 0.5vh #d3d3d3;
	background-color: transparent;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 3vh;
}

.select_form_index
{
	display: block;
	width: 100%;
	margin-bottom: 1.5vh;
	padding: 1.5vh 0.5vh 1.5vh 0.5vh;
	border: 0;
	border-bottom: solid 0.5vh #d3d3d3;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 3vh;
	background-color: white;
}

.zone_boutons_validation_index
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8vh;
}

.bouton_index
{
	display: inline-block;
	width: 100%;
	padding: 1vh;
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
	font-size: 3vh;
	border: 0;
	background-color: #ff1937;
	border-radius: 0.5vh;
	box-shadow: 0 0 0.5vh #7c7c7c;
	vertical-align: middle;
}

.bouton_index_short
{
	width: calc(100% - 8vh);
}

.bouton_index:active
{
	background-color: #c81932;
}

.lien_bouton_index
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 2vh;
}

.image_bouton_index
{
	display: block;
	height: 6vh;
}

/*** Boutons ***/
.zone_boutons_index
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	position: absolute;
	top: 100%;
	transform: translateY(-8vh);
}

.lien_index
{
	display: inline-block;
	width: calc(50% - 2%);
	vertical-align: top;
	height: 6vh;
	line-height: 6vh;
	background-color: #e3e3e3;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
	text-align: center;
	border-radius: 0.5vh;
	box-shadow: 0 0 0.5vh #7c7c7c;
}

.lien_index_margin_right
{
	margin-right: 4%;
}

.lien_index:active
{
	background-color: #d3d3d3;
}

/*** Aide ***/
.texte_aide_index
{
	display: block;
	width: 100%;
	max-height: 67vh;
	overflow: hidden;
	overflow-y: auto;
	text-align: justify;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 120%;
}
