/**********************/
/*** Expense Center ***/
/**********************/

/*** Saisie ***/
.saisie_acheteur
{
    display: block;
    width: 100%;
    margin-top: 1vh;
    padding: 1vh;
    border-radius: 0.5vh;
    border: 0;
    background-color: white;
    box-shadow: 0 0 0.5vh #7c7c7c;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
}

.zone_saisie_prix, .zone_saisie_reduction
{
    display: block;
    margin-top: 2vh;
}

.saisie_prix, .saisie_reduction
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 7vh);
    margin-right: 1vh;
    padding: 1.2vh 1.5vh 1.2vh 1.5vh;
    border: 0;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
}

.euro
{
    display: inline-block;
    vertical-align: middle;
    width: 3vh;
    height: 3vh;
}

.saisie_date_depense
{
    display: block;
    width: calc(100% - 3vh);
    margin-right: 1vh;
    margin-top: 2vh;
    padding: 1.2vh 1.5vh 1.2vh 1.5vh;
    border: 0;
    background-color: white;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
}

.saisie_commentaire
{
    display: block;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 10vh;
    width: calc(100% - 3vh);
    padding: 1vh 1.5vh 1vh 1.5vh;
    border: 0;
    box-shadow: 0 0 0.5vh #7c7c7c;
    border-radius: 0.5vh;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
    resize: none;
}

.texte_explications_montants
{
    font-family: inside_font_regular, Verdana, sans-serif;
    color: #262626;
    font-size: 2.5vh;
    text-align: justify;
}

.texte_explications_montants ul
{
    padding-left: 3vh;
}

.zone_saisie_utilisateur
{
    width: 100%;
    height: 10vh;
    margin-bottom: 1.5vh;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    overflow: hidden;
    background-color: #e3e3e3;
}

.zone_saisie_utilisateur_avatar
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 25%;
}

.avatar_saisie_depense
{
    display: inline-block;
    vertical-align: top;
    width: 6vh;
    height: 6vh;
    background-color: #262626;
    margin-top: 0.75vh;
    margin-bottom: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    border-radius: 50%;
}

.pseudo_saisie_depense
{
    font-family: inside_font_medium, Verdana, sans-serif;
    font-size: 2vh;
    line-height: 2vh;
    margin-bottom: 0.75vh;
}

.bouton_quantite
{
    display: inline-block;
    width: 25%;
    height: 10vh;
    line-height: 10vh;
    font-family: inside_font_regular, Verdana, sans-serif;
    font-size: 3vh;
    color: #262626;
    text-align: center;
    background-color: #d3d3d3;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bouton_quantite:active
{
    background-color: #c81932;
    color: white;
}

.zone_quantite
{
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.quantite
{
    display: block;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    border: 0;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 3vh;
    color: #262626;
    background-color: #e3e3e3;
    text-align: center;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing : border-box;
}

.quantite_desinscrit
{
    display: inline-block;
    width: calc(100% - 6vh);
    height: 10vh;
    line-height: 10vh;
    border: 0;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 3vh;
    color: white;
    text-align: center;
    background-color: transparent;
}

.part_selected
{
    background-color: #ff1937;
    color: white;
}

.zone_saisie_montant
{
    display: inline-block;
    vertical-align: top;
    width: 75%;
    height: 10vh;
}

.montant
{
    display: inline-block;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: calc(100% - 7.5vh);
    padding-left: 1vh;
    padding-right: 1vh;
    height: 6vh;
    border: 0;
    border-radius: 0.5vh;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 3vh;
    color: #262626;
    background-color: white;
}

.montant_desinscrit
{
    display: inline-block;
    width: calc(100% - 6vh);
    height: 10vh;
    line-height: 10vh;
    border: 0;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 3vh;
    color: white;
    text-align: center;
    background-color: transparent;
}

.euro_saisie
{
    display: inline-block;
    margin: -1vh 1vh 0 1vh;
    vertical-align: middle;
    width: 3vh;
    height: 3vh;
}

/*** Bilan ***/
.zone_bilan_users
{
    width: 100%;
}

.zone_bilan_user
{
    width: 100%;
    height: 8vh;
    margin-bottom: 1.5vh;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    overflow: hidden;
}

.bilan_rouge
{
    background-color: #ff1937;
}

.bilan_orange
{
    background-color: #ffad01;
}

.bilan_jaune
{
    background-color: #fffd4c;
}

.bilan_vert
{
    background-color: #96e687;
}

.bilan_vert_fonce
{
    background-color: #70d55d;
}

.bilan_gris
{
    background-color: #e3e3e3;
}

.avatar_bilan
{
    display: inline-block;
    vertical-align: middle;
    width: 6vh;
    height: 6vh;
    background-color: #262626;
    margin: 1vh 0 1vh 1vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    border-radius: 50%;
}

.pseudo_bilan
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 23vh);
    font-family: inside_font_light, Verdana, sans-serif;
    color: #262626;
    font-size: 2.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    word-break: break-word;
}

.total_bilan
{
    display: inline-block;
    vertical-align: middle;
    width: 12vh;
    height: 8vh;
    line-height: 8vh;
    font-family: inside_font_medium, Verdana, sans-serif;
    color: #262626;
    text-align: center;
    font-size: 2.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.total_rouge
{
    background-color: #ea2b2b;
}

.total_orange
{
    background-color: #d49000;
}

.total_jaune
{
    background-color: #eeeb0a;
}

.total_vert
{
    background-color: #6fe15a;
}

.total_vert_fonce
{
    background-color: #50be3b;
}

.total_gris
{
    background-color: #d3d3d3;
}

/*** Détails ***/
.zone_details_prix
{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    line-height: 15vh;
    font-family: inside_font_thin, Verdana, sans-serif;
    font-size: 10vh;
    color: #262626;
    text-align: center;
}

.zone_details_informations
{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.zone_details_acheteur_commentaires
{
    margin-top: -0.5vh;
    margin-bottom: 1vh;
}

.zone_details_acheteur
{
    display: inline-block;
    width: 8vh;
    padding: 1vh;
    vertical-align: top;
    background-color: #e3e3e3;
    border-radius: 0.5vh;
}

.details_avatar_acheteur, .details_avatar_utilisateur
{
    display: block;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 6vh;
    height: 6vh;
    background-color: #262626;
    box-shadow: 0 0 0.5vh #7c7c7c;
    border-radius: 50%;
}

.details_pseudo_acheteur, .details_pseudo_utilisateur
{
    display: block;
    width: 100%;
    font-family: inside_font_regular, Verdana, sans-serif;
    color: #262626;
    font-size: 2vh;
    text-align: center;
    word-break: break-word;
}

.details_commentaires
{
    display: inline-block;
    width: calc(100% - 11vh);
    vertical-align: top;
    padding: 0.5vh 0 0 1vh;
    font-family: inside_font_light, Verdana, sans-serif;
    color: #262626;
    font-size: 2.5vh;
    text-align: justify;
    word-break: break-word;
}

.details_regularisation, .details_frais
{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: white;
    line-height: 5vh;
    background-color: #ff1937;
    border-radius: 0.5vh;
}

.zone_details_parts
{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.zone_details_repartition
{
    text-align: center;
}

.zone_details_utilisateur
{
    display: inline-block;
    width: 8vh;
    padding: 0 1.5vh 1vh 1.5vh;
    vertical-align: top;
    border-radius: 0.5vh;
}

.nombre_parts_user
{
    float: right;
    position: relative;
    z-index: 1;
    margin-top: -2.5vh;
    width: 2.5vh;
    height: 2.5vh;
    line-height: 2.5vh;
    background-color: #70d55d;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2vh;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.montant_user
{
    display: block;
    height: 3vh;
    margin-bottom: 0.5vh;
    line-height: 3vh;
    background-color: #70d55d;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2vh;
    color: white;
    border-radius: 0.5vh;
    text-align: center;
}

.zone_details_actions
{
    text-align: center;
    margin-bottom: 2vh;
}

.lien_modifier_depense
{
    display: inline-block;
    height: 6vh;
    width: calc(45% - 1vh);
    margin-right: 1vh;
    vertical-align: middle;
    background-color: #e3e3e3;
    border-radius: 0.5vh;
}

.icone_modifier_depense
{
    width: 4vh;
    height: 4vh;
    padding: 1vh;
    vertical-align: middle;
}

.form_supprimer_depense
{
    display: inline-block;
    width: calc(45% - 1vh);
    margin-left: 1vh;
    vertical-align: middle;
    background-color: #e3e3e3;
    border-radius: 0.5vh;
}

.icone_supprimer_depense
{
    height: 6vh;
    width: 100%;
    vertical-align: middle;
    background-image: url("/includes/icons/common/delete_grey.png");
    background-size: 4vh 4vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
}

/*** Dépenses ***/
.zone_depenses
{
    margin-bottom: -1vh;
}

.zone_depenses_users
{
    width: 100%;
}

.zone_depense
{
    display: block;
    width: 100%;
    height: 8vh;
    margin-bottom: 1.5vh;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    overflow: hidden;
    background-color: #e3e3e3;
}

.zone_depense_date
{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: 8vh;
    background-color: #d3d3d3;
}

.zone_depense_date_jour
{
    display: block;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    font-family: inside_font_thin, Verdana, sans-serif;
    font-size: 4.5vh;
    color: #262626;
    text-align: center;
}

.zone_depense_date_mois
{
    display: block;
    width: 100%;
    height: 3vh;
    line-height: 3vh;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
    text-align: center;
}

.zone_depense_avatar, .zone_depense_prix
{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: 8vh;
    text-align: center;
}

.avatar_depense
{
    display: inline-block;
    vertical-align: middle;
    width: 6vh;
    height: 6vh;
    background-color: #262626;
    margin-top: 1vh;
    margin-bottom: 1vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    border-radius: 50%;
}

.prix_depense
{
    line-height: 8vh;
    font-family: inside_font_medium, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
}

.zone_depense_users
{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: 8vh;
    text-align: center;
}

.zone_depense_icone_nombre
{
    display: inline-block;
    margin-left: 1.5vh;
}

.icone_depense
{
    display: inline-block;
    vertical-align: middle;
    width: 5vh;
    height: 5vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    filter: drop-shadow(0 0 0.1vh #7c7c7c);
}

.nombre_users_depense
{
    float: right;
    position: relative;
    z-index: 1;
    margin-left: -1vh;
    margin-top: 4.5vh;
    width: 2.5vh;
    height: 2.5vh;
    line-height: 2.5vh;
    background-color: #70d55d;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2vh;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.zone_depense_regularisation
{
    display: inline-block;
    width: 90%;
    margin-left: 10%;
    background-color: #ff1937;
    font-family: inside_font_regular, Verdana, sans-serif;
    font-size: 2vh;
    color: white;
    line-height: 8vh;
    text-align: center;
}