/**************/
/*** Profil ***/
/**************/

/*** Informations ***/
.zone_infos_profil
{
	display: block;
	margin-bottom: 2vh;
}

.zone_profil_avatar
{
	display: block;
	width: 25vh;
	height: 25vh;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 0.5vh #7c7c7c;
	border-radius: 50%;
	background-color: #262626;
	margin-bottom: 2vh;
	overflow: hidden;
}

.avatar_profil
{
	width: 100%;
}

.zone_texte_infos
{
	display: block;
	background-color: #e3e3e3;
	border-radius: 0.5vh;
	padding: 2vh 2vh 0 2vh;
}

.zone_info
{
	display: block;
	padding-bottom: 2vh;
}

.logo_profil
{
	display: inline-block;
	width: 5vh;
	vertical-align: middle;
	margin-right: 1vh;
}

.texte_profil
{
	display: inline-block;
	width: calc(100% - 6vh);
	vertical-align: middle;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 3vh;
	word-wrap: break-word;
}

.fond_experience_profil
{
	display: inline-block;
	vertical-align: middle;
	background-color: white;
	height: 1vh;
	width: calc(100% - 19vh);
	border-radius: 2vh;
	margin-right: 1vh;
	overflow: hidden;
}

.experience_profil
{
	display: block;
	height: 100%;
	background-color: #ff1937;
	border-radius: 2vh;
}

.valeur_experience_profil
{
	display: inline-block;
	vertical-align: middle;
	background-color: #ff1937;
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
	font-size: 2.5vh;
	width: 12vh;
	height: 5vh;
	line-height: 5vh;
	text-align: center;
	border-radius: 0.5vh;
}

/*** Commun ***/
.zone_contributions
{
	width: 100%;
	text-align: center;
	background-color: white;
	box-shadow: 0 0 0.5vh #7c7c7c;
	margin-bottom: 2vh;
	padding-bottom: 2vh;
	border-radius: 0.5vh;
}

.titre_contribution, .titre_preference
{
	width: 100%;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.logo_titre_contribution, .logo_titre_preference
{
	display: inline-block;
	height: 4vh;
	vertical-align: middle;
	margin-right: 1vh;
}

.texte_titre_contribution, .texte_titre_preference
{
	display: inline-block;
	vertical-align: middle;
	font-family: inside_font_thin, Verdana, sans-serif;
	color: #262626;
	font-size: 3.5vh;
	font-weight: bold;
	line-height: 4vh;
}

/*** Contributions ***/
.zone_contributions_profil
{
	display: block;
	margin-bottom: -1.5vh;
}

.zone_contribution
{
	display: inline-block;
	width: calc(50% - 0.1vh);
	text-align: center;
	vertical-align: top;
}

.border_left
{
	border-left: solid 0.2vh #b3b3b3;
}

.large
{
	width: 100%;
}

.stat_contribution
{
	display: block;
	font-family: inside_font_thin, Verdana, sans-serif;
	color: #262626;
	font-size: 10vh;
	line-height: 10vh;
}

.texte_contribution
{
	display: block;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
}

/*** Paramètres ***/
.zone_settings_profil
{
	display: block;
	margin-bottom: 2vh;
}

.zone_avatar_parametres
{
	display: inline-block;
	vertical-align: top;
	border-right: solid 0.2vh #b3b3b3;
	width: calc(50% - 2.1vh);
	padding-right: 2vh;
}

.zone_parametres_avatar
{
	display: block;
	width: 20vh;
	height: 20vh;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 0.5vh #7c7c7c;
	border-radius: 50%;
	background-color: #262626;
	margin-bottom: 2vh;
	overflow: hidden;
}

.avatar_parametres
{
	width: 100%;
}

.form_update_avatar
{
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 2.1vh);
	padding-left: 2vh;
}

.zone_saisie_image
{
	width: 20vh;
	height: 20vh;
	line-height: 19vh;
	margin-bottom: 2vh;
	margin-left: auto;
	margin-right: auto;
}

.zone_parcourir_image
{
	width: 100%;
	height: 100%;
	border-style: dashed;
	border-width: 0.5vh;
	border-radius: 50%;
	border-color: #a3a3a3;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}

.logo_saisie_image
{
	width: 6vh;
	vertical-align: middle;
}

.bouton_parcourir_image
{
	display: block;
	opacity: 0;
	width: 100%;
	height: 100%;
	margin-top: -20vh;
	position: relative;
	z-index: 1;
}

.mask_image
{
	width: calc(100% - 1vh);
	height: calc(100% - 1vh);
	line-height: 19vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: -19.5vh;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
}

.image
{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	margin-top: -0.5vh;
}

.bouton_validation_image
{
	display: block;
	width: 100%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	background-color: #e3e3e3;
	border-radius: 0.5vh;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 3vh;
	color: #262626;
	text-align: center;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
}

.bouton_validation_image:active
{
	color: white;
	background-color: #ff1937;
}

.form_update_infos
{
	display: block;
	margin-top: 2vh;
}

.zone_saisie_information
{
	display: block;
	margin-bottom: 2vh;
}

.logo_information
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 2vh;
	width: 5vh;
	height: 5vh;
}

.saisie_information
{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 10vh);
	padding: 1.2vh 1.5vh 1.2vh 1.5vh;
	background-color: white;
	border-radius: 0.5vh;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
}

.bouton_validation_form
{
	display: block;
	width: 100%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #e3e3e3;
	border-radius: 0.5vh;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 3vh;
	color: #262626;
	text-align: center;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
}

.bouton_validation_form:active
{
	color: white;
	background-color: #ff1937;
}

/*** Préférences ***/
.zone_preferences_profil
{
	display: block;
	margin-bottom: 2vh;
}

.preference_margin
{
	margin-bottom: -1.5vh;
}

.zone_preferences
{
	width: 100%;
	text-align: center;
	background-color: white;
	box-shadow: 0 0 0.5vh #7c7c7c;
	margin-bottom: 2vh;
	border-radius: 0.5vh;
}

.sous_titre_preference
{
	background-color: #e3e3e3;
	width: 100%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
}

.zone_preference
{
	display: block;
	text-align: center;
	padding-bottom: 2vh;
}

.switch_preference
{
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 3vh);
	margin: 2vh 1vh 0 1vh;
	border-radius: 0.5vh;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
	background-color: #e3e3e3;
}

.switch_preference_2
{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 4vh);
	margin: 2vh 1vh 0 1vh;
	border-radius: 0.5vh;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
	background-color: #e3e3e3;
}

.label_switch
{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 7vh);
	padding: 1.5vh 1vh 1.5vh 6vh;
	margin-left: -6vh;
	word-break: break-word;
	hyphens: auto;
	text-align: left;
}

.bouton_checked
{
	background-color: #ff1937;
	color: white;
}

.zone_radio_preference
{
	display: inline-block;
	vertical-align: middle;
	width: 6vh;
	height: 6vh;
}

.radio_preference, .check_preference
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%;
	transform: translateY(-50%);
}

/*** Utilisateur ***/
.form_update_user
{
	display: block;
	padding-bottom: 2vh;
}

.saisie_information_2
{
	display: block;
	width: calc(100% - 7vh);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
	padding: 1.2vh 1.5vh 1.2vh 1.5vh;
	background-color: white;
	border-radius: 0.5vh;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
}

.select_form_update_team
{
	display: block;
	width: calc(100% - 4vh);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
	padding: 1.2vh 1vh 1.2vh 1vh;
	background-color: white;
	border-radius: 0.5vh;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
}

.bouton_validation_form_2
{
	display: block;
	width: calc(100% - 4vh);
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #e3e3e3;
	border-radius: 0.5vh;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 3vh;
	color: #262626;
	text-align: center;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
}

.message_form_preferences
{
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
	width: calc(100% - 4vh);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2vh;
	text-align: justify;
}

.message_bold
{
	font-weight: bold;
	text-align: center;
}

/*** Niveaux ***/
.zone_niveaux_users
{
	display: block;
	width: 100%;
}

.zone_avatars_niveaux
{
	text-align: center;
	background-color: #e3e3e3;
	box-shadow: 0 0 0.5vh #7c7c7c;
	margin-bottom: 2vh;
}

.titre_classement_niveaux
{
	display: block;
	width: 100%;
	border-radius: 0.5vh;
	font-family: inside_font_medium, Verdana, sans-serif;
	color: #262626;
	font-size: 3vh;
	text-align: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.number_exp
{
	display: inline-block;
	width: 4.5vh;
	height: 4.5vh;
	line-height: 4.5vh;
	border-radius: 50%;
	background-color: #ff1937;
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
	font-size: 3vh;
	text-align: center;
}

.zone_user_niveaux
{
	display: inline-block;
	text-align: center;
	width: 15vh;
	vertical-align: top;
	margin: 0 1vh 1vh 1vh;
}

.avatar_niveau
{
	width: 8vh;
	border-radius: 50%;
	background-color: #262626;
	box-shadow: 0 0 0.5vh #7c7c7c;
}

.pseudo_niveau
{
	display: block;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2vh;
	word-break: break-word;
}

/*** Succès ***/
.zone_succes_profil
{
	width: 100%;
	margin-bottom: -1vh;
}

.zone_niveau_succes
{
	width: 100%;
}

.number_level
{
	display: inline-block;
	height: 4vh;
	width: 4vh;
	font-family: inside_font_medium, Verdana, sans-serif;
	color: #262626;
	font-size: 2vh;
	text-align: center;
	margin-left: -5vh;
	margin-right: 1vh;
	vertical-align: middle;
}

.succes_liste
{
	display: block;
	width: 100%;
	height: 8vh;
	margin-bottom: 1.5vh;
	border-radius: 0.5vh;
	overflow: hidden;
	background-color: #e3e3e3;
}

.succes_liste_yellow
{
	background-color: #ffad01;
}

.succes_unlocked
{
	display: inline-block;
	vertical-align: middle;
	width: 6vh;
	height: 6vh;
	padding: 1vh;
	background-color: #c48500;
}

.succes_locked
{
	display: inline-block;
	vertical-align: middle;
	width: 6vh;
	height: 6vh;
	padding: 1vh;
	background-color: #d3d3d3;
}

.logo_succes_unlocked
{
	width: 100%;
	border-radius: 0.5vh;
}

.logo_succes_locked
{
	width: 100%;
}

.zone_titre_succes
{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 16vh);
}

.zone_titre_full
{
	width: calc(100% - 8vh);
}

.titre_succes
{
	display: block;
	height: 4vh;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
	padding-left: 1vh;
	padding-right: 1vh;
	word-break: break-word;
}

.titre_full
{
	line-height: 4vh;
}

.medaille_succes
{
	width: 100%;
	filter: drop-shadow(0 0 0.3vh #7c7c7c);
}

.fond_progression_succes
{
	display: block;
	background-color: white;
	height: 1vh;
	width: calc(100% - 2vh);
	margin-left: 1vh;
	border-radius: 2vh;
	margin-top: 0.5vh;
}

.progression_succes
{
	display: block;
	height: 100%;
	background-color: #ff1937;
	border-radius: 2vh;
}

/*** Classement ***/
.zone_classement_zoom
{
	display: block;
	width: 100%;
	border-radius: 0.5vh;
	overflow: hidden;
	margin-bottom: 2vh;
}

.titre_classement_zoom
{
	display: block;
	width: 100%;
	background-color: #d3d3d3;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 3vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.zone_classement_users_zoom
{
	display: block;
	width: calc(100% - 4vh);
	background-color: white;
	padding: 2vh 2vh 0 2vh;
}

.medaille_classement_zoom
{
	display: inline-block;
	width: 5vh;
	height: 5vh;
	vertical-align: top;
	filter: drop-shadow(0 0 0.2vh #5c5c5c);
}

.zone_classement_medaille_zoom
{
	display: inline-block;
	width: calc(100% - 5vh);
}

.avatar_classement_zoom
{
	display: inline-block;
	width: 5vh;
	height: 5vh;
	vertical-align: middle;
	margin-left: 1vh;
	margin-right: 1vh;
	margin-bottom: 2vh;
	border-radius: 50%;
	background-color: #262626;
	box-shadow: 0 0 0.5vh #7c7c7c;
}

.separation_classement_zoom
{
	display: block;
	margin-bottom: 2vh;
	width: 100%;
	height: 0.2vh;
	background-color: #d3d3d3;
}

/*** Polices ***/
.zone_preferences_police
{
	width: 100%;
	margin-bottom: -3vh;
}

.form_update_police
{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-bottom: 2vh;
}

.select_update_police
{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
	padding: 1.2vh 1vh 1.2vh 1vh;
	background-color: white;
	border-radius: 0.5vh;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
}

.bouton_form_police
{
	display: block;
	width: 100%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #e3e3e3;
	border-radius: 0.5vh;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 3vh;
	color: #262626;
	text-align: center;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
}

.bouton_form_police:active
{
	color: white;
	background-color: #ff1937;
}

#exemple_police
{
	display: block;
	margin-top: 1.5vh;
	margin-bottom: -2vh;
	width: 100%;
	color: #262626;
}

#exemple_police p:first-child
{
	font-size: 3vh;
}

#exemple_police p
{
	margin: 0;
	margin-bottom: 3vh;
	text-align: justify;
	font-size: 2.5vh;
}