/***************/
/*** Portail ***/
/***************/

/*** Liens portail ***/
.lien_portail
{
  display: block;
  margin-bottom: 2vh;
	width: 100%;
  border-radius: 1vw;
  overflow: hidden;
  box-shadow: 0 0 1vw #7c7c7c;
  background-color: #2c3840;
}

.icone_lien_portail
{
  display: inline-block;
  vertical-align: middle;
  width: 6vh;
  padding: 1vh;
}

.texte_lien_portail
{
  display: inline-block;
  width: calc(100% - 12vh);
  padding: 2vh;
  line-height: 4vh;
  vertical-align: middle;
  font-family: robotolight, Verdana, sans-serif;
  color: white;
  font-size: 3vh;
  background-color: #374650;
}
