/**************/
/*** Commun ***/
/**************/
/*** Corps ***/
html
{
	height: 100%;
}

body
{
	min-height: 100vh;
	margin: 0;
	position: relative;
  background-color: #fbfbfb;
}

section
{
	width: 100%;
	min-height: 93vh;
	height: 100%;
}

article
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

a:link, a:visited, a:hover, a:active
{
	outline: none;
}

/*** Polices ***/
@font-face
{
	font-family: 'robotothin';
	src: url('/inside_test/includes/fonts/Roboto-Thin-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-Thin-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-Thin-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotothin_italic';
	src: url('/inside_test/includes/fonts/Roboto-ThinItalic-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotolight';
	src: url('/inside_test/includes/fonts/Roboto-Light-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-Light-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-Light-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotolight_italic';
	src: url('/inside_test/includes/fonts/Roboto-LightItalic-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotoregular';
	src: url('/inside_test/includes/fonts/Roboto-Regular-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-Regular-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotoitalic';
	src: url('/inside_test/includes/fonts/Roboto-Italic-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-Italic-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-Italic-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotomedium';
	src: url('/inside_test/includes/fonts/Roboto-Medium-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-Medium-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotomedium_italic';
	src: url('/inside_test/includes/fonts/Roboto-MediumItalic-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotobold';
	src: url('/inside_test/includes/fonts/Roboto-Bold-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-Bold-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotobold_italic';
	src: url('/inside_test/includes/fonts/Roboto-BoldItalic-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotoblack';
	src: url('/inside_test/includes/fonts/Roboto-Black-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-Black-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-Black-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotoblack_italic';
	src: url('/inside_test/includes/fonts/Roboto-BlackItalic-webfont.eot');
	src: url('/inside_test/includes/fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedlight';
	src: url('/inside_test/includes/fonts/RobotoCondensed-Light-webfont.eot');
	src: url('/inside_test/includes/fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedlight_italic';
	src: url('/inside_test/includes/fonts/RobotoCondensed-LightItalic-webfont.eot');
	src: url('/inside_test/includes/fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedregular';
	src: url('/inside_test/includes/fonts/RobotoCondensed-Regular-webfont.eot');
	src: url('/inside_test/includes/fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condenseditalic';
	src: url('/inside_test/includes/fonts/RobotoCondensed-Italic-webfont.eot');
	src: url('/inside_test/includes/fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedbold';
	src: url('/inside_test/includes/fonts/RobotoCondensed-Bold-webfont.eot');
	src: url('/inside_test/includes/fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedbold_italic';
	src: url('/inside_test/includes/fonts/RobotoCondensed-BoldItalic-webfont.eot');
	src: url('/inside_test/includes/fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
	     url('/inside_test/includes/fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
	     url('/inside_test/includes/fonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*** Entête ***/
header
{
	position: relative;
	z-index: 2;
}

.zone_bandeau
{
	background-color: #262626;
	width: 100%;
	height: 10vh;
	overflow: hidden;
}

.logo_bandeau
{
	float: left;
	height: 20vh;
	margin-top: -5vh;
	margin-left: -4vh;
	/*height: 150px;
	margin-top: -35px;
	margin-left: -30px;*/
}

/*** Pied de page ***/
footer
{
	background-color: #262626;
	height: 7vh;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.version
{
	display: inline-block;
	line-height: 7vh;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
}

.zone_footer_right
{
	float: right;
}

.link_footer
{
	display: inline-block;
  vertical-align: top;
	width: 8vh;
	height: 7vh;
	background-color: #262626;
}

.link_footer:hover
{
	background-color: #1b1b1b;
}

.icone_footer
{
	display: block;
  vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
  margin-top: 1.5vh;
	width: 4vh;
	height: 4vh;
}

.copyright
{
	display: inline-block;
  line-height: 7vh;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 2vh;
  color: white;
  text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}
