/****************************/
/*** Les Petits Pédestres ***/
/****************************/

/*** Tableau de bord ***/
.zone_tableau_de_bord
{
    display: block;
    width: 100%;
}

.zone_donnee_tableau_de_bord
{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 2vh;
}

.icone_tableau_de_bord
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.titre_donnee_tableau_de_bord
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    width: calc(100% - 2vh);
    text-align: center;
    font-family: inside_font_thin, Verdana, sans-serif;
    color: #a3a3a3;
    font-size: 2.5vh;
}

.donnee_tableau_de_bord
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2vh);
    text-align: center;
    font-family: inside_font_regular, Verdana, sans-serif;
    color: #262626;
    font-size: 4vh;
}

/*** Dernières courses ***/
.zone_dernieres_courses
{
    display: block;
    width: 100%;
}

.zone_derniere_course
{
    display: block;
    width: calc(100% - 2vh);
    margin-bottom: 1.5vh;
    padding: 1vh;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    background-color: #e3e3e3;
}

.zone_derniere_course:active
{
    background-color: #d3d3d3;
}

.nom_derniere_course
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 23vh);
    font-family: inside_font_regular, Verdana, sans-serif;
    color: #262626;
    font-size: 2.5vh;
    text-align: justify;
}

.date_derniere_course
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vh;
    width: 16vh;
    font-family: inside_font_light, Verdana, sans-serif;
    color: #262626;
    font-size: 2.5vh;
    text-align: center;
}

.icone_derniere_course
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vh;
    width: 5vh;
}

/*** Liste des parcours ***/
.zone_liste_parcours
{
    display: block;
    width: 100%;
    margin-bottom: -1vh;
}

.zone_parcours
{
    display: block;
    width: calc(100% - 2vh);
    margin-bottom: 1.5vh;
    padding: 1vh;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    background-color: #e3e3e3;
}

.zone_parcours:active
{
    background-color: #d3d3d3;
}

.lien_parcours
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 6vh);
}

.nom_parcours
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 26vh);
    font-family: inside_font_regular, Verdana, sans-serif;
    color: #262626;
    font-size: 2.5vh;
    text-align: justify;
    word-wrap: break-word;
}

.distance_parcours
{
    display: inline-block;
    vertical-align: middle;
    width: 10vh;
    font-family: inside_font_light, Verdana, sans-serif;
    color: #262626;
    font-size: 2.5vh;
    text-align: center;
}

.lieu_parcours
{
    display: inline-block;
    vertical-align: middle;
    width: 10vh;
    font-family: inside_font_light, Verdana, sans-serif;
    color: #262626;
    font-size: 2.5vh;
    text-align: justify;
    word-wrap: break-word;
}

.zone_nombre_participations_parcours
{
    display: inline-block;
    vertical-align: middle;
    width: 6vh;
    height: 6vh;
}

.icone_nombre_participations
{
    display: block;
    margin-top: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 5vh;
    height: 5vh;
    filter: drop-shadow(0 0 0.1vh #7c7c7c);
}

.nombre_participations
{
    float: right;
    position: relative;
    z-index: 1;
    margin-top: -2vh;
    margin-right: -0.5vh;
    width: 2.5vh;
    height: 2.5vh;
    line-height: 2.5vh;
    background-color: #70d55d;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2vh;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.nombre_participations_zero
{
    float: right;
    position: relative;
    z-index: 1;
    margin-top: -2vh;
    margin-right: -0.5vh;
    width: 2.5vh;
    height: 2.5vh;
    line-height: 2.5vh;
    background-color: #b3b3b3;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2vh;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.lien_participer_parcours
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vh;
    width: 5vh;
    height: 5vh;
}

.icone_parcours
{
    width: 5vh;
    filter: drop-shadow(0 0 0.1vh #7c7c7c);
}

/*** Commun saisies ***/
.zone_saisie_lignes
{
    display: block;
    margin-bottom: 1.5vh;
}

.zone_saisie_ligne
{
    display: block;
    margin-top: 2vh;
}

.icone_saisie
{
    display: inline-block;
    vertical-align: middle;
    height: 4vh;
    width: 4vh;
    margin-right: 2vh;
}

.saisie_ligne
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 9vh);
    padding: 1.2vh 1.5vh 1.2vh 1.5vh;
    border-radius: 0.5vh;
    border: 0;
    box-shadow: 0 0 0.5vh #7c7c7c;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
}

.icone_saisie_textearea
{
    display: inline-block;
    vertical-align: top;
    height: 4vh;
    width: 4vh;
    margin-top: 0.5vh;
    margin-right: 2vh;
}

.saisie_textearea
{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 9vh);
    padding: 1.2vh 1.5vh 1.2vh 1.5vh;
    height: 15vh;
    min-height: 15vh;
    background-color: white;
    border-radius: 0.5vh;
    border: 0;
    box-shadow: 0 0 0.5vh #7c7c7c;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
    resize: none;
}

/*** Saisie parcours ***/
.zone_image_saisie
{
    display: block;
    width: 100%;
    height: 25vh;
    line-height: 24vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.zone_parcourir_image
{
    width: 100%;
    height: 100%;
    border-style: dashed;
    border-width: 0.5vh;
    border-radius: 0.5vh;
    border-color: #a3a3a3;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.logo_saisie_image
{
    width: 6vh;
    vertical-align: middle;
}

.bouton_parcourir_image
{
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin-top: -25vh;
    position: relative;
    z-index: 1;
}

.mask_image
{
    width: calc(100% - 1vh);
    height: calc(100% - 1vh);
    line-height: 24vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: -24.5vh;
    text-align: center;
}

.image
{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin-top: -0.5vh;
}

.zone_parcourir_document
{
    display: inline-block;
    width: calc(100% - 6vh);
    line-height: 6vh;
    border-radius: 0.5vh;
    font-family: inside_font_regular, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
    background-color: #e3e3e3;
    text-align: center;
    box-shadow: 0 0 0.5vh #7c7c7c;
}

.zone_parcourir_document:active
{
    background-color: #ff1937;
    color: white;
}

.bouton_parcourir_document
{
    float: left;
    opacity: 0;
    width: 100%;
    height: 6vh;
    margin-top: -6vh;
}

.texte_parcourir_document
{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: -1.5vh;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
    text-align: left;
    word-wrap: break-word;
}

/*** Saisie participation ***/
.saisie_ligne_participation
{
    display: inline-block;
    width: calc(100% - 16vh);
    padding: 1.2vh 1.5vh 1.2vh 1.5vh;
    border-radius: 0.5vh;
    border: 0;
    box-shadow: 0 0 0.5vh #7c7c7c;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
    vertical-align: middle;
}

.saisie_temps_participation
{
    display: inline-block;
    vertical-align: middle;
    width: calc((100% - 31.5vh) / 3);
    padding: 1.2vh 1.5vh 1.2vh 1.5vh;
    background-color: white;
    border-radius: 0.5vh;
    border: 0;
    box-shadow: 0 0 0.5vh #7c7c7c;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
}

.unite_saisie_participation
{
    display: inline-block;
    vertical-align: middle;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    margin-left: 1vh;
    width: 6vh;
    font-family: inside_font_regular, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
    text-align: left;
}

.unite_saisie_heures
{
    width: 2.5vh;
}

.unite_saisie_minutes
{
    width: 5vh;
}

.zone_radio_saisie_participation
{
    display: inline-block;
    width: calc(((100% - 6vh) / 2) - 1.5vh);
    padding-left: 0.5vh;
    text-align: left;
}

.zone_radio_saisie_participation:last-child
{
    margin-left: 2vh;
}

.radio_saisie_participation
{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.label_saisie_participation
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 4vh);
    padding: 1.2vh 0 1.2vh 4.5vh;
    margin-left: -4vh;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.3vh;
    color: #262626;
    background-color: #e3e3e3;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
}

/*** Détails parcours ***/
.zone_details_parcours
{
    display: block;
    width: 100%;
}

.zone_image_details_parcours
{
    display: block;
    margin-bottom: 1.5vh;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
}

.image_details_parcours
{
    display: block;
    width: 100%;
    transform: translateY(calc(-1 * (50% - 10vh)));
}

.zone_informations_details_parcours
{
    display: block;
    margin-bottom: 1.5vh;
    background-color: #e3e3e3;
    border-radius: 0.5vh;
    padding: 2vh 2vh 0 2vh;
}

.image_details_document
{
    display: block;
    margin-bottom: 1.5vh;
    width: 100%;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
}

.texte_details_parcours
{
    display: block;
    width: 100%;
    margin-bottom: 1.5vh;
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 3vh;
    color: #262626;
    text-align: justify;
    line-height: 4.5vh;
}

.texte_details_parcours::first-letter
{
    font-family: inside_font_regular, Verdana, sans-serif;
    font-size: 6vh;
}

.document_details_document
{
    display: block;
    margin-bottom: 1.5vh;
    padding: 1vh 1.5vh 1vh 1.5vh;
    width: calc(100% - 3vh);
    font-family: inside_font_regular, Verdana, sans-serif;
    color: white;
    font-size: 3vh;
    text-align: justify;
    background-color: #ff1937;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
}

.zone_donnee_details_parcours
{
    display: block;
    margin-bottom: 2vh;
}

.zone_donnee_details_parcours_lien
{
    display: block;
    padding-bottom: 2vh;
}

.icone_donnee_details_parcours
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1vh;
    width: 5vh;
}

.donnee_details_parcours
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 6vh);
    font-family: inside_font_light, Verdana, sans-serif;
    color: #262626;
    font-size: 3vh;
}

/*** Participations ***/
.zone_participations_parcours
{
    display: block;
    margin-bottom: -1vh;
}

.zone_participation_parcours
{
    display: block;
    width: 100%;
    margin-bottom: 1.5vh;
    background-color: #e3e3e3;
    border-radius: 0.5vh;
}

.zone_date_participation
{
    display: block;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: inside_font_light, Verdana, sans-serif;
    color: white;
    font-size: 3vh;
    background-color: #2eb2f4;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
    text-align: center;
}

.icone_date_participation
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1vh;
    width: 4vh;
    height: 4vh;
}

.texte_date_participation
{
    display: inline-block;
    vertical-align: middle;
}

.zone_participants_parcours
{
    display: block;
    width: calc(100% - 3vh);
    padding: 1.5vh;
}

.zone_participant
{
    display: block;
}

.zone_participant:not(:first-child)
{
    margin-top: 1.5vh;
}

.avatar_participant
{
    display: inline-block;
    vertical-align: middle;
    width: 6vh;
    height: 6vh;
    background-color: #262626;
    margin-right: 1vh;
    box-shadow: 0 0 0.5vh #7c7c7c;
    border-radius: 50%;
}

.pseudo_participant
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 20vh);
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
    word-break: break-word;
    text-align: justify;
}

.pseudo_participant_full
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 7vh);
    font-family: inside_font_light, Verdana, sans-serif;
    font-size: 2.5vh;
    color: #262626;
    word-break: break-word;
    text-align: justify;
}

.lien_actions_participation
{
    display: inline-block;
    vertical-align: middle;
}

.icone_modifier_participation
{
    display: inline-block;
    margin-left: 1vh;
    width: 6vh;
    height: 6vh;
    border: 0;
    background-color: transparent;
    background-image: url("/inside/includes/icons/common/edit_grey.png");
    background-size: 4vh 4vh;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    vertical-align: middle;
}

.icone_supprimer_participation
{
    display: inline-block;
    width: 6vh;
    height: 6vh;
    border: 0;
    background-color: transparent;
    background-image: url("/inside/includes/icons/common/delete_grey.png");
    background-size: 4vh 4vh;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    vertical-align: middle;
}

.zone_donnees_participant
{
    display: block;
    margin-top: 1vh;
}

.zone_donnees_participant:not(:last-child)
{
    border-bottom: solid 0.1vh #c3c3c3;
    padding-bottom: 1.5vh;
}

.zone_donnee_participant
{
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 5);
}

.icone_donnee_participant
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4vh;
}

.donnee_participant
{
    display: block;
    margin-top: 0.5vh;
    font-family: inside_font_light, Verdana, sans-serif;
    color: #262626;
    font-size: 2vh;
    text-align: center;
    word-wrap: break-word;
}