/*******************/
/*** Cooking Box ***/
/*******************/

/*** Saisie recette ***/
.zone_image_saisie
{
	display: block;
	width: 100%;
	height: 25vh;
	line-height: 24vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.zone_parcourir_image
{
	width: 100%;
	height: 100%;
	border-style: dashed;
	border-width: 0.5vh;
	border-radius: 0.5vh;
	border-color: #a3a3a3;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}

.logo_saisie_image
{
	width: 6vh;
	vertical-align: middle;
}

.bouton_parcourir_image
{
	display: block;
	opacity: 0;
	width: 100%;
	height: 100%;
	margin-top: -25vh;
	position: relative;
	z-index: 1;
}

.mask_image
{
	width: calc(100% - 1vh);
	height: calc(100% - 1vh);
	line-height: 24vh;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: -24.5vh;
	text-align: center;
}

.image
{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	margin-top: -0.5vh;
}

.saisie_annee_semaine
{
	display: block;
	width: 100%;
	margin-top: 2vh;
	padding: 1vh;
	border-radius: 0.5vh;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
	background-color: white;
}

.saisie_nom_recette
{
	display: block;
	width: calc(100% - 3vh);
	margin-top: 2vh;
	padding: 1.2vh 1.5vh 1.2vh 1.5vh;
	border: 0;
	background-color: white;
	border-radius: 0.5vh;
	box-shadow: 0 0 0.5vh #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
}

.zone_ingredient
{
    display: block;
    width: 100%;
    margin-bottom: 2vh;
}

.input_ingredient
{
    display: block;
	width: calc(100% - 3vh);
    margin-bottom: 1vh;
	padding: 1.2vh 1.5vh 1.2vh 1.5vh;
	border: 0;
	background-color: white;
	border-radius: 0.5vh;
	box-shadow: 0 0 0.5vh #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
}

.colored
{
    background-color: #70d55d;
    color: white;
}

.input_quantite
{
    display: inline-block;
	width: calc(70% - 4vh);
    margin-right: 1vh;
	padding: 1.2vh 1.5vh 1.2vh 1.5vh;
	border: 0;
	background-color: #e3e3e3;
	border-radius: 0.5vh;
	box-shadow: 0 0 0.5vh #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
}

.select_unite
{
    display: inline-block;
    width: 30%;
    padding: 1.2vh 1.5vh 1.2vh 1.5vh;
    border-radius: 0.5vh;
    border: 0;
    box-shadow: 0 0 0.5vh #7c7c7c;
    font-family: inside_font_regular, Verdana, sans-serif;
    font-size: 100%;
    color: #262626;
    background-color: white;
}

.filled
{
	background-color: #70d55d;
	color: white;
}

.bouton_ingredient
{
	display: block;
	width: 100%;
	background-color: #e3e3e3;
	height: 6.5vh;
	line-height: 6.5vh;
	border-radius: 0.5vh;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bouton_ingredient:active
{
	background-color: #70d55d;
	color: white;
}

.bouton_ingredient:active .fond_plus
{
	background-color: white;
	color: #262626;
}

.fond_plus
{
	display: inline-block;
	margin-left: 1.5vh;
	margin-right: 1.5vh;
	width: 3vh;
	height: 3vh;
	background-color: #70d55d;
	border-radius: 50%;
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
	text-align: center;
	line-height: 3vh;
}

.zone_preparation
{
    display: block;
}

.zone_remarques
{
    display: block;
	margin-bottom: 2vh;
}

.textarea_saisie
{
    display: block;
	height: 15vh;
	width: calc(100% - 3vh);
	padding: 1vh 1.5vh 1vh 1.5vh;
	border: 0;
	box-shadow: 0 0 0.5vh #7c7c7c;
	background-color: white;
	border-radius: 0.5vh;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
	resize: none;
}

/*** Saisie semaine ***/
.form_saisie_semaine, .form_saisie_realisation, .form_saisie_annulation
{
    width: 100%;
}

.listbox_users
{
	display: block;
	width: 100%;
	margin-top: 1vh;
	margin-bottom: 2vh;
	padding: 1vh;
	border-radius: 0.5vh;
	border: 0;
	background-color: white;
	box-shadow: 0 0 0.5vh #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 2.5vh;
	color: #262626;
}

.cake_done
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: inside_font_medium, Verdana, sans-serif;
    font-size: 3vh;
    color: #262626;
    text-align: center;
}

/*** Semaines ***/
.zone_semaine
{
	width: 100%;
	height: 8vh;
	margin-bottom: 1.5vh;
	border-radius: 0.5vh;
	box-shadow: 0 0 0.5vh #7c7c7c;
	overflow: hidden;
	background-color: #e3e3e3;
}

.avatar_semaine
{
	display: inline-block;
	vertical-align: middle;
	width: 6vh;
	height: 6vh;
	background-color: #262626;
	margin: 1vh 0 1vh 1vh;
	box-shadow: 0 0 0.5vh #7c7c7c;
	border-radius: 50%;
}

.pseudo_semaine
{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 18vh);
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
	padding-left: 1vh;
	padding-right: 1vh;
	word-break: break-word;
}

.zone_numero_semaine
{
	display: inline-block;
	vertical-align: middle;
	width: 8vh;
	height: 8vh;
	line-height: 8vh;
	text-align: center;
	padding-left: 0.5vh;
	padding-right: 0.5vh;
}

.numero_semaine
{
    display: inline-block;
    margin-top: 1vh;
    background-color: #ff1937;
    font-family: inside_font_medium, Verdana, sans-serif;
    font-size: 2.5vh;
    color: white;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
}

.numero_semaine_realisee
{
    background-color: #70d55d;
}

.semaine_vide
{
    display: inline-block;
	vertical-align: middle;
	width: calc(100% - 10vh);
	height: 6vh;
	line-height: 6vh;
	margin: 1vh 0 1vh 1vh;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
	word-break: break-word;
}

/*** Recettes ***/
.zone_recettes
{
	width: 100%;
	margin-bottom: -2.5vh;
}

.zone_recette
{
    display: block;
    width: 100%;
    margin-bottom: 3vh;
}

.icone_recette
{
    float: right;
    width: 4vh;
    padding: 1vh;
    border-radius: 50%;
    background-color: white;
    margin: 1vh 1vh -8vh 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0.5vh #7c7c7c;
}

.image_recette
{
    display: block;
    width: 100%;
    border-radius: 0.5vh;
}

.zone_infos_recette
{
    display: block;
}

.semaine_recette
{
    display: inline-block;
    vertical-align: top;
    background-color: #2eb2f4;
    margin-top: 1vh;
    margin-right: 1vh;
    line-height: 6vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 0.5vh;
    font-family: inside_font_light, Verdana, sans-serif;
    color: white;
}

.avatar_recette
{
    float: right;
    vertical-align: top;
    height: 6vh;
    width: 6vh;
    margin-top: 1vh;
    border-radius: 50%;
    box-shadow: 0 0 0.5vh #7c7c7c;
    background-color: #262626;
}

.form_delete_week, .lien_update_week
{
    float: right;
    vertical-align: top;
    margin-top: 1vh;
    margin-right: 2vh;
}

.icon_update_week
{
    width: 4vh;
    height: 4vh;
    padding: 0.5vh;
    margin-top: 0.5vh;
}

.icon_delete_week
{
    width: 5vh;
    height: 5vh;
    margin-top: 0.5vh;
    border: 0;
    background-image: url("/inside/includes/icons/common/delete_grey.png");
    background-size: 4vh 4vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}













/*** Détails recette ***/
/* TODO à terminer */