/**************/
/*** Profil ***/
/**************/

/*** Informations ***/
.zone_infos_profil
{
  display: block;
  margin-bottom: 2vh;
}

.zone_profil_avatar
{
	display: block;
	vertical-align: middle;
  width: 25vh;
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0.5vh #7c7c7c;
  border-radius: 50%;
  background-color: #262626;
  margin-bottom: 2vh;
  overflow: hidden;
}

.avatar_profil
{
	width: 100%;
}

.zone_texte_infos
{
  display: block;
  background-color: #e3e3e3;
  border-radius: 0.5vh;
  padding: 2vh 2vh 0 2vh;
}

.zone_info
{
  display: block;
  padding-bottom: 2vh;
}

.logo_profil
{
  display: inline-block;
  width: 5vh;
  vertical-align: middle;
  margin-right: 1vh;
}

.texte_profil
{
  display: inline-block;
  width: calc(100% - 6vh);
  vertical-align: middle;
  font-family: robotolight, Verdana, sans-serif;
  color: #262626;
  font-size: 3vh;
  word-wrap: break-word;
}

.fond_experience_profil
{
	display: inline-block;
	vertical-align: middle;
	background-color: white;
	height: 1vh;
	width: calc(100% - 6vh);
	border-radius: 2vh;
}

.experience_profil
{
	display: block;
	height: 100%;
	background-color: #ff1937;
	border-radius: 2vh;
}

/*** Contributions ***/
.zone_contributions_profil
{
  display: block;
  margin-bottom: -2vh;
}

.zone_contributions
{
	width: 100%;
	text-align: center;
	background-color: white;
  box-shadow: 0 0 0.5vh #7c7c7c;
  margin-bottom: 2vh;
	padding-bottom: 1vh;
	border-radius: 0.5vh;
}

.titre_contribution
{
	width: 100%;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.logo_titre_contribution
{
  display: inline-block;
	height: 4vh;
	vertical-align: middle;
	margin-right: 1vh;
}

.texte_titre_contribution
{
  display: inline-block;
  vertical-align: middle;
  font-family: robotothin, Verdana, sans-serif;
  color: #262626;
  font-size: 3.5vh;
  font-weight: bold;
  line-height: 4vh;
}

.zone_contribution
{
	display: inline-block;
  width: calc(50% - 0.1vh);
	text-align: center;
	vertical-align: top;
}

.border_left
{
  border-left: solid 0.2vh #b3b3b3;
}

.large
{
	width: 100%;
}

.stat_contribution
{
	display: block;
	font-family: robotothin, Verdana, sans-serif;
	color: #262626;
	font-size: 10vh;
	line-height: 10vh;
}

.texte_contribution
{
	display: block;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	font-size: 2.5vh;
}

/*** Paramètres ***/
.zone_avatar_parametres
{
  display: inline-block;
  vertical-align: top;
  border-right: solid 0.2vh #b3b3b3;
  width: calc(50% - 0.1vh);
}

.zone_parametres_avatar
{
	display: block;
	vertical-align: middle;
  width: 20vh;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0.5vh #7c7c7c;
  border-radius: 50%;
  background-color: #262626;
  margin-bottom: 2vh;
  overflow: hidden;
}

.avatar_parametres
{
  width: 100%;
}

.form_update_avatar
{
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 0.1vh);
}

.zone_saisie_image
{
	width: 20vh;
	height: 20vh;
	margin-bottom: 2vh;
	margin-left: auto;
	margin-right: auto;
}

.zone_parcourir_image
{
	width: 100%;
	height: 100%;
	border-style: dashed;
	border-width: 0.5vh;
	border-radius: 50%;
	border-color: #a3a3a3;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}

.symbole_saisie_image
{
	line-height: 19vh;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 10vh;
	color: #a3a3a3;
}

.bouton_parcourir_image
{
	display: block;
	opacity: 0;
	width: 100%;
	height: 100%;
	margin-top: -20vh;
	position: relative;
	z-index: 1;
}

.mask_image
{
	width: calc(100% - 1vh);
	height: calc(100% - 1vh);
	line-height: 19vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: -19.5vh;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
}

.image
{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	margin-top: -0.5vh;
}

.bouton_validation_image
{
	display: block;
	width: calc(100% - 4vh);
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
	background-color: #e3e3e3;
	border-radius: 0.5vh;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 3vh;
	color: #262626;
	cursor: pointer;
	text-align: center;
	border: 0;
  box-shadow: 0 0 0.5vh #7c7c7c;
}

.bouton_validation_image:active
{
	color: white;
	background-color: #ff1937;
}

.form_update_infos
{
  display: block;
  margin-top: 3vh;
}

.zone_saisie_information
{
  display: block;
  margin-bottom: 2vh;
}

.logo_information
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 2vh;
	width: 5vh;
	height: 5vh;
}

.saisie_information
{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 10vh);
  padding: 1.2vh 1.5vh 1.2vh 1.5vh;
  background-color: white;
  border-radius: 0.5vh;
  border: 0;
  box-shadow: 0 0 0.5vh #7c7c7c;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 2.5vh;
  color: #262626;
}

.bouton_validation_form
{
	display: block;
	width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #e3e3e3;
	border-radius: 0.5vh;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 3vh;
	color: #262626;
	cursor: pointer;
	text-align: center;
	border: 0;
  box-shadow: 0 0 0.5vh #7c7c7c;
}

.bouton_validation_form:active
{
	color: white;
	background-color: #ff1937;
}
