/*************/
/*** Index ***/
/*************/
/*** Zones ***/
.article_index
{
	overflow: hidden;
}

.zone_index
{
	width: 60%;
	height: 600px;
	box-shadow: 0 0 3px #7c7c7c;
	border-radius: 2px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(50vh - 320px);
}

.zone_index_left
{
	display: inline-block;
	width: calc(100% - 400px);
	height: 700px;
	background-color: #ff1937;
	vertical-align: top;
}

.zone_index_right
{
	display: inline-block;
	width: 400px;
	background-color: white;
	vertical-align: top;
}

/*** Partie gauche ***/
.zone_logo_index
{
	height: 540px;
}

.logo_index
{
	display: block;
	max-height: 520px;
	max-width: calc(100% - 20px);
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.zone_logos
{
	display: block;
	text-align: center;
	vertical-align: bottom;
	margin-top: -10px;
}

.zone_logo_categories
{
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 0 5px 10px 5px;
	text-align: center;
}

.logo_categories
{
	height: 30px;
	width: 30px;
	margin-top: 10px;
}

/*** Texte ***/
.zone_texte_index
{
	height: 540px;
	line-height: 540px;
	overflow-y: auto;
}

.texte_index
{
	display: inline-block;
	vertical-align: middle;
	padding: 20px;
	line-height: 1.5;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	font-size: 150%;
	text-align: justify;
}

/*** Connexion ***/
.zone_form_index
{
	height: 520px;
	line-height: 520px;
}

.form_index
{
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	vertical-align: middle;
}

.monoligne_index
{
	display: block;
	width: calc(100% - 20px);
	padding: 5px 10px 5px 10px;
	margin-bottom: 30px;
	border: 0;
	border-bottom: solid 2px #d3d3d3;
	background-color: transparent;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	font-size: 100%;
}

.bouton_index
{
	display: block;
	padding: 5px 20px 5px 20px;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	font-size: 100%;
	border: 0;
	background-color: #ff1937;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	cursor: pointer;
}

.bouton_index:hover
{
	background-color: #c81932;
}

/*** Boutons ***/
.zone_boutons_index
{
	display: block;
}

.lien_index
{
	display: inline-block;
	width: 50%;
	line-height: 80px;
	background-color: #e3e3e3;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	text-align: center;
	cursor: pointer;
}

.lien_index:hover
{
	background-color: #d3d3d3;
}
