/*******************/
/*** Calendriers ***/
/*******************/

/*** Années ***/
.zone_calendars_onglets
{
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin-right: 20px;
}

.zone_annees_calendrier
{
	display: block;
	width: 100%;
}

.annexes
{
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

.year
{
	display: inline-block;
	margin-bottom: 10px;
	width: calc(50% - 10px);
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

.active
{
	background-color: #ff1937;
	color: white;
}

.inactive
{
	background-color: white;
	color: #262626;
}

.inactive:hover
{
	color: white;
	background-color: #262626;
	text-decoration: none;
}

/*** Calendriers ***/
.zone_calendars
{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 280px);
}

.zone_calendriers
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_calendriers.masonry
{
	opacity: 1;
}

.zone_calendrier
{
	width: 250px;
	vertical-align: top;
	margin-bottom: 20px;
	text-decoration: none;
}

.calendrier
{
	width: 100%;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	background-color: white;
}

.titre_calendrier
{
	max-width: calc(100% - 130px);
	word-wrap: break-word;
	text-align: justify;
	margin-left: 20px;
	padding: 4px 5px 4px 5px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	display: inline-block;
}

.zone_boutons
{
	float: right;
	margin-right: 20px;
	line-height: 30px;
}

.download_calendar
{
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

.download_icon
{
	display: inline-block;
	vertical-align: bottom;
	padding: 2.5px;
	width: 25px;
}

.delete_calendar
{
	vertical-align: bottom;
	width: 30px;
	height: 30px;
	background-image: url("/inside/includes/icons/common/delete_grey.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
	border: 0;
}

/*** Annexes ***/
.titre_annexe
{
	width: calc(100% - 20px);
	padding: 5px 10px 5px 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
	margin-bottom: 10px;
}

/*** Zones ***/
.zone_calendars_left
{
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 10px);
	margin-right: 20px;
	margin-top: 20px;
}

.zone_saisie_calendars_left
{
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin-right: 20px;
}

.zone_saisie_calendars_right
{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 280px);
}

.zone_calendars_right
{
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 10px);
	margin-top: 20px;
}

/*** Saisies ***/
.zone_saisie_calendrier
{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.zone_saisie_image
{
	margin-bottom: 12px;
}

.zone_parcourir_image
{
	display: block;
	width: 254px;
	height: 359px;
	line-height: 359px;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 3px;
	border-radius: 2px;
	border-color: #a3a3a3;
	text-align: center;
	overflow: hidden;
}

.logo_saisie_image
{
	width: 40px;
	vertical-align: middle;
}

.bouton_parcourir_image
{
	display: block;
	opacity: 0;
	width: 254px;
	height: 359px;
	margin-top: -359px;
	cursor: pointer;
}

.mask_image
{
	width: 254px;
	height: 359px;
	overflow: hidden;
	margin-left: 3px;
	margin-top: -362px;
	line-height: 359px;
	text-align: center;
}

.image
{
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	margin-top: -4px;
}

.listbox
{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	border: 0;
	border-radius: 2px;
	background-color: #e3e3e3;
	box-shadow: 0 0 3px #7c7c7c;
}

.listbox option
{
	background-color: white;
}

.zone_bouton_saisie
{
	display: block;
	width: 100%;
	vertical-align: middle;
}

.zone_saisie_calendrier .zone_loading_form
{
	padding-top: 13.5px;
	padding-bottom: 13.5px;
}

.saisie_bouton
{
	width: 100%;
	background-color: #e3e3e3;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
	text-align: center;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
}

.saisie_bouton:hover
{
	background-color: #ff1937;
	color: white;
}

/*** Générateur ***/
.zone_calendars_top
{
	width: 100%;
}

.zone_calendrier_generator_left
{
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin-right: 20px;
}

.zone_parcourir_image_generator
{
	display: block;
	width: 254px;
	height: 323px;
	line-height: 323px;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 3px;
	border-radius: 2px;
	border-color: #a3a3a3;
	text-align: center;
	overflow: hidden;
}

.bouton_parcourir_image_generator
{
	display: block;
	opacity: 0;
	width: 254px;
	height: 323px;
	margin-top: -323px;
	cursor: pointer;
}

.mask_image_generator
{
	width: 254px;
	height: 323px;
	overflow: hidden;
	margin-left: 3px;
	margin-top: -326px;
	line-height: 323px;
	text-align: center;
}

.zone_calendrier_generator_middle
{
	display: inline-block;
	vertical-align: top;
	width: 289px;
	margin-right: 20px;
}

.form_sauvegarde_calendrier
{
	display: none;
	width: 100%;
}

.image_rendu_generator
{
	width: 100%;
	box-shadow: 0 0 3px #7c7c7c;
	margin-bottom: 5px;
	border-radius: 2px;
}

.zone_calendrier_generator_right
{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 280px);
}

.zone_calendrier_generator_hidden
{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.zone_calendrier_generator
{
	display: block;
	width: 3508px;
	height: 4961px;
}

.zone_entete_calendrier_generator
{
	display: block;
	width: 100%;
	height: 250px;
	background-color: #ff1937;
}

.mois_calendrier_generator
{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	font-family: robotoblack_italic, Verdana, sans-serif;
	font-size: 1500%;
	height: 210px;
	line-height: 160px;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	opacity: 0.5;
	border-bottom: solid 10px #c81932;
}

.rift_mois_calendrier_generator
{
	width: 100%;
	height: 5px;
	background-color: rgb(255, 255, 255, 0.1);
}

.zone_semaines_calendrier_generator
{
	display: inline-block;
	float: right;
	position: relative;
	z-index: 1;
	margin-top: -225px;
	height: 250px;
	padding-left: 50px;
	background-color: #c81932;
}

.semaines_calendrier_generator
{
	display: inline-block;
	vertical-align: top;
	line-height: 230px;
	padding-right: 50px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 700%;
	color: white;
}

.zone_numero_mois_calendrier_generator
{
	display: inline-block;
	vertical-align: top;
	width: 250px;
	height: 250px;
	text-align: center;
}

.image_mois_calendrier_generator
{
	background-color: white;
	width: 160px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 10px;
	margin-top: 25px;
}

.numero_mois_calendrier_generator
{
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 500%;
	color: #262626;
	line-height: 230px;
	margin-top: -205px;
	position: relative;
	z-index: 1;
}

.zone_corps_calendrier_generator
{
	display: block;
	width: calc(100% - 100px);
	height: calc(100% - 600px);
	background-color: white;
	padding: 50px;
}

.fond_corps_calendrier_generator
{
	position: absolute;
	margin-top: -50px;
	margin-left: -50px;
	opacity: 0.5;
}

.table_calendrier_generator
{
	position: relative;
	z-index: 1;
	border-collapse: collapse;
	border-style: hidden;
	width: 100%;
	height: 100%;
}

.table_calendrier_generator td
{
	overflow: hidden;
	border: 2.5px solid #262626;
}

.table_calendrier_generator tr:first-child td
{
	border-top: 0;
}

.table_calendrier_generator tr:last-child .jour_calendrier_generator
{
	border-bottom: 0;
}

.table_calendrier_generator .ligne_jours_calendrier_generator td:not(:last-child),
.table_calendrier_generator .jour_calendrier_generator:not(:last-child)
{
	width: 490px;
}

.ligne_jours_calendrier_generator
{
	height: 130px;
	text-align: right;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 350%;
}

.ligne_jours_calendrier_generator td
{
	width: calc(100% - 100px);
	padding: 0px 50px 20px 50px;
	vertical-align: text-bottom;
}

.ligne_jours_calendrier_generator td:first-child
{
	border-left: 0;
}

.ligne_jours_calendrier_generator td:last-child
{
	border-right: 0;
	text-align: center;
}

.ligne_calendrier_generator
{
	vertical-align: top;
}

.ligne_calendrier_generator .jour_calendrier_generator:not(:last-child)
{
	line-height: 100%;
}

.ligne_calendrier_generator .jour_calendrier_generator:first-child
{
	border-left: 0;
}

.ligne_calendrier_generator .jour_calendrier_generator:last-child
{
	border-right: 0;
}

.image_gateau_calendrier_generator
{
	height: 150px;
	vertical-align: text-bottom;
}

.numero_jour_calendrier_generator
{
	margin: 10px;
	width: calc(100% - 65px);
	line-height: 50px;
	padding: 10px 35px 10px 10px;
	text-align: right;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 300%;
	background-color: rgba(211, 211, 211, 0.7);
	border-radius: 5px;
}

.jour_vacances_calendrier_generator
{
	background-color: rgba(255, 25, 55, 0.7);
	color: white;
}

.zone_jour_ferie_calendrier_generator
{
	position: absolute;
	margin-right: 10px;
	margin-left: 10px;
	width: 568px;
	text-align: center;
	line-height: 100%;
	background-color: #262626;
	border-radius: 5px;
}

.jour_ferie_calendrier_generator
{
	display: inline-block;
	vertical-align: middle;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 600%;
	color: white;
	word-wrap: break-word;
	line-height: 120px;
}

.zone_pied_calendrier_generator
{
	display: block;
	width: 100%;
	height: 250px;
	background-color: #262626;
}

.annee_calendrier_generator
{
	display: inline-block;
	vertical-align: top;
	font-family: robotoblack_italic, Verdana, sans-serif;
	font-size: 1500%;
	line-height: 210px;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	opacity: 0.5;
}

.zone_signature_calendrier_generator
{
	display: inline-block;
	float: right;
	height: 250px;
	opacity: 0.3;
}

.signature_calendrier_generator
{
	display: inline-block;
	vertical-align: top;
	height: 250px;
	line-height: 250px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	border-left: solid 1px rgb(255, 255, 255, 0.2);
}

.texte_signature_calendrier_generator
{
	display: inline-block;
	vertical-align: middle;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 300%;
	line-height: 40px;
	color: #262626;
	text-align: right;
}

.triangle_1
{
	display: inline-block;
	vertical-align: top;
	margin-left: -80px;
	height: 0;
	width: 0;
	border-bottom: 250px solid white;
	border-left: 70px solid transparent;
}

.triangle_2
{
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	height: 0;
	width: 0;
	border-top: 250px solid white;
	border-right: 70px solid transparent;
}
