/**************/
/*** Commun ***/
/**************/

/*** Général ***/
html
{
	height: 100%;
}

body
{
	min-height: 100vh;
	margin: 0;
	position: relative;
	background-color: #fbfbfb;
	background-image:	linear-gradient(transparent 199px, rgba(220, 220, 200, 0.6) 200px, transparent 200px), linear-gradient(90deg, transparent 199px, rgba(220, 220, 200, 0.6) 200px, transparent 200px);
	background-size: 100% 200px, 200px 100%;
	background-repeat: repeat, repeat;
}

section:not(.section_no_nav)
{
	width: 100%;
	min-height: calc(100vh - 320px); /*marges = header + onglets + footer + padding*/
	height: 100%;
	padding-top: 30px;
	padding-bottom: 110px;
}

.section_no_nav
{
	width: 100%;
	min-height: calc(100vh - 270px); /*marges = header + footer + padding*/
	height: 100%;
	padding-top: 30px;
	padding-bottom: 110px;
}

article
{
	width: calc(100% - 15%);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
}

a:link, a:visited, a:hover, a:active
{
	outline: none;
	text-decoration: none;
}

input:focus, textarea:focus
{
	outline: none;
}

/*** Entête ***/
header
{
	position: relative;
	z-index: 2;
}

.zone_bandeau
{
	background-color: #262626;
	width: 100%;
	height: 80px;
	line-height: 80px;
	overflow: hidden;
}

.zone_bandeau_left
{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 80px;
}

.zone_bandeau_right
{
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 50%;
	height: 80px;
}

.logo_bandeau
{
	float: left;
	height: 150px;
	margin-top: -35px;
	margin-left: -30px;
}

/*** Notifications ***/
.zone_notifications_bandeau
{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 70px;
	height: 80px;
	background-color: #1b1b1b;
}

.link_notifications
{
	display: block;
	width: 70px;
	line-height: 80px;
	text-align: center;
}

.icon_notifications
{
	width: 50px;
	vertical-align: middle;
	margin-top: -4px;
}

@keyframes rotateNotifs
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(-10deg);
	}
	50%
	{
		transform: rotateZ(0deg);
	}
	75%
	{
		transform: rotateZ(5deg);
	}
	100%
	{
		transform: rotateZ(0deg);
	}
}

.link_notifications:hover .icon_notifications
{
	animation: rotateNotifs 0.2s ease-in 3;
}

.number_notifications
{
	float: left;
	margin-top: -82px;
	width: 70px;
	text-align: center;
	color: #262626;
	position: relative;
	z-index: 1;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 120%;
}

.zone_details_notifications
{
	position: absolute;
	margin-top: 3px;
	filter: drop-shadow(0px 0px 2px #5c5c5c);
}

.triangle_details_notifications
{
	margin-left: 25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #262626 transparent;
}

.compteurs_details_notifications
{
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	background-color: #262626;
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
}

.ligne_details_notifications
{
	display: block;
	line-height: 40px;
}

.number_notifications_details
{
	display: inline-block;
	margin-right: 5px;
	background-color: #ff1937;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}

/*** Barre de recherche ***/
.zone_recherche_bandeau
{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	max-width: calc(100% - 210px);
	height: 80px;
}

.form_recherche_bandeau
{
	width: 100%;
	line-height: 80px;
}

.logo_rechercher
{
	display: inline-block;
	background-color: #ff1937;
	width: 50px;
	height: 42px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	vertical-align: middle;
	margin-top: -4px;
	border: 0;
	background-image: url("/inside/includes/icons/common/search.png");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 45% center;
	cursor: pointer;
}

.recherche_bandeau
{
	background-color: #e3e3e3;
	line-height: 40px;
	min-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border: 0;
	width: calc(100% - 68px);
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	vertical-align: middle;
	margin-left: -4px;
	margin-top: -4px;
}

/*** Page & profil ***/
.zone_titre_page
{
	display: inline-block;
	vertical-align: top;
	font-family: inside_font_light_italic, Verdana, sans-serif;
	font-size: 150%;
	color: white;
	height: 80px;
	padding-right: 20px;
	max-width: calc(40% - 20px);
	text-align: right;
}

.text_titre_page
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	line-height: 20px;
}

.zone_equipe_bandeau
{
	position: absolute;
	right: 0;
	line-height: 20px;
}

.equipe_bandeau
{
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 8px;
	line-height: 20px;
	background-color: #ff1937;
	font-family: inside_font_light_italic, Verdana, sans-serif;
	font-size: 80%;
	color: white;
}

.triangle_equipe_bandeau
{
	display: inline-block;
	vertical-align: top;
	height: 0;
	width: 0;
	border-left : 8px solid transparent;
	border-top : 20px solid #ff1937;
}

.zone_profil_bandeau
{
	display: inline-block;
	background-color: #1b1b1b;
	line-height: 80px;
	max-width: calc(60% - 40px);
	text-decoration: none;
}

.pseudo_bandeau
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	max-width: calc(100% - 110px);
	max-height: 80px;
	line-height: 20px;
	padding-left: 20px;
	padding-right: 10px;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 100%;
	color: #7c7c7c;
	text-decoration: none;
	text-align: justify;
	word-break: break-word;
}

.avatar_bandeau
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	padding: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	transform: rotateY(0deg);
}

.zone_profil_bandeau:hover .avatar_bandeau
{
	transform: rotateY(360deg);
	transition: transform 0.6s ease;
}

.level_header
{
	position: absolute;
	top: 5px;
	right: 95px;
	border-radius: 50%;
	background-color: #ff1937;
	width: 22px;
	height: 22px;
	line-height: 20px;
	z-index: 3;
	font-family: inside_font_regular, Verdana, sans-serif;
	font-size: 80%;
	color: white;
	text-align: center;
}

.experience_header
{
	position: absolute;
	top: 4px;
	right: 46px;
}

.zone_actions_header
{
	display: inline-block;
	width: 40px;
	height: 80px;
	vertical-align: top;
	background-color: #1b1b1b;
}

.icone_action_header
{
	display: block;
	width: 25px;
	height: 25px;
	padding: 7.5px;
}

.icone_deconnexion_header
{
	display: block;
	width: 40px;
	height: 40px;
	border: 0;
	background-image: url("/inside/includes/icons/common/logout.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
}

/*** Nav (menu catégories) ***/
.separation_nav
{
	background-color: #1b1b1b;
	width: 100%;
	height: 2px;
	border-bottom: solid 1px #262626;
}

.menu_nav
{
	background-color: #303030;
	text-align: center;
	height: 50px;
}

.logo_onglet
{
	height: 30px;
	width: 30px;
	padding: 10px 20px 10px 20px;
}

.onglet_inactif
{
	display: inline-block;
	height: 50px;
	background-color: #303030;
}

.onglet_inactif:hover
{
	background-color: #262626;
}

.onglet_actif
{
	display: inline-block;
	height: 50px;
	background-color: #262626;
}

/*** Liens de saisie ***/
.zone_liens_saisie
{
	text-align: center;
}

.lien_categorie
{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	background-color: #e3e3e3;
	border-radius: 2px;
	margin-bottom: 15px;
	overflow: hidden;
	box-shadow: 0 0 3px #7c7c7c;
}

.zone_logo_lien
{
	float: left;
	width: 50px;
	height: 50px;
	background-color: #ff1937;
	text-align: center;
}

.zone_texte_lien
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 50px;
	font-family: inside_font_regular, Verdana, sans-serif;
	color: #262626;
}

.image_lien
{
	width: 35px;
	height: 35px;
	margin-top: 7.5px;
}

/*** Titres sections ***/
.titre_section
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: inside_font_regular, Verdana, sans-serif;
	font-size: 150%;
	font-weight: bold;
	border-bottom: solid 1px #b3b3b3;
	line-height: 30px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262626;
	text-align: left;
	word-break: break-word;
}

.logo_titre_section
{
	display: inline-block;
	height: 25px;
	width: 25px;
	vertical-align: top;
	margin-top: 5px;
}

.texte_titre_section
{
	display: inline-block;
	width: calc(100% - 35px);
	margin-left: 10px;
	vertical-align: middle;
}

/*** Ombre ancres ***/
.zone_shadow
{
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Texte zone vide ***/
.empty
{
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 150%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

/*** Alertes ***/
.fond_alerte
{
	display: none;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 15;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.zone_affichage_alerte
{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	text-align: left;
	padding: 10px;
	border-radius: 2px;
	background-color: white;
	z-index: 10;
}

.zone_titre_alerte
{
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #d3d3d3;
}

.image_alerte
{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	margin-right: 10px;
}

.titre_alerte
{
	display: inline-block;
	vertical-align: middle;
	font-family: inside_font_medium, Verdana, sans-serif;
	color: #262626;
	font-size: 120%;
}

.zone_alertes
{
	display: block;
	width: 100%;
	min-height: 80px;
}

.zone_texte_alerte
{
	display: block;
	margin-top: 10px;
}

.logo_alerte
{
	display: inline-block;
	vertical-align: top;
	height: 25px;
	margin-right: 10px;
}

.texte_alerte
{
	display: inline-block;
	width: calc(100% - 35px);
	vertical-align: top;
	text-align: justify;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
	font-size: 100%;
}

.bouton_alerte
{
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	width: 80px;
	background-color: #ff1937;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
	font-size: 100%;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
}

.bouton_alerte:hover
{
	background-color: #c81932;
}

/*** Symbole chargement page ***/
.zone_loading_page
{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.loading_page
{
	width: 0;
	background-color: #262626;
	border-radius: 50px;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Symbole chargement formulaire ***/
.zone_loading_form
{
	width: 100%;
}

.loading_form
{
	width: 0;
	background-color: #262626;
	border-radius: 50px;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Zoom images ***/
.fond_zoom
{
	display: none;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 100vh;
	overflow: hidden;
}

.zone_image_zoom
{
	display: inline-block;
	vertical-align: middle;
}

.lien_zoom
{
	float: right;
	margin-top: -40px;
	margin-left: -30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.close_zoom
{
	display: block;
	width: 20px;
	padding: 5px;
	transform: rotate(0deg);
	transition: transform 0.2s ease;
}

.close_zoom:hover
{
	transform: rotate(90deg);
	transition: transform 0.2s ease;
}

.image_zoom
{
	display: block;
	max-width: calc(100vw - 100px);
	max-height: calc(100vh - 150px);
	border-radius: 2px;
}

.image_zoom_2
{
	display: block;
	max-width: calc(100vw - 515px);
	max-height: calc(100vh - 150px);
	border-radius: 2px;
}

.zone_texte_zoom
{
	display: inline-block;
	max-height: calc(100vh - 150px);
	width: 400px;
	vertical-align: middle;
	margin-left: 15px;
	border-radius: 2px;
	background-color: white;
}

.texte_zoom
{
	height: 100%;
	overflow-y: auto;
	line-height: 100%;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

/*** Déblocage succès & zoom ***/
.fond_zoom_succes
{
	display: block;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 100vh;
	overflow-y: auto;
}

.zone_success_zoom
{
	display: inline-block;
	margin: 50px;
	vertical-align: middle;
	line-height: 100%;
}

.titre_zone_succes_zoom
{
	font-family: inside_font_thin, Verdana, sans-serif;
	font-size: 300%;
	color: white;
	line-height: 140%;
	margin-bottom: 20px;
}

.zone_succes_zoom
{
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin-bottom: 20px;
}

.titre_succes_zoom
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-family: inside_font_medium, Verdana, sans-serif;
	font-size: 200%;
	color: white;
	line-height: 120%;
}

.logo_succes_zoom
{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 2px;
}

.description_succes_zoom
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 2px;
	width: calc(90% - 10px);
	line-height: 120%;
	background-color: #ffad01;
	font-family: inside_font_thin, Verdana, sans-serif;
	font-size: 160%;
	color: white;
	box-shadow: 0 0 3px #7c7c7c;
}

.explications_succes_zoom
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	width: calc(90% - 10px);
	line-height: 120%;
	font-family: inside_font_thin_italic, Verdana, sans-serif;
	font-size: 140%;
	color: white;
}

.zone_boutons_succes_zoom
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bouton_succes_zoom
{
	display: inline-block;
	padding: 10px 20px 10px 20px;
	font-family: inside_font_medium, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	background-color: #b3b3b3;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	cursor: pointer;
	text-decoration: none;
}

.bouton_succes_zoom:hover
{
	background-color: #ff1937;
}

.bouton_succes_zoom_margin
{
	margin-right: 20px;
}

/*** Pagination ***/
.zone_pagination
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 30px;
}

.numero_page_active
{
	background-color: #ff1937;
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 40px;
	border-radius: 50%;
}

.numero_page_inactive
{
	background-color: #a3a3a3;
	font-family: inside_font_light, Verdana, sans-serif;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 40px;
	border-radius: 50%;
}

.numero_page_inactive:hover
{
	background-color: #c81932;
}

.lien_pagination
{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
	border-radius: 50%;
}

.points
{
	display: inline-block;
	font-family: inside_font_light, Verdana, sans-serif;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #262626;
}

/*** Pied de page ***/
footer
{
	background-color: #262626;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.version
{
	display: inline-block;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
	text-decoration: none;
}

.link_footer_active
{
	display: inline-block;
	vertical-align: bottom;
	width: 60px;
	height: 50px;
	background-color: #1b1b1b;
}

.link_footer
{
	display: inline-block;
	vertical-align: bottom;
	width: 60px;
	height: 50px;
	background-color: #262626;
}

.link_footer:hover
{
	background-color: #1b1b1b;
}

.icone_footer
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.count_bugs
{
	float: right;
	position: relative;
	z-index: 1;
	margin: -14px 5px 5px -25px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #ff1937;
}

.number_bugs
{
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
	text-align: center;
	line-height: 18px;
	font-size: 65%;
}

.zone_footer_right
{
	float: right;
}

.copyright
{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 50px;
	font-family: inside_font_light, Verdana, sans-serif;
	color: white;
}

/*** Icônes des missions (générées) ***/
.header_left_mission
{
	position: absolute;
	top: 15px;
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.header_middle_mission
{
	position: absolute;
	top: 30px;
	left: calc(50% - 25px);
	height: 50px;
	width: 50px;
	z-index: 5;
}

.header_right_mission
{
	position: absolute;
	top: 15px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_top_left_mission
{
	position: absolute;
	top: 150px;
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_top_left_mission_no_nav
{
	position: absolute;
	top: 100px;
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_middle_left_mission
{
	position: absolute;
	top: calc(50% - 25px);
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_bottom_left_mission
{
	position: absolute;
	bottom: 70px;
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_top_right_mission
{
	position: absolute;
	top: 150px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_top_right_mission_no_nav
{
	position: absolute;
	top: 100px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_middle_right_mission
{
	position: absolute;
	top: 50%;
	margin-top: -25px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_bottom_right_mission
{
	position: absolute;
	bottom: 70px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.footer_left_mission
{
	position: absolute;
	bottom: 5px;
	left: 0;
	height: 40px;
	width: 40px;
	z-index: 5;
}

.footer_middle_mission
{
	position: absolute;
	bottom: 0;
	left: calc(50% - 20px);
	height: 40px;
	width: 40px;
	z-index: 5;
}

.footer_right_mission
{
	position: absolute;
	bottom: 5px;
	right: 0;
	height: 40px;
	width: 40px;
	z-index: 5;
}

.header_left_mission input, .header_middle_mission input, .header_right_mission input,
.article_top_left_mission input, .article_top_left_mission_no_nav input, .article_middle_left_mission input, .article_bottom_left_mission input,
.article_top_right_mission input, .article_top_right_mission_no_nav input, .article_middle_right_mission input, .article_bottom_right_mission input
{
	border: 0;
	background-color: transparent;
	height: 50px;
	width: 50px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	vertical-align: top;
	cursor: pointer;
}

.footer_left_mission input, .footer_middle_mission input, .footer_right_mission input
{
	border: 0;
	background-color: transparent;
	height: 40px;
	width: 40px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	vertical-align: top;
	cursor: pointer;
}

/*** Tailles ***/
.width_100
{
	width: 100%;
}

/*** Marges ***/
.margin_top_moins_20
{
	margin-top: -20px;
}

.margin_top_0
{
	margin-top: 0;
}

.margin_top_10
{
	margin-top: 10px;
}

.margin_top_20
{
	margin-top: 20px;
}

.margin_top_60
{
	margin-top: 60px;
}

.margin_right_10
{
	margin-right: 10px;
}

.margin_right_20
{
	margin-right: 20px;
}

.margin_bottom_moins_30
{
	margin-bottom: -30px;
}

.margin_bottom_0
{
	margin-bottom: 0;
}

.margin_left_50
{
	margin-left: 50px;
}