/****************************/
/*** Les Petits Pédestres ***/
/****************************/

.PP-parcours
{
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	width: 100%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 30px;
	text-align: left;
}

.PP-titre
{
	font-size: 150%;
	color: #c81932;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: -2;
}

.label_parcours
{
	padding: 10px 0 10px 10px;
	width: 70px;
	border-radius: 5px;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
}

.PP-recherche
{
	display: inline-block;
	width: calc(70% - 20px);
	border: 0;
	background-color: white;
	padding: 6px 10px 6px 10px;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 100%;
}

.PP-tri
{
	display: inline-block;
	width: calc(30% - 25px);
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 5px;
	font-family: inside_font_light, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	border: 0;
	border-radius: 2px;
	background-color: #e3e3e3;
	box-shadow: 0 0 3px #7c7c7c;
}

.PP-table
{
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #e3e3e3;
	background-color: white;
}

.PP-table td
{
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
}

.PP-tr
{
	background-color: #f3f3f3;
}

.PP-table-titre
{
	height: 40px;
	width: 120px;
	text-align: center;
	background-color: #ffad01;
	border-top: 1px solid #e3e3e3;
	font-family: inside_font_regular, Verdana, sans-serif;
	font-weight: bold;
	color: #262626;
}

.PP-table-ligne
{
	text-align: center;
	line-height: 30px;
	font-family: inside_font_light, Verdana, sans-serif;
	color: #262626;
}

.PP-image
{
	max-height: 400px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.PP-contenu-saisie
{
	width: 100%;
	background-color: #f3f3f3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.PP-form-saisie
{
	padding: 1.5%;
	text-align: center;
}

.PP-zone-saisie-avancee-infos
{
	display: inline-block;
	vertical-align: top;
	width: 49.25%;
	margin-right: 0.75%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background-color: #e3e3e3;
	border-radius: 5px;
}

.PP-monoligne
{
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	line-height: 40px;
	min-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background-color: white;
	border-radius: 5px;
	font-family: inside_font_light_italic, Verdana, sans-serif;
	font-size: 110%;
	color: #262626;
}
