/*******************/
/*** Calendriers ***/
/*******************/

/*** Zones ***/
.zone_calendars_left
{
	display: inline-block;
	width: 260px;
	vertical-align: top;
}

.zone_saisie_calendrier
{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.zone_annees_calendrier
{
	display: block;
	width: 100%;
}

.zone_calendars_right
{
	display: inline-block;
	width: calc(100% - 280px);
	margin-left: 20px;
	vertical-align: top;
}

/*** Saisie ***/
.listbox
{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	border: 0;
	border-radius: 2px;
	background-color: #e3e3e3;
	box-shadow: 0 0 3px #7c7c7c;
}

.listbox option
{
	background-color: white;
}

.zone_saisie_image
{
	margin-bottom: 12px;
}

.zone_parcourir_image
{
	display: block;
	width: 254px;
	height: 359px;
	line-height: 359px;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 3px;
	border-radius: 2px;
	border-color: #a3a3a3;
	text-align: center;
	overflow: hidden;
}

.logo_saisie_image
{
	width: 40px;
	vertical-align: middle;
}

.bouton_parcourir_image
{
	display: block;
	opacity: 0;
	width: 254px;
	height: 359px;
	margin-top: -359px;
	cursor: pointer;
}

.mask_image
{
	width: 254px;
	height: 359px;
	overflow: hidden;
	margin-left: 3px;
	margin-top: -362px;
	line-height: 359px;
}

.image
{
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	margin-top: -4px;
}

.zone_bouton_saisie
{
	display: block;
	width: 100%;
	vertical-align: middle;
}

.zone_saisie_calendrier .zone_loading_form
{
	padding-top: 13.5px;
	padding-bottom: 13.5px;
}

.saisie_bouton
{
	width: 100%;
	background-color: #e3e3e3;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
	text-align: center;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
}

.saisie_bouton:hover
{
	background-color: #ff1937;
	color: white;
}

/*** Années ***/
.annexes
{
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

.year
{
	display: inline-block;
	margin-bottom: 10px;
	width: calc(50% - 10px);
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

.active
{
	background-color: #ff1937;
	color: white;
}

.inactive
{
	background-color: white;
	color: #262626;
}

.inactive:hover
{
	color: white;
	background-color: #262626;
	text-decoration: none;
}

/*** Calendriers ***/
.zone_calendriers
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_calendriers.masonry
{
	opacity: 1;
}

.zone_calendrier
{
	width: 250px;
	vertical-align: top;
	margin-bottom: 20px;
	text-decoration: none;
}

.calendrier
{
	width: 100%;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	background-color: white;
}

.titre_calendrier
{
	max-width: calc(100% - 130px);
	word-wrap: break-word;
	text-align: justify;
	margin-left: 20px;
	padding: 4px 5px 4px 5px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	display: inline-block;
}

.zone_boutons
{
	float: right;
	margin-right: 20px;
	line-height: 30px;
}

.download_calendar
{
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

.download_icon
{
	display: inline-block;
	vertical-align: bottom;
	padding: 2.5px;
	width: 25px;
}

.delete_calendar
{
	vertical-align: bottom;
	width: 30px;
	height: 30px;
	background-image: url("/inside/includes/icons/common/delete_grey.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
	border: 0;
}

/*** Annexes ***/
.titre_annexe
{
	width: calc(100% - 20px);
	padding: 5px 10px 5px 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
	margin-bottom: 10px;
}
