/**********************/
/*** Expense Center ***/
/**********************/

/*** Tableau saisie ***/
.zone_saisie_depense
{
	float: left;
	width: 50%;
	margin-left: 10%;
	margin-top: 30px;
}

.table_saisie_depense
{
	border-collapse: collapse;
}

.table_saisie_depense td
{
	border: solid 1px #b3b3b3;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.titre_user_depense
{
	font-family: robotobold, Verdana, sans-serif;
	width: 15%;
	text-align: center;
	vertical-align: top;
	background-color: #e3e3e3;
}

.zone_saisie_prix
{
	text-align: center;
}

.saisie_prix
{
	border: 0;
	background-color: #e3e3e3;
	color: black;
	border-radius: 5px;
	padding: 10px;
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 90%;
}

.euro
{
	font-family: robotolight, Verdana, sans-serif;
}

.saisie_commentaire_depense
{
	border: 0;
	background-color: #e3e3e3;
	color: black;
	border-radius: 5px;
	padding: 10px;
	width: 80%;
	height: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 90%;
	resize: none;
}

.parts
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 10px;
	font-family: robotolight, Verdana, sans-serif;
}

.add_depense
{
	display: block;
	border: 0;
	background-color: #e3e3e3;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 110%;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.add_depense:hover
{
	background-color: rgb(255, 25, 55);
	color: white;
	cursor: pointer;
}

/*** Tableau bilans ***/
.zone_total_depenses
{
	float: right;
	width: 28%;
	margin-right: 10%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.table_total_depenses
{
	border-collapse: collapse;
	width: 100%;
}

.td_init_depenses
{
	padding: 10px;
	background-color: #e3e3e3;
	border: solid 1px #b3b3b3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
}

.td_depenses
{
	padding: 5px;
	border: solid 1px #b3b3b3;
	font-family: robotolight, Verdana, sans-serif;
}

.zone_avatar_total_depenses
{
	float: left;
	background-color: #e3e3e3;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.avatar_total_depenses
{
	max-width: 30px;
	max-height: 30px;
}

.pseudo_total_depenses
{
	line-height: 30px;
	margin-left: 40px;
}

.somme_bilan
{
	float: right;
}

/*** Onglets ***/
.expense_year
{
	clear: both;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 1px rgb(255, 25, 55);
	margin-bottom: -20px;
}

.expense_year_active
{
	display: inline-block;
	line-height: 30px;
	height: 30px;
	width: 80px;
	text-align: center;
	background-color: rgb(255, 25, 55);
	color: white;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
}

.expense_year_inactive
{
	display: inline-block;
	line-height: 30px;
	height: 30px;
	width: 80px;
	text-align: center;
	background-color: white;
	color: black;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
}

.expense_year_inactive:hover
{
	color: white;
	background-color: rgb(200, 25, 50);
	text-decoration: none;
}

/*** Tableau résumé ***/
.zone_resume_depenses
{
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*.table_expense_center
{
	border-collapse: collapse;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.table_expense_center tr
{
	border-bottom: solid 1px #b3b3b3;
	border-top: solid 1px #b3b3b3;
}*/

.table_expense_center
{
  border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.table_expense_center td
{
	border: 1px solid #BDC3C7;
}

.init_table_expense_center
{
	height: 40px;
	text-align: center;
	background-color: #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
}

.init_table_expense_center_users
{
	height: 40px;
	text-align: center;
	background-color: #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
	padding: 5px;
	vertical-align: top;
}

.zone_avatar_expense_center
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.avatar_expense_center
{
	max-width: 40px;
	max-height: 40px;
}

.pseudo_expense_center
{
	font-size: 70%;
}

.ligne_tableau_expense_center:hover
{
	background-color: #fffde8;
}

.table_price_expense_center
{
	text-align: center;
	font-family: robotolight, Verdana, sans-serif;
}

.table_buyer_expense_center
{
	text-align: center;
	font-family: robotolight, Verdana, sans-serif;
	max-width: 100px;
	padding: 5px;
}

.table_date_expense_center
{
	width: 130px;
	text-align: center;
	line-height: 30px;
	font-family: robotoregular, Verdana, sans-serif;
}

.table_users_expense_center
{
	text-align: center;
	line-height: 30px;
	font-family: robotolight, Verdana, sans-serif;
}

.part_bold
{
	font-weight: bold;
}

.table_comment_expense_center
{
	text-align: justify;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: robotolight, Verdana, sans-serif;
}

.action_depenses
{
	text-align: center;
}

.link_action_depenses
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.icone_modifier_depense
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: rgb(255, 25, 55);
	background-image: url("/inside/includes/icons/edit.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}

.icone_supprimer_depense
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: rgb(255, 25, 55);
	background-image: url("/inside/includes/icons/delete.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}

.saisie_prix_2
{
	border: 0;
	background-color: #e3e3e3;
	color: black;
	border-radius: 5px;
	padding: 10px;
	width: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 90%;
	width: 50%;
}

.buyer
{
	margin-left: auto;
	margin-right: auto;
	width: 88%;
	padding: 10px;
	font-family: robotolight, Verdana, sans-serif;
}

.parts_2
{
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-family: robotolight, Verdana, sans-serif;
}

.saisie_commentaire_depense_2
{
	border: 0;
	background-color: #e3e3e3;
	color: black;
	border-radius: 5px;
	padding: 10px;
	width: 80%;
	height: 60px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 90%;
	resize: none;
}

.icone_valider_depense
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: rgb(255, 25, 55);
	background-image: url("/inside/includes/icons/validate.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}

.icone_annuler_depense
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: rgb(255, 25, 55);
	background-image: url("/inside/includes/icons/cancel.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}

.no_expenses
{
	text-align: center;
	line-height: 100px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotoregular, Verdana, sans-serif;
}
