/*******************/
/*** Movie House ***/
/*******************/

/*** Onglets ***/
.movie_year
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 1px #ff1937;
}

.movie_year_active
{
	display: inline-block;
	line-height: 30px;
	height: 30px;
	width: 80px;
	text-align: center;
	background-color: #ff1937;
	color: white;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
}

.movie_year_inactive
{
	display: inline-block;
	line-height: 30px;
	height: 30px;
	width: 80px;
	text-align: center;
	background-color: transparent;
	color: black;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
}

.movie_year_inactive:hover
{
	color: white;
	background-color: #c81932;
	text-decoration: none;
}

/*** Tableaux ***/
.table_movie_house
{
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.table_movie_house td
{
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
}

.init_table_dates
{
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #ffad01;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
}

.init_table_users
{
	height: 40px;
	text-align: center;
	background-color: #f3f3f3;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding: 5px;
	vertical-align: top;
}

.zone_avatar_films
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	box-shadow: 0 0 3px #7c7c7c;
}

.avatar_films
{
	max-width: 40px;
	max-height: 40px;
}

.pseudo_films
{
	font-size: 70%;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
	margin-top: 5px;
	line-height: 15px;
}

.ligne_tableau_movie_house
{
	background-color: white;
}

.ligne_tableau_movie_house_2
{
	background-color: #f3f3f3;
}

.ligne_tableau_movie_house:hover, .ligne_tableau_movie_house_2:hover
{
	background-color: #fffde8;
}

.table_titres
{
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	font-family: robotomedium, Verdana, sans-serif;
}

.table_dates
{
	width: 130px;
	text-align: center;
	line-height: 30px;
	font-family: robotoregular, Verdana, sans-serif;
}

.hidden_films
{
	line-height: 40px;
	background-color: #ff1937;
	position: relative;
	z-index: 1;
}

.show_hidden_films
{
	display: block;
	padding-left: 15px;
	cursor: pointer;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
}

.symbol_hidden
{
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 14px;
	text-align: center;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 10px;
	background-color: white;
	border-radius: 2px;
	color: #262626;
}

.logo_tableau_films
{
	margin-top: -2px;
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.participate
{
	width: 25px;
	height: 25px;
	border: 0;
	background-color: transparent;
	background-image: url("/inside/portail/moviehouse/icons/participate.png");
	background-size: 25px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.seen
{
	width: 30px;
	height: 30px;
	border: 0;
	background-color: transparent;
	background-image: url("/inside/portail/moviehouse/icons/seen.png");
	background-size: 30px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: 4px;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.mailing
{
	width: 25px;
	height: 25px;
	border: 0;
	cursor: pointer;
	margin-left: 8px;
	vertical-align: middle;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.form_saisie_rapide
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.table_saisie_rapide
{
	border-collapse: collapse;
	width: 100%;
}

.td_saisie_film
{
	width: 63%;
	padding-right: 1%;
}

.name_saisie_rapide
{
	width: 97%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	background-color: white;
}

.td_saisie_date
{
	width: 20%;
	padding-right: 1%;
}

.date_saisie_rapide
{
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	background-color: white;
}

.td_saisie_ajouter
{
	width: 15%;
}

.add_saisie_rapide
{
	width: 100%;
	line-height: 42px;
	border: solid 1px #e3e3e3;
	border-radius: 5px;
	background-color: #e3e3e3;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	cursor: pointer;
}

.add_saisie_rapide:hover
{
	background-color: #ff1937;
	border: solid 1px #ff1937;
	color: white;
}

.no_films
{
	background-color: #2eb2f4;
	border-radius: 5px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 110%;
	color: white;
	line-height: 60px;
	text-align: center;
	box-shadow: 0 5px 0 #74cefb;
}

.link_vote
{
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	vertical-align: middle;
	margin-top: -5px;
}

.link_vote_2
{
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	margin-left: 2px;
	margin-right: 2px;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	margin-top: -18px;
	padding-bottom: 40px;
}

.star
{
	width: 30px;
	filter: drop-shadow(0px 0px 1px #4c4c4c);
}

.star_2
{
	margin-right: -32px;
	width: 30px;
	filter: drop-shadow(0px 0px 1px #4c4c4c);
}

/*** Détails ***/
.zone_details
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
}

.video_container
{
	position: relative;
	padding-top: 0px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
	margin-top: -20px;
}

.video_container iframe,
.video_container object,
.video_container embed
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video
{
	border: 0;
}

.form_not_interested
{
	display: inline-block;
}

.link_film
{
	display: block;
	color: black;
	text-decoration: none;
	padding: 8px;
}

.cancel_vote
{
	width: 20px;
	height: 20px;
}

/*** Accueil Movie House ***/
.zone_home
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.titre_home
{
	font-family: robotolight_italic, Verdana, sans-serif;
	font-size: 150%;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #ff1937;
	border-bottom: solid 5px #c81932;
	line-height: 50px;
	padding-left: 15px;
	margin-top: 30px;
}

.icone_home
{
	width: 30px;
	margin-top: -5px;
	vertical-align: middle;
	margin-right: 10px;
}

.zone_home_films
{
	width: 96%;
	text-align: center;
	padding: 2%;
	background-color: #f3f3f3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.link_home_film
{
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #d3d3d3;
	padding: 0.5%;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
	width: 17%;
	vertical-align: top;
	text-decoration: none;
	color: black;
}

.link_home_film:hover
{
	background-color: #ff1937;
	box-shadow: 0 0 5px black;
	color: white;
}

.img_home_film
{
	max-width: 100%;
	border-radius: 5px;
}

.titre_home_film
{
	padding: 10px;
	font-family: robotolight, Verdana, sans-serif;
}

.stats_home_film
{
	margin-bottom: 5px;
}

.stats_home_icon_1
{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
	background-color: #ff1937;
	background-image: url("icons/users.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: background-color 0.2s, background-image 0.2s;
	margin-right: 10px;
	margin-left: 10px;
}

.link_home_film:hover .stats_home_icon_1
{
	background-color: white;
	background-image: url("icons/users_red.png");
}

.stats_home_icon_2
{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
	background-color: #ff1937;
	background-image: url("/inside/portail/moviehouse/icons/star.png");
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: background-color 0.2s, background-image 0.2s;
	margin-right: 10px;
	margin-left: 10px;
}

.link_home_film:hover .stats_home_icon_2
{
	background-color: white;
	background-image: url("/inside/portail/moviehouse/icons/star_red.png");
}

.stats_home_number
{
	display: inline-block;
	font-family: robotolight, Verdana, sans-serif;
	vertical-align: middle;
}

.date_home_film
{
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	font-family: robotomedium_italic, Verdana, sans-serif;
	color: black;
}

.no_films_waited
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	line-height: 200px;
}

/*** Saisie film avancée ***/
.titre_saisie_avancee
{
	background-color: #ff1937;
	line-height: 50px;
	border-bottom: solid 5px #c81932;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 50px;
	font-family: robotolight_italic, Verdana, sans-serif;
	font-size: 150%;
	color: white;
}

.zone_saisie_avancee_orga
{
	display: inline-block;
	vertical-align: top;
	width: 49.25%;
	margin-left: 0.75%;
	padding-bottom: 1.5%;
	background-color: #e3e3e3;
	border-radius: 5px;
}

.sous_titre_saisie_avancee
{
	background-color: #2eb2f4;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	text-align: center;
	border-bottom: solid 5px #3091c1;
}

.monoligne_film_short
{
	display: inline-block;
	width: 60%;
	margin-bottom: 10px;
	line-height: 40px;
	min-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background-color: white;
	border-radius: 5px;
	font-family: robotolight_italic, Verdana, sans-serif;
	font-size: 110%;
}

.select_time
{
	display: inline-block;
	width: 13%;
	height: 42px;
	padding-top: 1px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 2%;
	border: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-family: robotolight_italic, Verdana, sans-serif;
	font-size: 110%;
}

.restaurant
{
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	line-height: 42px;
	min-height: 42px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background-color: #fffd4c;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 110%;
}

.zone_select_restaurant
{
	text-align: center;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.bouton_restaurant
{
	display: inline-block;
	position: relative;
	z-index: 1;
	margin-top: 15px;
	margin-bottom: 25px;
}

.label_restaurant
{
	display: inline-block;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 70px;
	padding-left: 40px;
	margin-left: -30px;
	border-radius: 5px;
	font-family: robotolight_italic, Verdana, sans-serif;
	cursor: pointer;
	text-align: left;
}

.label_restaurant:hover
{
	background-color: #ff1937;
	color: white;
}

.saisie_valider_film
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	background-color: #e3e3e3;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.saisie_valider_film:hover
{
	background-color: #ff1937;
	color: white;
}

/*** Mailing ***/
.zone_destinataires_mail
{
	width: 760px;
	background-color: #e3e3e3;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 20px;
	margin-top: 30px;
	font-family: robotolight, Verdana, sans-serif;
	text-align: justify;
}

.destinataires
{
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.avatar_dest
{
	border-radius: 50%;
	width: 40px;
	background-color: #b3b3b3;
	border: solid 1px white;
	box-shadow: 0 0 2px #7c7c7c;
	vertical-align: middle;
	margin-right: 10px;
}

.avertissement_mail
{
	margin: 0;
	color: #ff1937;
}

.send_mail_film
{
	border: 0;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	cursor: pointer;
	background-color: #e3e3e3;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	border: solid 1px #d3d3d3;
}

.send_mail_film:hover
{
	background-color: #ff1937;
	color: white;
}

/*** Bandeau détails ***/
.bandeau_details
{
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: absolute;
	top: 60px;
	left: 0;
	background-color: black;
}

.bandeau_poster
{
	width: 100%;
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
	filter: blur(10px);
}

.titre_film_details
{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	position: relative;
	z-index: 1;
	text-align: center;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 300%;
	color: white;
	height: 300px;
	line-height: 50px;
	margin-left: 10%;
	margin-right: 10%;
	text-shadow: 0 0 2px black;
}

.link_prev_movie
{
	float: left;
	position: relative;
	z-index: 2;
	height: 100px;
	line-height: 97px;
	margin-top: 100px;
	margin-left: 9%;
	cursor: pointer;
}

.link_next_movie
{
	float: right;
	position: relative;
	z-index: 2;
	height: 100px;
	line-height: 97px;
	margin-top: 100px;
	margin-right: 9%;
	cursor: pointer;
}

.fleche_detail
{
	height: 100px;
	width: 18px;
	vertical-align: middle;
	filter: drop-shadow(0px 0px 1px black);
	transition: height 0.2s;
}

.fleche_detail:hover
{
	height: 80%;
	width: 18px;
	transition: height 0.2s;
}

.titre_prev_movie
{
	position: absolute;
	left: 12.5%;
	z-index: 1;
	line-height: 300px;
	opacity: 0;
	margin-left: 20px;
	transition: opacity 0.5s, margin-left 0.5s;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	text-shadow: 0 0 1px black;
}

.link_prev_movie:hover ~ .titre_prev_movie
{
	opacity: 1;
	margin-left: -30px;
	transition: opacity 0.5s, margin-left 0.5s;
}

.titre_next_movie
{
	position: absolute;
	right: 12.5%;
	z-index: 1;
	line-height: 300px;
	margin-right: 1%;
	opacity: 0;
	margin-right: 20px;
	transition: opacity 0.5s, margin-right 0.5s;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	text-shadow: 0 0 1px black;
}

.link_next_movie:hover ~ .titre_next_movie
{
	opacity: 1;
	margin-right: -30px;
	transition: opacity 0.5s, margin-right 0.5s;
}

/*** Détails ***/
.left_details
{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.table_left_details
{
	border-collapse: collapse;
	vertical-align: bottom;
}

.zone_poster_detail
{
	width: 90%;
}

.img_details
{
	width: 100%;
	margin-top: -50px;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 4px #262626;
}

.zone_link
{
	vertical-align: bottom;
	text-align: center;
	min-width: 50px;
	width: 50px;
}

.link_details
{
	margin-bottom: 10px;
	text-align: center;
	display: block;
	width: 50px;
	height: 50px;
}

.icon_details
{
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.form_stars_details_left
{
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 50%;
	text-align: left;
	margin-top: -4px;
}

.form_stars_details_right
{
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 50%;
	margin-top: -4px;
	float: right;
	width: 20%;
	text-align: right;
	margin-right: 50px;
}

.star_vote
{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-top: -5px;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
	padding: 3px;
	border-radius: 50%;
}

.link_star_vote
{
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 0;
	vertical-align: middle;
	margin-left: -26px;
	margin-top: -4px;
	cursor: pointer;
	opacity: 0;
}

.entete_detail
{
	width: 100%;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 150%;
	font-weight: bold;
	border-bottom: solid 1px #b3b3b3;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262626;
}

.contenu_detail
{
	font-family: robotolight, Verdana, sans-serif;
	line-height: 50px;
}

.table_interested
{
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
}

.tr_interested
{
	line-height: 50px;
}

.td_interested_left
{
	width: 50px;
}

.avatar_interested
{
	vertical-align: middle;
	margin-top: -3px;
	height: 40px;
	border-radius: 50%;
	background-color: #a3a3a3;
	margin-left: 5px;
	margin-right: 5px;
}

.td_interested_middle
{
	vertical-align: middle;
	font-family: robotolight, Verdana, sans-serif;
	line-height: 20px;
}

.td_interested_right
{
	width: 50px;
	text-align: center;
	vertical-align: top;
}

.circle_star_interested
{
	margin-top: 3px;
	margin-left: 3px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.star_interested
{
	width: 30px;
	filter: drop-shadow(0px 0px 1px #4c4c4c);
	margin-top: 6px;
}

.no_interested
{
	font-family: robotolight, Verdana, sans-serif;
	line-height: 20px;
	margin-top: 10px;
}

.right_details
{
	float: right;
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

/*** Commentaires ***/
.zone_commentaires
{
	clear: both;
	width: 100%;
	margin-top: 100px;
	padding-bottom: 25px;
}

.zone_commentaire_user
{
	border-bottom: solid 1px #b3b3b3;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 50px;
}

.saisie_commentaires_films
{
	margin-top: 15px;
}

.zone_saisie_comment
{
	width: 97.9%;
	border: 0;
	height: 100px;
	padding: 1%;
	font-family: robotolight, Verdana, sans-serif;
	resize: none;
	border: solid 1px #b3b3b3;
}

.bouton_commentaires
{
	float: right;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 0;
	margin-top: 1%;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	background-color: #e3e3e3;
	cursor: pointer;
	border-radius: 2px;
	filter: drop-shadow(0px 0px 1px #3c3c3c);
}

.bouton_commentaires:hover
{
	background-color: #ff1937;
	color: white;
}

.zone_saisie_smileys
{
	margin-top: 1%;
}

.smiley_2
{
	width: 25px;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
}

.avatar_comments
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #a3a3a3;
	float: left;
	clear: both;
}

.pseudo_comments_films
{
	font-family: robotomedium, Verdana, sans-serif;
	margin-left: 60px;
}

.date_comments_films
{
	font-family: robotoregular, Verdana, sans-serif;
	color: #a3a3a3;
	margin-left: 60px;
}

.texte_commentaire
{
	font-family: robotoregular, Verdana, sans-serif;
	text-align: justify;
	margin-left: 60px;
	margin-top: 20px;
}

.smiley
{
	width: 25px;
	vertical-align: middle;
}

.link_comment
{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
	background-color: #ff1937;
	background-image: url("/inside/portail/moviehouse/icons/link.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 3px 3px #c3c3c3;
}

.zone_modification_commentaire
{
	width: 97.9%;
	margin-top: 1%;
	border: 0;
	height: 100px;
	padding: 1%;
	font-family: robotolight, Verdana, sans-serif;
	resize: none;
	border: solid 1px #b3b3b3;
}

.actions_commentaires
{
	float: right;
	text-align: center;
	margin-top: -65px;
}

.link_actions_commentaires
{
	display: inline-block;
	vertical-align: middle;
}

.icone_modifier_comment
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/edit.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}

.icone_supprimer_comment
{
	display: inline-block;
	margin-left: 15px;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/delete.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}

.icone_valider_comment
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/validate.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}

.icone_annuler_comment
{
	display: inline-block;
	margin-left: 15px;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/cancel.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
}
