/**************/
/*** Profil ***/
/**************/

/*** Zone pseudo & avatar ***/
.zone_profil_utilisateur
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.zone_profil_utilisateur_titre
{
	background-color: rgb(255, 25, 55);
	line-height: 50px;
	border-bottom: solid 5px rgb(200, 25, 50);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 10px;
	padding-right: 20px;
	margin-top: 30px;
	font-family: robotolight_italic, Verdana, sans-serif;
	font-size: 150%;
	color: white;
}

.icone_profil
{
	width: 30px;
	margin-top: -5px;
	vertical-align: middle;
	margin-right: 10px;
}

.zone_profil_utilisateur_table
{
	width: 100%;
	border-collapse: collapse;
}

.zone_profil_utilisateur_pseudo
{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 40%;
	background-color: #e3e3e3;
	border-bottom-left-radius: 5px;
}

.zone_profil_utilisateur_avatar
{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 40%;
	background-color: #f3f3f3;
}

.zone_profil_utilisateur_suppr
{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #e3e3e3;
	border-bottom-right-radius: 5px;
}

.zone_profil_utilisateur_pseudo_form
{
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.monoligne_profil
{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	line-height: 40px;
	min-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background-color: white;
	border-radius: 5px;
	font-family: robotolight_italic, Verdana, sans-serif;
	font-size: 110%;
}

.bouton_profil
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	margin-top: 1.5%;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	background-color: white;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.bouton_profil:hover
{
	background-color: rgb(255, 25, 55);
	color: white;
}

.zone_avatar
{
	text-align: center;
}

.zone_parcourir_avatar
{
	display: inline-block;
	height: 120px;
	width: 120px;
	border-style: dashed;
	border-radius: 10px;
	border-color: #a3a3a3;
	font-family: Roboto-Light, Verdana, sans-serif;
	font-size: 300%;
	line-height: 110px;
	color: #a3a3a3;
	text-align: center;
	margin-bottom: 20px;
}

.bouton_parcourir_avatar
{
	opacity: 0;
	height: 120px;
	width: 120px;
	margin-top: -110px;
	display: block;
	cursor: pointer;
}

.mask_avatar
{
	width: 120px;
	height: 120px;
	border-radius: 5px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: -144px;
	margin-bottom: 22px;
	line-height: 120px;
}

.avatar_profil
{
	margin-left: auto;
	margin-right: auto;
	max-width: 120px;
	max-height: 120px;
	vertical-align: middle;
}

.zone_profil_utilisateur_suppr_mask
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
	background-color: white;
}

.zone_profil_utilisateur_suppr_avatar
{
	max-width: 120px;
	max-height: 120px;
	border-radius: 5px;
}

/*** Zone générique préférences ***/
.zone_profil_generique
{
	margin-top: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.zone_profil_preferences_table
{
	width: 100%;
	text-align: justify;
	background-color: #e3e3e3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 1.5%;
}

.titre_preference
{
	background-color: #2eb2f4;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 140%;
	color: white;
	text-align: center;
	border-bottom: solid 5px #3091c1;
}

.sous_titre_preference
{
	background-color: #f3f3f3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	text-align: center;
}

.contenu_preference
{
	background-color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
	font-family: robotolight, Verdana, sans-serif;
}

.zone_profil_contribution
{
	width: 32%;
	padding-top: 1.5%;
	display: inline-block;
	vertical-align: top;
}

.contenu_contribution
{
	text-align: center;
	background-color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 250%;
}

.contenu_contribution_fin
{
	text-align: center;
	background-color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 250%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.form_desinscription
{
	margin: 30px;
}

.bouton_preference
{
	display: inline-block;
	position: relative;
	z-index: 1;
	margin-top: 15px;
	margin-bottom: 25px;
}

.label_preference
{
	display: inline-block;
	background-color: #f3f3f3;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80px;
	padding-left: 35px;
	margin-left: -30px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	cursor: pointer;
	text-align: left;
	vertical-align: top;
	filter: drop-shadow(0px 0px 2px #b3b3b3);
}

.label_preference_2
{
	display: inline-block;
	background-color: #f3f3f3;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90px;
	padding-left: 40px;
	margin-left: -35px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	cursor: pointer;
	text-align: left;
	vertical-align: top;
	filter: drop-shadow(0px 0px 2px #b3b3b3);
}

.label_preference_3
{
	display: inline-block;
	background-color: #f3f3f3;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 135px;
	padding-left: 40px;
	margin-left: -35px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	cursor: pointer;
	text-align: left;
	vertical-align: top;
	filter: drop-shadow(0px 0px 2px #b3b3b3);
}

.label_preference:hover, .label_preference_2:hover, .label_preference_3:hover
{
	background-color: rgb(255, 25, 55);
	color: white;
}

/*** Zone mot de passe & désinscription ***/
.zone_profil_utilisateur_mdp
{
	width: 50%;
	background-color: #e3e3e3;
	border-bottom-left-radius: 5px;
}

.zone_profil_utilisateur_desinscription
{
	width: 50%;
	background-color: #f3f3f3;
	border-bottom-right-radius: 5px;
}

.message_profil
{
	font-family: robotolight, Verdana, sans-serif;
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5%;
}

.message_profil_2
{
	font-family: robotolight, Verdana, sans-serif;
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	margin-bottom: 2%;
}

/*** Succès profil ***/
.zone_succes_profil
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 30px;
}

.succes_liste
{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	width: 140px;
	background-color: #b3b3b3;
	padding: 10px;
	border-radius: 5px;
}

.medal
{
	float: left;
	clear: both;
	margin-left: -30px;
	margin-bottom: -10px;
	width: 30px;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.logo_succes_unlocked
{
	width: 140px;
}

.logo_succes_locked
{
	filter: grayscale(1);
	width: 140px;
	opacity: 0.5;
}

.titre_succes
{
	margin-top: 6px;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 120%;
}

.description_succes
{
	margin-top: 10px;
	font-family: robotolight_italic, Verdana, sans-serif;
}

.progression_succes
{
	height: 5px;
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
	background: white;
	color: red;
}

.progression_succes::-moz-meter-bar
{
  background: rgb(255, 25, 55);
	border-radius: 5px;
}

.level_succes
{
	width: 100%;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 150%;
	font-weight: bold;
	border-bottom: solid 1px #b3b3b3;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262626;
	text-align: left;
}

.name_lvl
{
	font-family: robotothin, Verdana, sans-serif;
}

/*** Classement ***/
.zone_ranking
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-collapse: collapse;
	border: solid 1px #d3d3d3;
}

.ranking_line
{
	width: 100%;
	min-height: 60px;
}

.ranking_line_left
{
	float: left;
	width: 50%;
	min-height: 60px;
	line-height: 60px;
}

.logo_rank
{
	display: inline-block;
	width: 40px;
	background-color: #b3b3b3;
	padding: 5px;
	border-radius: 5px;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -4px;
}

.titre_rank
{
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 110%;
	margin-top: -4px;
	margin-left: 10px;
}

.ranking_line_right
{
	width: 50%;
	min-height: 60px;
	line-height: 60px;
}

.medal_rank
{
	display: inline-block;
	width: 30px;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
	vertical-align: middle;
	margin-left: 10px;
	margin-top: -4px;
}

.ranking_pseudo
{
	display: inline-block;
	line-height: 20px;
	margin-left: 10px;
	margin-top: -4px;
	vertical-align: middle;
	font-family: robotolight, Verdana, sans-serif;
	background-color: rgb(255, 25, 55);
	padding: 5px;
	border-radius: 5px;
	color: white;
}
