/**********************/
/*** Collector Room ***/
/**********************/

/*** Saisie ***/
.form_saisie_collector
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}

.saisie_speaker
{
  width: 49.5%;
  height: 44px;
  border-radius: 5px;
  border: solid 1px #a3a3a3;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
  padding-left: 0.6%;
  background-color: transparent;
}

.saisie_date_collector
{
  width: 28%;
  border: solid 1px #a3a3a3;
  padding-left: 1%;
  padding-right: 1%;
  line-height: 40px;
  min-height: 40px;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
}

.saisie_bouton
{
	width: 18%;
	line-height: 43px;
	border: solid 1px #e3e3e3;
	border-radius: 5px;
	background-color: #e3e3e3;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	cursor: pointer;
}

.saisie_bouton:hover
{
	background-color: rgb(255, 25, 55);
	border: solid 1px rgb(255, 25, 55);
	color: white;
}

.saisie_collector
{
  margin-top: 1%;
  width: 97.5%;
  padding: 1%;
  font-family: robotolight, Verdana, sans-serif;
  resize: vertical;
  border-radius: 5px;
  border: solid 1px #a3a3a3;
}

/*** Affichage phrases cultes ***/
.zone_collector
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-collapse: collapse;
}

.collector
{
  background-color: #e3e3e3;
  width: 78%;
  padding: 1%;
  vertical-align: top;
}

.speaker
{
  background-color: #a3a3a3;
  width: 18%;
  padding: 1%;
}

.speaker_actions
{
  background-color: #a3a3a3;
  border-top: solid 1px white;
  height: 30px;
  width: 9%;
  padding: 1%;
  text-align: center;
}

.quote_1
{
  float: left;
  width: 30px;
  filter: drop-shadow(0px 0px 1px #7c7c7c);
}

.quote_2
{
  float: right;
  width: 30px;
  filter: drop-shadow(0px 0px 1px #7c7c7c);
}

.circle_avatar
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 3px white;
  filter: drop-shadow(0px 0px 1px #5c5c5c);
  background-color: #b3b3b3;
  margin-left: auto;
  margin-right: auto;
}

.avatar_collector
{
  width: 100px;
  border-radius: 50%;
}

.text_collector
{
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: -30px;
  text-align: justify;
  font-family: robotothin, Verdana, sans-serif;
  font-size: 150%;
}

.name_collector
{
  text-align: center;
  font-family: robotoregular, Verdana, sans-serif;
  font-style: italic;
  color: white;
  width: 106px;
  line-height: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/*** Pagination ***/
.zone_pagination
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
}

.numero_page_active
{
  background-color: rgb(255, 25, 55);
  font-family: robotolight, Verdana, sans-serif;
  color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 40px;
  border-radius: 50%;
}

.numero_page_inactive
{
  background-color: #a3a3a3;
  font-family: robotolight, Verdana, sans-serif;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 40px;
  border-radius: 50%;
}

.numero_page_inactive:hover
{
  background-color: rgb(200, 25, 50);
}

.lien_pagination
{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  border-radius: 50%;
}

/*** Actions & modification ***/
.icone_modify_collector
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/portail/collector/icons/edit.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.icon_delete_collector
{
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/portail/collector/icons/delete.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.icone_cancel_collector
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/portail/collector/icons/cancel.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.icon_validate_collector
{
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/portail/collector/icons/validate.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.modify_text_collector
{
  resize: vertical;
  width: 98%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: robotolight, Verdana, sans-serif;
  border-radius: 5px;
  border: solid 1px #a3a3a3;
  min-height: 150px;
}

.modify_speaker
{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 5px;
  border: 0;
  padding: 1%;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
}

.modify_date_collector
{
  display: block;
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 5px;
  border: 0;
  padding: 2%;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
}

/*** Vote ***/
.link_current_vote_right
{
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -50px;
  margin-right: -20px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}

.link_current_vote_left
{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: -20px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}

.current_vote
{
  width: 40px;
  filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.zone_smileys_right
{
  background-color: white;
  box-shadow: 0 0 2px #5c5c5c;
  float: right;
  margin-right: -231px;
  margin-top: -55px;
  padding: 5px;
  border-radius: 50px;
  position: relative;
  z-index: 2;
}

.zone_smileys_left
{
  background-color: white;
  box-shadow: 0 0 2px #5c5c5c;
  float: left;
  margin-left: -231px;
  margin-top: -55px;
  padding: 5px;
  border-radius: 50px;
  position: relative;
  z-index: 2;
}

.smiley_0
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/smileys/0.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_1
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/smileys/1.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_2
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/smileys/2.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_3
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/smileys/3.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_4
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/smileys/4.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_5
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/smileys/5.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_6
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/smileys/6.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_votes_left_1, .smiley_votes_left_2, .smiley_votes_left_3, .smiley_votes_left_4, .smiley_votes_left_5, .smiley_votes_left_6
{
  float: left;
  width: 30px;
  margin-right: -8px;
  border-radius: 50%;
  box-shadow: 0 0 3px #5c5c5c;
  border: solid 1px white;
}

.smiley_votes_right_1, .smiley_votes_right_2, .smiley_votes_right_3, .smiley_votes_right_4, .smiley_votes_right_5, .smiley_votes_right_6
{
  float: right;
  width: 30px;
  margin-left: -8px;
  border-radius: 50%;
  box-shadow: 0 0 3px #5c5c5c;
  border: solid 1px white;
}

.nb_votes_left_1, .nb_votes_left_2, .nb_votes_left_3, .nb_votes_left_4, .nb_votes_left_5, .nb_votes_left_6
{
  background-color: rgb(255, 25, 55);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-family: robotolight, Verdana, sans-serif;
  color: white;
  float: left;
  margin-top: -30px;
  margin-left: -22px;
  display: none;
}

.nb_votes_right_1, .nb_votes_right_2, .nb_votes_right_3, .nb_votes_right_4, .nb_votes_right_5, .nb_votes_right_6
{
  background-color: rgb(255, 25, 55);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-family: robotolight, Verdana, sans-serif;
  color: white;
  float: right;
  margin-top: -30px;
  margin-right: -22px;
  display: none;
}

.smiley_votes_left_1:hover ~ .nb_votes_left_1, .smiley_votes_left_2:hover ~ .nb_votes_left_2, .smiley_votes_left_3:hover ~ .nb_votes_left_3,
.smiley_votes_left_4:hover ~ .nb_votes_left_4, .smiley_votes_left_5:hover ~ .nb_votes_left_5, .smiley_votes_left_6:hover ~ .nb_votes_left_6,
.smiley_votes_right_1:hover ~ .nb_votes_right_1, .smiley_votes_right_2:hover ~ .nb_votes_right_2, .smiley_votes_right_3:hover ~ .nb_votes_right_3,
.smiley_votes_right_4:hover ~ .nb_votes_right_4, .smiley_votes_right_5:hover ~ .nb_votes_right_5, .smiley_votes_right_6:hover ~ .nb_votes_right_6
{
  display: block;
  position: relative;
  z-index: 2;
}
