/************/
/*** Bugs ***/
/************/

/*** Texte introduction ***/
.intro_bug
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

/*** Saisie bug ***/
.saisie_titre_bug
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 150%;
	width: 79%;
	margin-left: 10%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-bottom: 0px;
	line-height: 48px;
	min-height: 48px;
	text-align: left;
	border: 0;
}

.saisie_type_bug
{
	height: 50px;
	width: 15%;
	float: left;
	margin-left: 10%;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
}

.saisie_contenu_bug
{
  resize: vertical;
  width: 80%;
  min-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
  background-color: #f3f3f3;
}

.trait_bugs
{
  clear: right;
	width: 80%;
	height: 3px;
	background-color: #e3e3e3;
	margin-left: auto;
	margin-right: auto;
}

.submit_bug
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background-color: #e3e3e3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 110%;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.submit_bug:hover
{
	background-color: rgb(255, 25, 55);
	color: white;
}

.no_bugs
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: black;
	text-align: center;
}
