/**********************/
/*** Expense Center ***/
/**********************/

/*** Saisie dépense ***/
.fond_saisie_depense
{
	display: none;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.zone_saisie_depense
{
	width: 85%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	overflow: hidden;
	background-color: white;
}

.titre_saisie_depense
{
	display: inline-block;
	line-height: 50px;
	background-color: #ff1937;
	width: calc(100% - 40px);
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 120%;
	color: white;
	border-bottom: solid 2px #c81932;
}

.close_add
{
	float: right;
	width: 30px;
	height: 30px;
	margin-top: -40px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
}

.close_img
{
	width: 20px;
	padding: 5px;
	transform: rotate(0deg);
	transition: transform 0.2s ease;
}

.close_img:hover
{
	transform: rotate(90deg);
	transition: transform 0.2s ease;
}

.form_saisie_depense
{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	border-top: solid 1px #d3d3d3;
	color: #262626;
}

/*** Achat ***/
.zone_saisie_left
{
	float: left;
	width: 280px;
	text-align: center;
	padding: 10px;
}

.saisie_buyer
{
	display: block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 34px;
  border-radius: 2px;
	border: 0;
  box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
  font-size: 100%;
	color: #262626;
  background-color: white;
}


.saisie_prix
{
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	width: calc(100% - 40px);
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
}

.euro
{
	display: inline-block;
	width: 10px;
	line-height: 32px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
}

.saisie_commentaire
{
	display: block;
	margin-top: 10px;
	height: 70px;
	min-height: 70px;
	width: calc(100% - 20px);
	padding: 5px 10px 5px 10px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	background-color: white;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	resize: vertical;
}

.bouton_validation
{
	display: block;
	width: 100%;
	margin-top: 10px;
	background-color: #e3e3e3;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
	text-align: center;
	border: 0;
	vertical-align: top;
	box-shadow: 0 0 3px #7c7c7c;
}

.bouton_validation:hover
{
	color: white;
	background-color: #ff1937;
}

.lien_explications
{
	display: block;
	width: calc(100% - 20px);
	padding: 5px 10px 5px 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	text-align: center;
	background-color: #e3e3e3;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	cursor: pointer;
}

.fond_plus
{
	display: inline-block;
	margin-right: 8px;
	width: 20px;
	height: 20px;
	background-color: #70d55d;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 20px;
}

.lien_explications:hover
{
	background-color: #70d55d;
	color: white;
}

.lien_explications:hover .fond_plus
{
	background-color: white;
	color: #262626;
}

/*** Parts utilisateurs ***/
.zone_saisie_right
{
	display: inline-block;
	width: calc(100% - 300px);
	padding-top: 10px;
	text-align: left;
	margin-bottom: -4px;
	max-height: calc(100vh - 250px);
	overflow-y: auto;
}

.zone_saisie_utilisateurs
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.zone_saisie_utilisateur
{
	display: inline-block;
	padding: 5px;
	border-radius: 2px;
	vertical-align: top;
	background-color: #e3e3e3;
	box-shadow: 0 0 3px #7c7c7c;
	text-align: center;
	width: 190px;
	margin-bottom: 10px;
}

.zone_saisie_utilisateur_parts
{
	display: inline-block;
	padding: 5px;
	border-radius: 2px;
	vertical-align: top;
	background-color: #ff1937;
	box-shadow: 0 0 3px #7c7c7c;
	text-align: center;
	width: 190px;
	margin-bottom: 10px;
	color: white;
}

.pseudo_depense
{
	display: block;
	width: 100%;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 70%;
	line-height: 15px;
	margin-bottom: 5px;
}

.avatar_depense
{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #262626;
	vertical-align: middle;
	box-shadow: 0 0 3px #7c7c7c;
}

.bouton_qte
{
	display: inline-block;
	margin-left: 10px;
	width: 20px;
	line-height: 20px;
	vertical-align: middle;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	color: white;
	cursor: pointer;
	background-color: #262626;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bouton_qte:hover
{
	background-color: #c81932;
	color: white;
}

.qte
{
	display: inline-block;
	width: 20px;
	margin-left: 10px;
	line-height: 20px;
	vertical-align: middle;
	border-radius: 2px;
	border: 0;
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.explications
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 10px;
	font-family: robotoregular, Verdana, sans-serif;
	text-align: justify;
	background-color: #e3e3e3;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Bilan & Années***/
.zone_expenses_left
{
	display: inline-block;
	width: 400px;
	vertical-align: top;
}

.zone_bilan_expenses
{
	display: block;
	width: 100%;
}

.zone_bilan_user
{
	background-color: #e3e3e3;
	display: block;
	width: calc(100% - 20px);
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	margin-bottom: 10px;
}

.bilan_red
{
	background-color: #ee4949;
}

.bilan_orange
{
	background-color: #ff9147;
}

.bilan_jaune
{
	background-color: #fffd4c;
}

.bilan_vert
{
	background-color: #b6fc78;
}

.bilan_vert_fonce
{
	background-color: #71d058;
}

.avatar
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #262626;
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 0 0 3px #7c7c7c;
}

.pseudo_bilan
{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	width: calc(100% - 140px);
	vertical-align: middle;
	font-family: robotoregular, Verdana, sans-serif;
	text-align: justify;
	font-size: 80%;
	color: #262626;
	line-height: 15px;
}

.total_bilan
{
	display: inline-block;
	width: 80px;
	text-align: center;
	vertical-align: middle;
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	line-height: 20px;
}

.zone_annees_expenses
{
	display: block;
	width: 100%;
}

.year
{
	display: inline-block;
	margin-bottom: 10px;
	width: calc(50% - 10px);
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

.margin_right
{
	margin-right: 20px;
}

.active
{
	background-color: #ff1937;
	color: white;
}

.inactive
{
	background-color: white;
	color: #262626;
}

.inactive:hover
{
	color: white;
	background-color: #262626;
	text-decoration: none;
}

/*** Dépenses ***/
.zone_expenses_right
{
	display: inline-block;
	width: calc(100% - 420px);
	margin-left: 20px;
	vertical-align: top;
}

.zone_depense
{
	background-color: #e3e3e3;
	display: block;
	width: 100%;
	border-radius: 2px;
	margin-bottom: 10px;
}

.zone_depense_top
{
	display: block;
	padding: 5px 10px 5px 10px;
}

.zone_achat
{
	width: calc(50% + 105px);
	display: inline-block;
	vertical-align: middle;
}

.pseudo_achat
{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	width: calc(100% - 270px);
	vertical-align: middle;
	font-family: robotoregular, Verdana, sans-serif;
	text-align: justify;
	font-size: 80%;
	color: #262626;
	line-height: 15px;
}

.date_achat
{
	display: inline-block;
	width: 110px;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
	font-family: robotoregular, Verdana, sans-serif;
	color: white;
	line-height: 20px;
	background-color: #2eb2f4;
	border-radius: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.valeur_achat
{
	display: inline-block;
	width: 80px;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
	font-family: robotomedium, Verdana, sans-serif;
	color: white;
	line-height: 20px;
	background-color: #70d55d;
	border-radius: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.zone_parts
{
	display: inline-block;
	width: calc(50% - 105px);
	text-align: right;
	vertical-align: middle;
}

.zone_parts_utilisateur
{
	display: inline-block;
	margin-left: 10px;
}

.parts_depense
{
	float: right;
	width: 15px;
	height: 15px;
	background-color: #ff1937;
	color: white;
	border-radius: 50%;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 70%;
	text-align: center;
	line-height: 15px;
	margin-top: 30px;
	margin-left: -10px;
	position: relative;
	z-index: 1;
}

.regularisation
{
	float: right;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	vertical-align: middle;
	font-family: robotoregular, Verdana, sans-serif;
	color: white;
	line-height: 20px;
	background-color: #ff1937;
	border-radius: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.zone_depense_bottom
{
	display: block;
	background-color: #d3d3d3;
	padding: 5px 10px 5px 10px;
}

.commentaire_depense
{
	display: inline-block;
	width: calc(100% - 80px);
	font-family: robotolight, Verdana, sans-serif;
	text-align: justify;
	vertical-align: middle;
}

.lien_depense
{
	display: inline-block;
	margin-left: 10px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.icone_depense
{
	width: 30px;
	vertical-align: middle;
}

.form_supprimer_depense
{
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

.icone_supprimer_depense
{
	width: 30px;
	height: 30px;
	border: 0;
	background-color: transparent;
	background-image: url("/inside/includes/icons/common/delete_grey.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	vertical-align: middle;
}
