/*******************/
/*** Movie House ***/
/*******************/

/*** Zones ***/
.zone_movies_left
{
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

.zone_movies_right
{
	display: inline-block;
	width: calc(100% - 220px);
	margin-left: 20px;
	vertical-align: top;
}

/*** Saisie film ***/
.fond_saisie_film
{
	display: none;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.zone_saisie_film
{
	width: 85%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	overflow: hidden;
}

.titre_saisie_film
{
	display: inline-block;
	line-height: 50px;
	background-color: #ff1937;
	width: calc(100% - 40px);
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 120%;
	color: white;
	border-bottom: solid 2px #c81932;
}

.close_add
{
	float: right;
	width: 30px;
	height: 30px;
	margin-top: -40px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
}

.close_img
{
	width: 20px;
	padding: 5px;
	transform: rotate(0deg);
	transition: transform 0.2s ease;
}

.close_img:hover
{
	transform: rotate(90deg);
	transition: transform 0.2s ease;
}

.form_saisie_film
{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	background-color: white;
	border-top: solid 1px #d3d3d3;
	color: #262626;
	max-height: calc(100vh - 250px);
	overflow-y: auto;
}

.zone_saisie_left
{
	display: inline-block;
	width: calc(50% - 20px);
	padding: 10px;
	vertical-align: top;
}

.zone_saisie_right
{
	display: inline-block;
	width: calc(50% - 20px);
	padding: 10px;
	vertical-align: top;
}

.sous_titre_saisie_film
{
	padding: 10px;
	background-color: #13a2e9;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

.zone_liens_saisie_film
{
	display: block;
}

.link_saisie_film
{
	display: inline-block;
	background-color: #fecc00;
	padding: 2px 10px 2px 10px;
	border-radius: 2px;
	margin: 10px 5px 0 5px;
	text-decoration: none;
}

.link_allocine
{
	font-family: robotoblack, Verdana, sans-serif;
	background-color: #fecc00;
	color: #262626;
}

.link_youtube
{
	font-family: roboto_condensedbold, Verdana, sans-serif;
	background-color: #ff0000;
	color: white;
}

.link_dailymotion
{
	font-family: robotobold, Verdana, sans-serif;
	background-color: #00bff9;
	color: white;
}

.link_vimeo
{
	font-family: robotoblack_italic, Verdana, sans-serif;
	background-color: #1a2e3b;
	color: white;
}

.zone_saisie_ligne
{
	display: block;
	margin-top: 10px;
}

.icone_saisie
{
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-right: 10px;
	vertical-align: middle;
}

.icone_saisie_textarea
{
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-top: 3px;
	margin-right: 10px;
	vertical-align: top;
}

.saisie_ligne
{
	display: inline-block;
	width: calc(100% - 55px);
	padding: 5px 10px 5px 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 25px;
	vertical-align: middle;
}

.saisie_ligne_short
{
	display: inline-block;
	width: calc(60% - 55px);
	padding: 5px 10px 5px 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 25px;
	vertical-align: middle;
}

.saisie_textarea
{
	display: inline-block;
	width: calc(100% - 55px);
	height: 100px;
	line-height: 25px;
	min-height: 100px;
	max-height: 200px;
	padding: 5px 10px 5px 10px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	background-color: white;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	border-radius: 2px;
	resize: vertical;
}

.select_time
{
	display: inline-block;
	width: calc(20% - 10px);
	margin-left: 10px;
	padding: 6px 10px 6px 10px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	vertical-align: middle;
	border-radius: 2px;
}

.switch_restaurant
{
	display: inline-block;
	margin: 0 5px 0 5px;
	height: 35px;
	line-height: 35px;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	padding-left: 5px;
	cursor: pointer;
}

.switch_restaurant input
{
	cursor: pointer;
}

.switch_restaurant:hover
{
	background-color: #ff1937;
	color: white;
}

.bouton_checked
{
	background-color: #ff1937;
	color: white;
}

.label_switch
{
	display: inline-block;
	margin-left: -25px;
	padding-left: 30px;
	padding-right: 10px;
	cursor: pointer;
}

.saisie_bouton
{
	display: inline-block;
	margin-top: 10px;
	width: 200px;
  height: 34px;
	line-height: 34px;
  border-radius: 2px;
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
	color: #262626;
	background-color: #e3e3e3;
	cursor: pointer;
	box-shadow: 0 0 3px #7c7c7c;
}

.saisie_bouton:hover
{
	background-color: #ff1937;
	color: white;
}

/*** Vues et années ***/
.view, .year
{
	display: inline-block;
	margin-bottom: 10px;
	width: calc(50% - 10px);
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-family: robotolight, Verdana, sans-serif;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

.active
{
	background-color: #ff1937;
	color: white;
}

.inactive
{
	background-color: white;
	color: #262626;
}

.inactive:hover
{
	color: white;
	background-color: #262626;
	text-decoration: none;
}

.date_jour
{
	display: block;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	text-align: center;
	border-radius: 2px;
	background-color: #13a2e9;
	width: 100%;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0 0 3px #7c7c7c;
}

.pointer
{
	cursor: pointer;
}

/*** Accueil ***/
.zone_home
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.zone_films_accueil
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	opacity: 0;
	transition: opacity 0.2s;
	margin-bottom: -10px;
}

.zone_films_accueil.masonry
{
	opacity: 1;
}

.zone_film_accueil
{
	width: 250px;
	vertical-align: top;
	margin-bottom: 20px;
	text-align: center;
	text-decoration: none;
}

.image_accueil
{
	width: 100%;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

.titre_film_accueil
{
	padding: 5px 10px 5px 10px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
}

.zone_icones_accueil
{
	display: block;
}

.users_interested
{
  display: inline-block;
  background-color: #70d55d;
	margin: 0 5px 10px 5px;
	padding: 5px;
  border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
  color: white;
}

.average_star
{
  display: inline-block;
  background-color: #2eb2f4;
	margin: 0 5px 10px 5px;
	padding: 5px;
  border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
  color: white;
}

.icone_accueil
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -5px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

/*** Fiches ***/
.zone_films
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.zone_actions
{
	float: right;
	margin-top: -5px;
}

.bouton_fold
{
	border: 0;
	background-color: #d3d3d3;
	margin-left: 10px;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 60%;
	color: #262626;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bouton_fold:hover
{
	background-color: #ff1937;
	color: white;
}

.titre_mois_films
{
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-bottom: 10px;
	background-color: #262626;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	box-shadow: 0 0 3px #7c7c7c;
}

.titre_bleu
{
	background-color: #13a2e9;
}

.titre_rouge
{
	background-color: #ff1937;
}

.fond_hide
{
	float: left;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	background-color: #70d55d;
	border-radius: 50%;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fond_hide:hover
{
	background-color: #e3e3e3;
	color: #262626;
}

.zone_fiches_films
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_fiches_films.masonry
{
	opacity: 1;
}

.zone_fiche_film
{
	display: block;
	margin-bottom: 20px;
	width: 420px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
}

.border_blue
{
	border-bottom: solid 5px #2eb2f4;
}

.border_green
{
	border-bottom: solid 5px #70d55d;
}

.border_radius
{
	 border-radius: 2px;
	 overflow: hidden;
}

.zone_fiche_top
{
	background-color: #e3e3e3;
}

.image_fiche
{
	display: inline-block;
	vertical-align: top;
	width: 150px;
}

.zone_fiche_infos
{
	display: inline-block;
	width: calc(100% - 150px);
	vertical-align: top;
}

.zone_fiche_infos_top
{
	display: block;
	width: calc(100% - 20px);
	margin-left: 10px;
	vertical-align: top;
	border-bottom: solid 1px #c3c3c3;
	padding-bottom: 5px;
}

.titre_fiche
{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
	text-align: center;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 110%;
}

.icone_fiche
{
	width: 20px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 5px;
}

.date_fiche
{
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 20px;
	text-align: center;
}

.zone_fiche_infos_middle
{
	display: block;
	width: calc(100% - 20px);
	margin-left: 10px;
	vertical-align: top;
	border-bottom: solid 1px #c3c3c3;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.icone_fiche_2
{
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.nb_commentaires_fiche
{
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	text-align: center;
	margin-top: 10px;
	margin-left: -20px;
	background-color: #ff1937;
	border-radius: 50%;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	font-size: 70%;
	border: solid 2px #e3e3e3;
}

.zone_fiche_infos_bottom
{
	display: block;
	width: calc(100% - 20px);
	margin-left: 10px;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.icone_fiche_3
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	width: 25px;
	vertical-align: middle;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.form_participation
{
	display: inline-block;
	vertical-align: middle;
}

.input_participate
{
	margin-left: 5px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border: 0;
	background-color: transparent;
	background-image: url("/inside/includes/icons/moviehouse/participate.png");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.input_seen
{
	margin-left: 5px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border: 0;
	background-color: transparent;
	background-image: url("/inside/includes/icons/moviehouse/seen.png");
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.zone_fiche_bottom
{
	background-color: #d3d3d3;
}

.ligne_stars
{
	line-height: 30px;
	padding: 5px;
}

.vote_fiche
{
	cursor: pointer;
}

.icone_fiche_4
{
	display: inline-block;
	width: 20px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 5px;
	filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.avatar_fiche
{
	display: inline-block;
	width: 30px;
	vertical-align: middle;
	margin-top: -4px;
	margin-left: 5px;
	border-radius: 50%;
	background-color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Saisie préférence ***/
.fond_saisie_preference
{
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.zone_saisie_preference
{
	margin-top: 35vh;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-color: white;
	border-radius: 2px;
	overflow: hidden;
}

.titre_saisie_preference
{
	display: inline-block;
	background-color: #ff1937;
	width: calc(100% - 40px);
	margin-right: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: solid 2px #c81932;
}

.titre_preference
{
	width: calc(100% - 30px);
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 25px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	text-align: justify;
}

.close_preference
{
	float: right;
	vertical-align: top;
	margin-top: 8px;
	margin-right: -10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	text-align: center;
}

.form_saisie_preference
{
	padding: 10px;
	text-align: center;
}

.icone_preference
{
	vertical-align: middle;
	width: 30px;
	padding: 3px 5px 5px 7px;
}

.input_preference
{
	vertical-align: middle;
	margin-left: -40px;
	margin-right: 2px;
	background-color: transparent;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border: 0;
	border-radius: 50%;
}

.rounded
{
	border-radius: 50%;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Bandeau détails ***/
.bandeau_details
{
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: absolute;
	top: 110px;
	left: 0;
	background-color: black;
}

.bandeau_poster
{
	width: 100%;
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
	filter: blur(10px);
}

.titre_film_details
{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	position: relative;
	z-index: 1;
	text-align: center;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 300%;
	color: white;
	height: 300px;
	line-height: 50px;
	margin-left: 10%;
	margin-right: 10%;
	text-shadow: 0 0 2px black;
}

.link_prev_movie_empty
{
	float: left;
	position: relative;
	z-index: 2;
	height: 100px;
	width: 70px;
	margin-top: 100px;
	margin-left: 10%;
}

.link_next_movie_empty
{
	float: right;
	position: relative;
	z-index: 2;
	height: 100px;
	width: 70px;
	margin-top: 100px;
	margin-right: 10%;
}

.link_prev_movie
{
	float: left;
	position: relative;
	z-index: 2;
	height: 100px;
	width: 70px;
	line-height: 97px;
	margin-top: 100px;
	margin-left: 10%;
	cursor: pointer;
}

.link_next_movie
{
	float: right;
	position: relative;
	z-index: 2;
	height: 100px;
	width: 70px;
	line-height: 97px;
	margin-top: 100px;
	margin-right: 10%;
	cursor: pointer;
}

.fleche_detail
{
	height: 100px;
	width: 18px;
	vertical-align: middle;
	filter: drop-shadow(0px 0px 1px black);
	transition: height 0.2s;
}

.fleche_detail:hover
{
	height: 80%;
	width: 18px;
	transition: height 0.2s;
}

.padding_left
{
	padding-left: 50px;
}

.padding_right
{
	padding-right: 50px;
}

.titre_prev_movie
{
	position: absolute;
	left: 12.5%;
	z-index: 1;
	line-height: 300px;
	opacity: 0;
	margin-left: 20px;
	transition: opacity 0.5s, margin-left 0.5s;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	text-shadow: 0 0 1px black;
}

.link_prev_movie:hover ~ .titre_prev_movie
{
	opacity: 1;
	margin-left: -30px;
	transition: opacity 0.5s, margin-left 0.5s;
}

.titre_next_movie
{
	position: absolute;
	right: 12.5%;
	z-index: 1;
	line-height: 300px;
	margin-right: 20px;
	opacity: 0;
	margin-right: 20px;
	transition: opacity 0.5s, margin-right 0.5s;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	text-shadow: 0 0 1px black;
}

.link_next_movie:hover ~ .titre_next_movie
{
	opacity: 1;
	margin-right: -30px;
	transition: opacity 0.5s, margin-right 0.5s;
}

/*** Détails (gauche) ***/
.zone_details
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 247px;
}

.zone_details_left
{
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

.zone_details_poster
{
	display: inline-block;
	width: calc(100% - 50px);
	margin-top: -50px;
}

.img_details
{
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 3px #7c7c7c;
	border-radius: 2px;
}

.zone_details_actions
{
	display: inline-block;
	vertical-align: top;
	width: 50px;
	padding-bottom: 15px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	background-color: #e3e3e3;
}

.link_details
{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-top: 15px;
}

.icon_details
{
	vertical-align: bottom;
	width: 30px;
}

.icon_details_delete
{
	width: 30px;
	height: 30px;
	border: 0;
	background-color: transparent;
	background-image: url("/inside/includes/icons/common/delete_grey.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.zone_details_vote_user
{
	display: block;
}

.form_vote_left
{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 70%;
	text-align: left;
}

.star_vote
{
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding: 3px;
	border-radius: 50%;
}

.input_vote
{
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 0;
	vertical-align: middle;
	margin-left: -36px;
	margin-right: 5px;
	cursor: pointer;
	opacity: 0;
}

.form_vote_right
{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	width: calc(30% - 50px);
	text-align: right;
	margin-right: 50px;
}

.zone_details_votes
{
	width: calc(100% - 50px);
}

.zone_etoiles_user
{
	display: block;
	width: calc(100% - 20px);
	padding: 5px 10px 5px 10px;
	background-color: #e3e3e3;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
	margin-bottom: 5px;
}

.seen_interested
{
	background-color: #2eb2f4;
}

.participate_interested
{
	background-color: #70d55d;
}

.current_user_interested
{
	background-color: #262626;
	color: white;
}

.avatar_interested
{
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	margin-right: 10px;
	border-radius: 50%;
	box-shadow: 0 0 3px #7c7c7c;
	background-color: #262626;
}

.pseudo_interested
{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 90px);
	text-align: justify;
	word-break: break-word;
}

.star_interested
{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	margin-left: 10px;
	filter: drop-shadow(0px 0px 1px #4c4c4c);
}

/*** Détails (droite) ***/
.zone_details_right
{
	display: inline-block;
	vertical-align: top;
	width: calc(60% - 20px);
	margin-left: 20px;
}

.video_container
{
	position: relative;
	padding-top: 0px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
	margin-top: -20px;
	box-shadow: 0 0 3px #7c7c7c;
	border-radius: 2px;
}

.video_container iframe,
.video_container object,
.video_container embed
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video
{
	border: 0;
}

.contenu_synopsis
{
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	text-align: justify;
	line-height: 25px;
	background-color: #e3e3e3;
	padding: 10px;
	border-radius: 2px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.contenu_detail
{
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	font-size: 120%;
	margin-top: -10px;
	margin-bottom: 10px;
}

/*** Commentaires ***/
.zone_commentaires
{
	clear: both;
	width: 100%;
	padding-bottom: 25px;
	margin-top: 10px;
}

.zone_commentaires_users
{
	margin-top: -20px;
}

.zone_commentaire_user
{
	border-bottom: solid 1px #b3b3b3;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 50px;
}

.saisie_commentaires_films
{
	margin-top: 15px;
}

.zone_saisie_comment
{
	width: calc(100% - 20px);
	border: 0;
	border-radius: 2px;
	height: 100px;
	padding: 10px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	resize: none;
	box-shadow: 0 0 3px #7c7c7c;
}

.bouton_commentaires
{
	float: right;
	padding: 5px 20px 5px 20px;
	border: 0;
	margin-top: 15px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
	background-color: #e3e3e3;
	cursor: pointer;
	border-radius: 2px;
	filter: drop-shadow(0px 0px 1px #3c3c3c);
}

.bouton_commentaires:hover
{
	background-color: #ff1937;
	color: white;
}

.zone_saisie_smileys
{
	margin-top: 10px;
}

.smiley_2
{
	width: 25px;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
	border-radius: 50%;
	box-shadow: 0 0 3px #7c7c7c;
}

.zone_avatar_commentaire
{
	display: inline-block;
	vertical-align: top;
}

.avatar_comments
{
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	clear: both;
	box-shadow: 0 0 3px #7c7c7c;
	background-color: #262626;
}

.infos_commentaire_user
{
	display: inline-block;
	width: calc(100% - 150px);
	vertical-align: top;
	margin-left: 10px;
	margin-right: 15px;
}

.pseudo_comments_films
{
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	word-break: break-word;
}

.date_comments_films
{
	vertical-align: middle;
	font-family: robotolight, Verdana, sans-serif;
	color: #a3a3a3;
}

.texte_commentaire
{
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	text-align: justify;
	margin-left: 60px;
	margin-top: 20px;
}

.smiley
{
	width: 25px;
	vertical-align: middle;
}

.link_comment
{
	display: inline-block;
	margin-bottom: 5px;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/moviehouse/link.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 3px 3px #c3c3c3;
}

.zone_modification_commentaire
{
	width: calc(100% - 20px);
	margin-top: 10px;
	border: 0;
	height: 100px;
	padding: 10px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	resize: none;
	box-shadow: 0 0 3px #7c7c7c;
}

.actions_commentaires
{
	text-align: center;
	position: absolute;
	right: 7.5%;
	margin-top: -50px;
}

.link_actions_commentaires
{
	display: inline-block;
	vertical-align: middle;
}

.icone_modifier_comment
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 2px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/edit.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: 0 0 3px #7c7c7c;
}

.icone_supprimer_comment
{
	display: inline-block;
	margin-left: 15px;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 2px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/delete.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: 0 0 3px #7c7c7c;
}

.icone_valider_comment
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 2px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/validate.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: 0 0 3px #7c7c7c;
}

.icone_annuler_comment
{
	display: inline-block;
	margin-left: 15px;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 2px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/cancel.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Mailing ***/
.zone_destinataires_mail
{
	width: 760px;
	background-color: #e3e3e3;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 20px;
	margin-top: 30px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	text-align: justify;
}

.destinataires
{
	margin: 10px 0 10px 30px;
}

.avatar_dest
{
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	background-color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
	vertical-align: middle;
	margin-right: 10px;
	vertical-align: middle;
}

.pseudo_dest
{
	width: calc(100% - 50px);
	display: inline-block;
	word-break: break-word;
	font-size: 80%;
	vertical-align: middle;
}

.avertissement_mail
{
	margin: 0;
	color: #ff1937;
}

.send_mail_film
{
	border: 0;
	display: block;
	padding: 10px 20px 10px 20px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	cursor: pointer;
	background-color: #e3e3e3;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
	border: solid 1px #d3d3d3;
}

.send_mail_film:hover
{
	background-color: #ff1937;
	color: white;
}
