/**************/
/*** Commun ***/
/**************/

/*** Corps ***/
html
{
	height: 100%;
}

body
{
	min-height: 100vh;
	margin: 0;
	position: relative;
	background-color: #fbfbfb;
	background-image:	linear-gradient(transparent 199px, rgba(220, 220, 200, 0.6) 200px, transparent 200px), linear-gradient(90deg, transparent 199px, rgba(220, 220, 200, 0.6) 200px, transparent 200px);
	background-size: 100% 200px, 200px 100%;
	background-repeat: repeat;
}

section:not(.section_index):not(.section_no_nav)
{
	width: 100%;
	min-height: calc(100vh - 320px); /*marges = header + onglets + footer + padding*/
	height: 100%;
	padding-top: 30px;
	padding-bottom: 110px;
}

.section_index
{
	min-height: calc(100vh - 40px); /*marges = footer*/
}

.section_no_nav
{
	width: 100%;
	min-height: calc(100vh - 270px); /*marges = header + footer + padding*/
	height: 100%;
	padding-top: 30px;
	padding-bottom: 110px;
}

article:not(.article_index)
{
	width: calc(100% - 15%);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
}

a:link, a:visited, a:hover, a:active
{
	outline: none;
}

/*** Polices ***/
@font-face
{
	font-family: 'robotothin';
	src: url('/inside/includes/fonts/Roboto-Thin-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-Thin-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-Thin-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotothin_italic';
	src: url('/inside/includes/fonts/Roboto-ThinItalic-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotolight';
	src: url('/inside/includes/fonts/Roboto-Light-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-Light-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-Light-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotolight_italic';
	src: url('/inside/includes/fonts/Roboto-LightItalic-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotoregular';
	src: url('/inside/includes/fonts/Roboto-Regular-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-Regular-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotoitalic';
	src: url('/inside/includes/fonts/Roboto-Italic-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-Italic-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-Italic-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotomedium';
	src: url('/inside/includes/fonts/Roboto-Medium-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-Medium-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotomedium_italic';
	src: url('/inside/includes/fonts/Roboto-MediumItalic-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotobold';
	src: url('/inside/includes/fonts/Roboto-Bold-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-Bold-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotobold_italic';
	src: url('/inside/includes/fonts/Roboto-BoldItalic-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotoblack';
	src: url('/inside/includes/fonts/Roboto-Black-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-Black-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-Black-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'robotoblack_italic';
	src: url('/inside/includes/fonts/Roboto-BlackItalic-webfont.eot');
	src: url('/inside/includes/fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedlight';
	src: url('/inside/includes/fonts/RobotoCondensed-Light-webfont.eot');
	src: url('/inside/includes/fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedlight_italic';
	src: url('/inside/includes/fonts/RobotoCondensed-LightItalic-webfont.eot');
	src: url('/inside/includes/fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedregular';
	src: url('/inside/includes/fonts/RobotoCondensed-Regular-webfont.eot');
	src: url('/inside/includes/fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condenseditalic';
	src: url('/inside/includes/fonts/RobotoCondensed-Italic-webfont.eot');
	src: url('/inside/includes/fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedbold';
	src: url('/inside/includes/fonts/RobotoCondensed-Bold-webfont.eot');
	src: url('/inside/includes/fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'roboto_condensedbold_italic';
	src: url('/inside/includes/fonts/RobotoCondensed-BoldItalic-webfont.eot');
	src: url('/inside/includes/fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/inside/includes/fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
	     url('/inside/includes/fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
	     url('/inside/includes/fonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*** Entête ***/
header
{
	position: relative;
	z-index: 2;
}

.zone_bandeau
{
	background-color: #262626;
	width: 100%;
	height: 80px;
	line-height: 80px;
	overflow: hidden;
}

.zone_bandeau_left
{
	max-width: 50vw;
}

.zone_bandeau_right
{
	position: absolute;
	top: 0;
	right: 0;
	max-width: 50vw;
	height: 80px;
}

.logo_bandeau
{
	float: left;
	height: 150px;
	margin-top: -35px;
	margin-left: -30px;
}

.zone_notifications_bandeau
{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 70px;
	height: 80px;
	background-color: #1b1b1b;
}

.link_notifications
{
	display: block;
	width: 70px;
	line-height: 80px;
	text-align: center;
}

.icon_notifications
{
	width: 50px;
	vertical-align: middle;
	margin-top: -4px;
}

@keyframes rotateNotifs
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(-10deg);
	}
	50%
	{
		transform: rotateZ(0deg);
	}
	75%
	{
		transform: rotateZ(5deg);
	}
	100%
	{
		transform: rotateZ(0deg);
	}
}

.link_notifications:hover .icon_notifications
{
	animation: rotateNotifs 0.2s ease-in 3;
}

.number_notifications
{
	float: left;
	margin-top: -82px;
	width: 70px;
	text-align: center;
	color: #262626;
	position: relative;
	z-index: 1;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
}

.zone_recherche_bandeau
{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	max-width: calc(50vw - 222px);
	height: 80px;
}

.form_recherche_bandeau
{
	width: 100%;
	line-height: 80px;
}

.logo_rechercher
{
	display: inline-block;
	background-color: #ff1937;
	width: 48px;
	height: 42px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	vertical-align: middle;
	margin-top: -4px;
	border: 0;
	background-image: url("/inside/includes/icons/common/search.png");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 45% center;
	cursor: pointer;
}

.recherche_bandeau
{
	background-color: #e3e3e3;
	line-height: 40px;
	min-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border: 0;
	width: calc(100% - 68px);
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	vertical-align: middle;
	margin-left: -4px;
	margin-top: -4px;
}

.zone_titre_page
{
	display: inline-block;
	margin-right: -4px;
	font-family: robotolight_italic, Verdana, sans-serif;
	font-size: 150%;
	text-transform: uppercase;
	color: white;
	line-height: 80px;
	height: 80px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 20vw;
	text-align: right;
}

.text_titre_page
{
	display: inline-block;
	line-height: 20px;
	margin-top: -8px;
	vertical-align: middle;
}

.zone_profil_bandeau
{
	display: inline-block;
	background-color: #1b1b1b;
	line-height: 80px;
	height: 80px;
	vertical-align: top;
	max-width: calc(30vw - 115px);
	overflow: hidden;
}

.pseudo_bandeau
{
	display: inline-block;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #7c7c7c;
	text-decoration: none;
	vertical-align: middle;
	margin-top: -4px;
	padding: 5px 10px 5px 20px;
	max-height: 80px;
	line-height: 20px;
	text-align: justify;
	margin-right: 75px;
	word-break: break-word;
}

.avatar_bandeau
{
	position: absolute;
	right: 50px;
	top: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	transform: rotateY(0deg);
}

.zone_profil_bandeau:hover .avatar_bandeau
{
	transform: rotateY(360deg);
	transition: transform 0.6s ease;
}

.zone_actions_header
{
	display: inline-block;
	width: 40px;
	height: 80px;
	vertical-align: top;
	background-color: #1b1b1b;
}

.icone_action_header
{
	display: block;
	height: 30px;
	padding: 5px;
}

.icone_deconnexion_header
{
	display: block;
	width: 40px;
	height: 40px;
	border: 0;
	background-image: url("/inside/includes/icons/common/logout.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
}

/*** Barre de progression niveau ***/
.canvasized
{
	display: inline-grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	width: auto;
}

.circle
{
	grid-row: 1;
	grid-column: 1;
}

.circle:first-child
{
	z-index: 2;
}

.percentage
{
	grid-row: 1;
	grid-column: 1;
	align-self: center;
	justify-self: center;
}

.level_header
{
	position: absolute;
	top: 5px;
	right: 95px;
	border-radius: 50%;
	background-color: #ff1937;
	width: 22px;
	height: 22px;
	line-height: 20px;
	z-index: 3;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 80%;
	color: white;
	text-align: center;
}

.circular_bar_header
{
	position: absolute;
	margin-top: -10px;
	right: 30px;
	height: 90px;
	overflow: hidden;
}

/*** Aside (menu latéral gauche) ***/
aside
{
	width: 108px;
	float: left;
	margin-left: -83px;
	margin-top: -30px;
	position: absolute;
	z-index: 3;
}

.aside_nav
{
	height: calc(100% - 183px);
}

.aside_no_nav
{
	height: calc(100% - 130px);
}

.menu_aside_hidden
{
	display: inline-block;
	width: 80px;
	height: 100%;
	background-color: #ff1937;
	border-right: solid 2px #c81932;
	vertical-align: top;
	text-align: center;
}

.menu_aside_visible
{
	display: inline-block;
	width: 25px;
	height: 100%;
	background-color: #ff1937;
	border-left: solid 1px rgb(255, 255, 255, 0.1);
	vertical-align: top;
	cursor: pointer;
}

.logos_menu
{
	margin-top: 20px;
}

.icon_menu_aside
{
	width: 15px;
	height: 15px;
	margin-left: 5px;
}

.link_aside
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #c81932;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 2px;
	cursor: pointer;
	transition: width ease 0.2s;
	text-decoration: none;
}

.link_aside:hover
{
	width: 60px;
	transition: width ease 0.2s;
}

.icon_aside
{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-top: -3px;
}

/*** Nav (menu catégories) ***/
.separation_nav
{
	background-color: #1b1b1b;
	width: 100%;
	height: 2px;
	border-bottom: solid 1px #262626;
}

.menu_nav
{
	background-color: #303030;
	text-align: center;
	height: 50px;
}

.icon_down
{
	height: 25px;
}

.logo_onglet
{
	height: 30px;
	width: 30px;
	padding: 10px 20px 10px 20px;
}

.onglet_inactif
{
	display: inline-block;
	height: 50px;
	background-color: #303030;
}

.onglet_inactif:hover
{
	background-color: #262626;
}

.onglet_actif
{
	display: inline-block;
	height: 50px;
	background-color: #262626;
}

/*** Liens de saisie ***/
.zone_liens_saisie
{
	text-align: center;
}

.lien_categorie
{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	background-color: #e3e3e3;
	border-radius: 2px;
	margin-bottom: 15px;
	overflow: hidden;
	box-shadow: 0 0 3px #7c7c7c;
}

.zone_logo_lien
{
	float: left;
	width: 50px;
	height: 50px;
	background-color: #ff1937;
	text-align: center;
}

.zone_texte_lien
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 50px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
}

.image_lien
{
	width: 35px;
	height: 35px;
	margin-top: 7.5px;
}

/*** Titres sections ***/
.titre_section
{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 150%;
	font-weight: bold;
	border-bottom: solid 1px #b3b3b3;
	line-height: 30px;
  margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262626;
	text-align: left;
	word-break: break-word;
}

.logo_titre_section
{
	display: inline-block;
	height: 25px;
	width: 25px;
	vertical-align: top;
	margin-top: 5px;
}

.texte_titre_section
{
	display: inline-block;
	width: calc(100% - 35px);
	margin-left: 10px;
	vertical-align: middle;
}

/*** Ombre ancres ***/
.zone_shadow
{
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Texte zone vide ***/
.empty
{
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	font-size: 150%;
	text-align: center;
	line-height: 100px;
}

/*** Alertes ***/
@keyframes affichageAlerte
{
	0%
	{
		top: -300px;
	}
	100%
	{
		top: 20%;
	}
}

.message_alerte
{
	animation: 0.5s ease 0s normal forwards 1 affichageAlerte;
	width: 500px;
	position: fixed;
	z-index: 15;
	left: 50%;
	margin-left: -250px;
	box-shadow: 0 5px 8px #262626;
	border-radius: 2px;
	overflow: hidden;
}

.inside_alerte
{
	width: 460px;
	height: 50px;
	line-height: 50px;
	background-color: #ff1937;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 140%;
	color: white;
	border-bottom: solid 2px #c81932;
}

.zone_alertes
{
	width: 460px;
	min-height: 80px;
	background-color: #ff1937;
	padding: 20px 20px 15px 20px;
	border-top: solid 1px #ff4961;
}

.zone_alerte
{
	display: block;
	margin-bottom: 5px;
}

.logo_alerte
{
	height: 25px;
	margin-right: 5px;
	margin-left: -5px;
}

.texte_alerte
{
	margin-left: 30px;
	margin-top: -26px;
	line-height: 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	text-align: justify;
	color: white;
}

.boutons_alerte
{
	width: 500px;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
}

.bouton_alerte
{
	float: right;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	background-color: #ff1937;
	text-decoration: none;
	text-align: center;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	cursor: pointer;
	box-shadow: 0 0 3px #7c7c7c;
}

.bouton_alerte:hover
{
	background-color: #c81932;
}

/*** Symbole chargement page ***/
.zone_loading_page
{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.loading_page
{
	width: 0px;
	background-color: #262626;
	border-radius: 50px;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Symbole chargement formulaire ***/
.zone_loading_form
{
	width: 100%;
}

.loading_form
{
	width: 0px;
	background-color: #262626;
	border-radius: 50px;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Zoom images ***/
.fond_zoom
{
	display: none;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
	line-height: 100vh;
	overflow: hidden;
}

.zone_image_zoom
{
	display: inline-block;
	vertical-align: middle;
}

.lien_zoom
{
	float: right;
	margin-top: -40px;
	margin-left: -30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.close_zoom
{
	display: block;
	width: 20px;
	padding: 5px;
	transform: rotate(0deg);
	transition: transform 0.2s ease;
}

.close_zoom:hover
{
	transform: rotate(90deg);
	transition: transform 0.2s ease;
}

.image_zoom
{
	display: block;
	max-width: calc(100vw - 100px);
	max-height: calc(100vh - 150px);
	border-radius: 2px;
}

.image_zoom_2
{
	display: block;
	max-width: calc(100vw - 515px);
	max-height: calc(100vh - 150px);
	border-radius: 2px;
}

.zone_texte_zoom
{
	display: inline-block;
	max-height: calc(100vh - 150px);
	width: 400px;
	vertical-align: middle;
	margin-left: 15px;
	border-radius: 2px;
	background-color: white;
}

.texte_zoom
{
	height: 100%;
	overflow-y: auto;
	line-height: 100%;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

/*** Déblocage succès & zoom ***/
.fond_zoom_succes
{
	display: block;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
	line-height: 100vh;
	overflow-y: auto;
}

.zone_success_zoom
{
	display: inline-block;
	margin: 50px;
	vertical-align: middle;
	line-height: 100%;
}

.titre_zone_succes_zoom
{
	font-family: robotothin, Verdana, sans-serif;
	font-size: 300%;
	color: white;
	line-height: 140%;
	margin-bottom: 20px;
}

.zone_succes_zoom
{
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin-bottom: 20px;
}

.titre_succes_zoom
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 200%;
	color: white;
	line-height: 120%;
}

.logo_succes_zoom
{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 2px;
}

.description_succes_zoom
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 2px;
	width: calc(80% - 10px);
	line-height: 120%;
	background-color: #ffad01;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 160%;
	color: white;
	box-shadow: 0 0 3px #7c7c7c;
}

.explications_succes_zoom
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	width: calc(80% - 10px);
	line-height: 120%;
	font-family: robotothin_italic, Verdana, sans-serif;
	font-size: 140%;
	color: white;
}

.zone_boutons_succes_zoom
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bouton_succes_zoom
{
	display: inline-block;
	padding: 10px 20px 10px 20px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	background-color: #b3b3b3;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	cursor: pointer;
	text-decoration: none;
}

.bouton_succes_zoom:hover
{
	background-color: #ff1937;
}

/*** Pagination ***/
.zone_pagination
{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
}

.numero_page_active
{
	background-color: #ff1937;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 40px;
	border-radius: 50%;
}

.numero_page_inactive
{
  background-color: #a3a3a3;
	font-family: robotolight, Verdana, sans-serif;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 40px;
  border-radius: 50%;
}

.numero_page_inactive:hover
{
	background-color: #c81932;
}

.lien_pagination
{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  border-radius: 50%;
}

.points
{
	display: inline-block;
	font-family: robotolight, Verdana, sans-serif;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #262626;
}

/*** Pied de page ***/
footer
{
	background-color: #262626;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.version
{
	display: inline-block;
	line-height: 50px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
}

.link_footer_active
{
	display: inline-block;
	vertical-align: bottom;
	width: 60px;
	height: 50px;
	background-color: #1b1b1b;
}

.link_footer
{
	display: inline-block;
	vertical-align: bottom;
	width: 60px;
	height: 50px;
	background-color: #262626;
}

.link_footer:hover
{
	background-color: #1b1b1b;
}

.icone_footer
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.count_bugs
{
	float: right;
	position: relative;
	z-index: 1;
	margin: -14px 5px 5px -25px;
	width: 18px;
	height: px18;
	border-radius: 50%;
	background-color: #ff1937;
}

.number_bugs
{
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	text-align: center;
	line-height: 18px;
	font-size: 65%;
}

.copyright
{
	float: right;
	line-height: 50px;
	margin-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
}

/*** Icônes des missions (générées) ***/
.header_left_mission
{
	position: absolute;
	top: 15px;
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.header_middle_mission
{
	position: absolute;
	top: 30px;
	left: calc(50% - 25px);
	height: 50px;
	width: 50px;
	z-index: 5;
}

.header_right_mission
{
	position: absolute;
	top: 15px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_top_left_mission
{
	position: absolute;
	top: 150px;
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_top_left_mission_no_nav
{
	position: absolute;
	top: 100px;
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_middle_left_mission
{
	position: absolute;
	top: calc(50% - 25px);
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_bottom_left_mission
{
	position: absolute;
	bottom: 70px;
	left: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_top_right_mission
{
	position: absolute;
	top: 150px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_top_right_mission_no_nav
{
	position: absolute;
	top: 100px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_middle_right_mission
{
	position: absolute;
	top: 50%;
	margin-top: -25px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.article_bottom_right_mission
{
	position: absolute;
	bottom: 70px;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 5;
}

.footer_left_mission
{
	position: absolute;
	bottom: 5px;
	left: 0;
	height: 40px;
	width: 40px;
	z-index: 5;
}

.footer_middle_mission
{
	position: absolute;
	bottom: 0;
	left: calc(50% - 20px);
	height: 40px;
	width: 40px;
	z-index: 5;
}

.footer_right_mission
{
	position: absolute;
	bottom: 5px;
	right: 0;
	height: 40px;
	width: 40px;
	z-index: 5;
}

.header_left_mission input, .header_middle_mission input, .header_right_mission input,
.article_top_left_mission input, .article_top_left_mission_no_nav input, .article_middle_left_mission input, .article_bottom_left_mission input,
.article_top_right_mission input, .article_top_right_mission_no_nav input, .article_middle_right_mission input, .article_bottom_right_mission input
{
	border: 0;
	background-color: transparent;
	height: 50px;
	width: 50px;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	vertical-align: top;
	cursor: pointer;
}

.footer_left_mission input, .footer_middle_mission input, .footer_right_mission input
{
	border: 0;
	background-color: transparent;
	height: 40px;
	width: 40px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	vertical-align: top;
	cursor: pointer;
}

/*** Tailles ***/
.width_100
{
	width: 100%;
}

/*** Marges ***/
.margin_top_moins_10
{
	margin-top: -10px;
}

.margin_top_0
{
	margin-top: 0;
}

.margin_top_10
{
	margin-top: 10px;
}

.margin_top_20
{
	margin-top: 20px;
}

.margin_top_60
{
	margin-top: 60px;
}

.margin_right_moins_5
{
	margin-right: -5px;
}

.margin_right_10
{
	margin-right: 10px;
}

.margin_right_20
{
	margin-right: 20px;
}

.margin_bottom_0
{
	margin-bottom: 0px;
}

.margin_left_50
{
	margin-left: 50px;
}
