/**********************/
/*** Administration ***/
/**********************/

/*** Menu ***/
.menu_admin
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: -40px;
	opacity: 0;
	transition: opacity 0.2s;
}

.menu_admin.masonry
{
	opacity: 1;
}

.menu_admin_box
{
	height: 200px;
	width: 300px;
	display: inline-block;
	margin-right: -4px;
	background-color: #374650;
	border-radius: 5px;
}

.mask_admin
{
	float: right;
	background-color: white;
	width: 70px;
	height: 200px;
	opacity: 0.1;
}

.mask_admin_triangle
{
	float: right;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 200px 50px;
	border-color: transparent transparent white transparent;
	opacity: 0.1;
}

.menu_link_admin
{
	text-decoration: none;
	display: block;
	height: 200px;
	width: 300px;
	margin-bottom: 15px;
}

.title_admin
{
	position: absolute;
	margin-top: 30px;
	margin-left: 30px;
	color: white;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 200%;
	line-height: 35px;
	text-align: justify;
}

.export_bdd
{
	position: relative;
	z-index: 1;
	float: left;
	margin-top: -200px;
	background-color: transparent;
	border: 0;
	height: 200px;
	width: 300px;
	padding-bottom: 100px;
	padding-left: 30px;
	color: white;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 200%;
	line-height: 35px;
	text-align: justify;
	cursor: pointer;
	border-radius: 5px;
}

/*** Infos utilisateurs ***/
.zone_infos
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -40px;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_infos.masonry
{
	opacity: 1;
}

.zone_infos_user
{
	background-color: #e3e3e3;
	display: block;
	width: 280px;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px #d3d3d3;
	vertical-align: top;
}

.circle_avatar
{
  float: left;
	width: 100px;
  height: 100px;
  border-radius: 50%;
	box-shadow: 0 0 3px #7c7c7c;
  background-color: #262626;
}

.infos_avatar
{
	width: 100px;
  border-radius: 50%;
}

.infos_pseudo
{
	margin-left: 110px;
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	text-align: left;
	word-wrap: break-word;
}

.infos_identifiant
{
	margin-left: 110px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	text-align: left;
}

.infos_mail
{
	clear: both;
	margin-top: 20px;
	font-family: robotolight_italic, Verdana, sans-serif;
	color: #262626;
	text-align: left;
	word-wrap: break-word;
}

.infos_niveau
{
	margin-left: 110px;
	font-family: robotolight, Verdana, sans-serif;
	color: #ff1937;
	text-align: left;
	word-wrap: break-word;
}

.logo_infos
{
	display: inline-block;
	width: 20px;
	margin-right: 5px;
	vertical-align: bottom;
}

.zone_form_users
{
	clear: both;
	padding-top: 10px;
	height: 30px;
}

.form_infos_users input
{
	vertical-align: middle;
	height: 30px;
	border: 0;
	width: 50%;
	cursor: pointer;
	font-family: robotolight, Verdana, sans-serif;
}

.beginner
{
	float: left;
	background-color: #ff1937;
	color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.not_beginner
{
	float: left;
	background-color: white;
	color: #262626;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.developper
{
	float: right;
	background-color: #ffad01;
	color: #262626;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.not_developper
{
	float: right;
	background-color: #b3b3b3;
	color: #262626;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.date_infos_users
{
	clear: both;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	font-size: 80%;
	text-align: justify;
	padding-top: 10px;
}

/*** Gestion des utilisateurs ***/
.form_manage_user
{
	display: inline-block;
	padding: 3px;
}

.title_gestion
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 120%;
	text-align: center;
	background-color: #ff1937;
	color: white;
	padding: 5px 1% 5px 1%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.table_manage_users
{
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	margin-bottom: 30px;
}

.table_manage_users td
{
	border: 1px solid #b3b3b3;
}

.init_tr_manage_users
{
	text-align: center;
	background-color: #e3e3e3;
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
	color: #262626;
}

.init_td_manage_users
{
	padding-left: 20px;
	padding-right: 20px;
	border: solid 1px #b3b3b3;
}

.tr_manage_users
{
	text-align: center;
}

.tr_manage_users:hover
{
	background-color: #B3B3B3;
}

.td_manage_users
{
	text-align: center;
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	border: solid 1px #b3b3b3;
	word-break: break-word;
}

.reseted
{
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
	margin-bottom: 30px;
}

.reseted_2
{
	width: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 140%;
	color: #262626;
	background-color: #e3e3e3;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 50px;
}

.reset_warning
{
	font-family: robotomedium, Verdana, sans-serif;
	color: #ff1937;
	font-size: 150%;
}

.td_stats_admin
{
	padding: 5px;
	border: solid 1px #b3b3b3;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
}

.table_old_users
{
	line-height: 40px;
	font-family: robotolight, Verdana, sans-serif;
	background-color: #2eb2f4;
	color: white;
	text-align: center;
}

.banderole_left_1
{
	height: 42px;
	width: 10px;
	position: absolute;
	background-color: #2eb2f4;
	margin-left: -11px;
	margin-top: -1px;
}

.banderole_left_2
{
	height: 10px;
	width: 10px;
	position: absolute;
	background: linear-gradient(to left bottom, #262626 50%, transparent 50%);
	margin-left: -11px;
	margin-top: 41px;
	z-index: 0;
}

.banderole_left_3
{
	height: 42px;
	width: 10px;
	float: right;
	background-color: #2eb2f4;
	margin-right: -11px;
	margin-top: -1px;
	margin-bottom: -1px;
}

.banderole_left_4
{
	height: 10px;
	width: 10px;
	float: right;
	background: linear-gradient(to right bottom, #262626 50%, transparent 50%);
	margin-right: -11px;
	margin-top: 41px;
	margin-bottom: -11px;
}

.icone_annuler
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/cancel.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}

.icone_accepter
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/validate.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}

.bouton_admin
{
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	background-color: #e3e3e3;
}

.bouton_admin:hover
{
	background-color: #ff1937;
	color: white;
	cursor: pointer;
}

/*** Gestion calendriers ***/
.form_autorisations
{
	background-color: #e3e3e3;
	width: 100%;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.zone_autorisations
{
	padding: 10px;
}

.switch_autorisation
{
	display: inline-block;
	margin: 10px 5px 0 5px;
	height: 35px;
	line-height: 35px;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	padding-left: 5px;
	cursor: pointer;
	background-color: white;
	word-break: break-word;
}

.switch_autorisation input
{
	cursor: pointer;
}

.switch_autorisation:hover
{
	background-color: #262626;
	color: white;
}

.saisie_autorisations
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	background-color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
}

.saisie_autorisations:hover
{
	background-color: #ff1937;
	color: white;
}

.calendar_to_delete
{
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0 0 3px #a3a3a3;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title_calendar_to_delete
{
	margin-bottom: 10px;
	background-color: #ffad01;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}

/*** Saisie succès ***/
.entete_admin
{
	width: 100%;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 150%;
	font-weight: bold;
	border-bottom: solid 1px #b3b3b3;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262626;
}

.form_saisie_succes
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.table_saisie_succes
{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 15px;
}

.td_saisie_succes_tit
{
	width: 30%;
	padding-right: 1%;
}

.saisie_succes_tit
{
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_succes_ref
{
	width: 15%;
	padding-right: 1%;
}

.saisie_succes_ref
{
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_succes_niv
{
	width: 15%;
	padding-right: 1%;
}

.saisie_succes_niv
{
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_succes_ord
{
	width: 15%;
	padding-right: 1%;
}

.saisie_succes_ord
{
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_succes_par
{
	width: 20%;
	padding-right: 1%;
}

.zone_parcourir_succes
{
	width: 100%;
	height: 44px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: #e3e3e3;
	text-align: center;
}

.zone_parcourir_succes:hover
{
	background-color: #ff1937;
	color: white;
}

.bouton_parcourir_succes
{
	display: block;
	width: 100%;
	margin-top: -40px;
	opacity: 0;
	height: 44px;
	cursor: pointer;
}

.label_parcourir
{
	line-height: 44px;
	height: 40px;
	width: 100%;
}

.td_saisie_succes_env
{
	width: 5%;
}

.send_succes
{
	height: 44px;
	width: 100%;
	border: 0;
	background-color: #e3e3e3;
	background-image: url("/inside/includes/icons/common/send_red.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border-radius: 5px;
	vertical-align: middle;
}

.send_succes:hover
{
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/send.png");
}

.td_saisie_succes_desc
{
	width: 75%;
	padding-right: 1%;
}

.saisie_description
{
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_succes_cond
{
	width: 25%;
}

.saisie_limit
{
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_succes_expl
{
	width: 100%;
}

.saisie_explaination
{
	width: 98.4%;
	padding-left: 0.8%;
	padding-right: 0.8%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.titre_explications
{
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 110%;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contenu_explications
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	text-align: justify;
	margin-bottom: 10px;
}

/*** Initialisation succès ***/
.form_init_succes
{
	display: inline-block;
	vertical-align: top;
}

.bouton_init
{
	height: 40px;
	width: 180px;
	margin-top: 15px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: #d3d3d3;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.bouton_init:hover
{
	background-color: #ff1937;
	color: white;
}

.explications_init
{
	display: inline-block;
	min-height: 40px;
	width: calc(100% - 195px);
	margin-left: 15px;
	margin-top: 15px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
	text-align: justify;
	line-height: 30px;
}

/*** Affichage succès ***/
.zone_succes_admin
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.ensemble_succes
{
	margin-bottom: 25px;
	padding-right: 20px;
}

.zone_niveau_succes_admin
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -25px;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_niveau_succes_admin.masonry
{
	opacity: 1;
}

.succes_liste
{
	display: block;
	vertical-align: top;
	text-align: center;
	width: 140px;
	background-color: #ffad01;
	padding: 10px;
	border-radius: 5px;
}

.ordonnancement_succes
{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	padding: 2px;
	border-radius: 50%;
	background-color: #ff1937;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	margin-bottom: -24px;
	position: relative;
	z-index: 1;
}

.condition_succes
{
	float: right;
	height: 20px;
	line-height: 20px;
	padding: 2px;
	border-radius: 5px;
	background-color: #ff1937;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	margin-bottom: -24px;
	position: relative;
	z-index: 1;
}

.logo_succes
{
	width: 140px;
}

.titre_succes
{
	margin-top: 6px;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
}

.reference_succes
{
	margin-top: 6px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	background-color: #ff1937;
	border-radius: 5px;
	color: white;
}

.description_succes
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: robotolight_italic, Verdana, sans-serif;
	color: #262626;
}

.defined_succes
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
}

.radio_space
{
	display: inline-block;
	margin-right: 10px;
}

.explications_succes
{
	background-color: #c48500;
	margin: -10px;
	margin-top: 0;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
}

.zone_niveau_mod_succes_admin
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -25px;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_niveau_mod_succes_admin.masonry
{
	opacity: 1;
}

.succes_liste_mod
{
	display: block;
	vertical-align: top;
	text-align: center;
	width: 300px;
	background-color: #ffad01;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 25px;
}

.succes_mod_left
{
	width: 140px;
	float: left;
	margin-bottom: 10px;
}

.succes_mod_right
{
	width: 140px;
	float: right;
	margin-bottom: 10px;
	border-left: solid 1px white;
	padding-left: 10px;
}

.succes_mod_bottom
{
	clear: both;
}

.form_suppression_succes
{
	float: right;
	margin-right: -20px;
	margin-top: 40px;
}

.bouton_delete
{
	border: 0;
	width: 20px;
	height: 30px;
	margin-top: -2px;
	background-color: #d3d3d3;
	background-image: url("/inside/includes/icons/common/delete_grey.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.level_succes
{
	width: 100%;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 150%;
	font-weight: bold;
	color: #262626;
	border-bottom: solid 1px #b3b3b3;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 15px;
}

.number_level
{
	display: inline-block;
	width: 25px;
	height: 25px;
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	font-size: 60%;
	text-align: center;
	margin-left: -25px;
	vertical-align: top;
}

.bouton_delete:hover
{
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/delete.png");
}

.avertissement_succes
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
	text-align: justify;
}

.saisie_modification_succes
{
	border: 0;
	background-color: white;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 110%;
	color: #262626;
	padding: 2%;
	width: 96%;
	margin-top: 10px;
}

.textarea_modification_succes
{
	border: 0;
	background-color: white;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 110%;
	color: #262626;
	padding: 2%;
	width: 96%;
	height: 100px;
	margin-top: 10px;
	resize: none;
}

.textarea_modification_succes_2
{
	border: 0;
	background-color: white;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 110%;
	color: #262626;
	padding: 2%;
	width: 96%;
	height: 60px;
	margin-top: 10px;
	resize: none;
}

.bouton_modification_succes
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: #d3d3d3;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.bouton_modification_succes:hover
{
	background-color: #ff1937;
	color: white;
}

/*** Tâches CRON ***/
.zone_cron_asynchrone
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.zone_cron
{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	box-shadow: 0 0 3px #7c7c7c;
	text-align: justify;
	border-radius: 2px;
	overflow: hidden;
}

.titre_cron
{
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50px;
	background-color: #ff1937;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 140%;
	color: white;
	border-bottom: solid 2px #c81932;
}

.contenu_cron
{
	min-height: 80px;
	line-height: 20px;
	background-color: #ff1937;
	padding: 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: white;
	border-top: solid 1px #ff4961;
}

.boutons_cron
{
	height: 60px;
	background-color: white;
}

.bouton_cron
{
	background-color: #ff1937;
	float: right;
	margin-right: 20px;
	height: 35px;
	line-height: 35px;
	margin-top: 12.5px;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: white;
	cursor: pointer;
	border: 0;
}

.bouton_cron:hover
{
	background-color: #c81932;
}

/*** Logs ***/
.zone_cron_logs
{
	clear: both;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.zone_jlog
{
	display: inline-block;
	float: left;
	vertical-align: top;
	width: 49%;
	text-align: justify;
	margin-top: 15px;
}

.zone_hlog
{
	display: inline-block;
	float: right;
	vertical-align: top;
	width: 49%;
	text-align: justify;
	margin-top: 15px;
}

.zone_logs
{
	margin-top: 15px;
}

.zone_log
{
	width: 100%;
	border-collapse: collapse;
	margin-top: 5px;
}

.log_ok
{
	background-color: #2ecc71;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: robotomedium, Verdana, sans-serif;
	color: white;
	margin-top: 5px;
}

.log_ko
{
	background-color: #ff1937;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: robotomedium, Verdana, sans-serif;
	color: white;
	margin-top: 5px;
}

.titre_log
{
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #d3d3d3;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
}

.voir_log
{
	background-color: #e3e3e3;
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.see_log
{
	height: 20px;
	vertical-align: middle;
	margin-top: -3px;
	padding: 10px;
}

.log
{
	font-family: Courier, Verdana, sans-serif;
	color: #262626;
	padding: 10px 20px 10px 20px;
	background-color: #e3e3e3;
	word-wrap: break-word;
	text-align: left;
}

.zone_no_logs
{
	display: inline-block;
	width: 100%;
	box-shadow: 0 0 3px #7c7c7c;
	text-align: justify;
	border-radius: 2px;
	overflow: hidden;
}

.titre_no_logs
{
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50px;
	background-color: #ff1937;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 140%;
	color: white;
	border-bottom: solid 2px #c81932;
}

.contenu_no_logs
{
	line-height: 20px;
	background-color: #ff1937;
	padding: 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: white;
	border-top: solid 1px #ff4961;
}

.clear
{
	clear: both;
}

/*** Missions ***/
.zone_missions
{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
	width: 100%;
}

.zone_presentation_mission
{
  width: 32%;
  text-decoration: none;
}

.img_mission
{
  width: 100%;
	border-radius: 2px;
	margin-bottom: 5px;
}

.titre_mission
{
	display: inline-block;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
  color: white;
	padding: 10px;
  width: calc(100% - 60px);
  text-align: center;
	background-color: #ff1937;
	color: white;
	box-shadow: 0 0 3px #7c7c7c;
  border-radius: 2px;
}

.form_suppression_mission
{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.bouton_delete_mission
{
	border: 0;
	width: 30px;
	height: 30px;
	background-color: #d3d3d3;
	background-image: url("/inside/includes/icons/common/delete_grey.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
}

.bouton_delete_mission:hover
{
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/delete.png");
}

/*** Saisie mission ***/
.form_saisie_mission
{
	display: inline-block;
	width: 70%;
	margin-top: 2px;
}

.table_mission
{
	width: 100%;
  border-collapse: collapse;
	box-shadow: 0 0 5px #7c7c7c;
  border-radius: 2px;
  overflow: hidden;
	background-color: #ff1937;
}

.input_mission_title
{
	border: 0;
	float: left;
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
	padding: 10px;
	border-radius: 2px;
	width: calc(100% - 60px);
	z-index: 1;
}

.zone_parcourir_missions
{
	width: 200px;
	height: 45px;
	margin-top: 80px;
	margin-left: 17px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 50%;
	color: white;
	background-color: #ff1937;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.zone_parcourir_missions:hover
{
	background-color: white;
	color: #262626;
}

.bouton_parcourir_mission
{
	opacity: 0;
	height: 45px;
	margin-top: -40px;
	display: block;
	cursor: pointer;
}

.preview_image_mission
{
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin-top: -125px;
	margin-left: auto;
	margin-right: auto;
}

.zone_image_mission
{
	display: inline-block;
	margin-top: -67px;
	min-height: 140px;
	width: calc(100% - 6px);
	border-style: dashed;
	border-color: #a3a3a3;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 200%;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
	background-color: #d3d3d3;
	margin-bottom: -4px;
}

.icons_mission
{
	border-bottom: solid 2px #c81932;
	width: 33%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.zone_parcourir_mission_icones
{
	display: inline-block;
	height: 150px;
	line-height: 150px;
	width: 150px;
	border-style: dashed;
	border-color: #a3a3a3;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 130%;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
	background-color: #d3d3d3;
}

.info_icon
{
	padding-top: 45px;
	padding-bottom: 45px;
	line-height: 30px;
}

.bouton_parcourir_mission_icones
{
	opacity: 0;
	height: 100%;
	width: 100%;
	display: block;
	margin-top: -150px;
	cursor: pointer;
}

.preview_icon_mission
{
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin-top: -150px;
	margin-left: auto;
	margin-right: auto;
}

.dates_saisie_mission
{
	width: calc(100% - 40px);
	background-color: #ff1937;
	line-height: 50px;
	padding: 10px 20px 10px 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	border-bottom: solid 2px #c81932;
	text-align: center;
}

.input_mission_date
{
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	padding: 10px;
	border-radius: 2px;
}

.rift_saisie_mission
{
	padding: 0;
	height: 1px;
	background-color: rgb(255, 255, 255, 0.2);
}

.heure_saisie_mission
{
	width: calc(100% - 40px);
	background-color: #ff1937;
  line-height: 30px;
	padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
	padding-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: white;
  text-align: center;
}

.select_time_mission
{
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	padding: 5px;
	border-radius: 2px;
	margin-left: 10px;
}

.description_saisie_mission
{
  width: calc(100% - 40px);
  background-color: #e3e3e3;
}

.textarea_description_mission
{
	width: calc(100% - 22px);
	min-height: 300px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
	padding: 10px;
	resize: vertical;
	line-height: 30px;
	margin-bottom: -1px;
	border: 0;
	background-color: #e3e3e3;
}

.input_mission_reference
{
	width: calc(100% - 20px);
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	padding: 10px;
	border-radius: 2px;
}

.reference_mission
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	margin-left: 5px;
}

.input_mission_objectif
{
	width: 100px;
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	padding: 10px;
	border-radius: 2px;
}

.td_saisie_mission_left
{
	width: 25%;
	background-color: #ff1937;
	border-bottom: solid 2px #c81932;
	line-height: 30px;
	padding: 10px 20px 10px 20px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: white;
	text-align: justify;
}

.td_saisie_mission_right
{
	border-bottom: solid 2px #a3a3a3;
	background-color: #d3d3d3;
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 11px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	color: #262626;
	text-align: justify;
}

.rift_saisie_mission_left
{
	padding: 0;
	height: 1px;
	background-color: rgb(255, 255, 255, 0.2);
}

.rift_saisie_mission_right
{
	padding: 0;
	height: 1px;
	background-color: #e3e3e3;
}

.textarea_right_mission
{
	width: calc(100% - 20px);
	height: 100px;
	min-height: 100px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	border: 0;
	border-radius: 2px;
	color: #262626;
	padding: 10px;
	resize: vertical;
	line-height: 30px;
}

.submit_mission
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	border: 0;
	line-height: 40px;
	border-radius: 2px;
	background-color: #c81932;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 18px;
	color: white;
	cursor: pointer;
	transition: padding 0.2s ease;
	text-transform: uppercase;
}

.submit_mission:hover
{
	padding-left: 30px;
	padding-right: 30px;
	transition: padding 0.2s ease;
}

/*** Classement ***/
.table_ranking
{
	vertical-align: top;
	float: right;
	width: calc(30% - 20px);
	margin-left: 20px;
}

.titre_classement
{
	background-color: #ff1937;
	border-radius: 2px;
	font-family: robotothin, Verdana, sans-serif;
	font-size: 170%;
	color: white;
	padding: 5px 10px 5px 10px;
	box-shadow: 0 0 5px #7c7c7c;
}

.classement
{
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 130%;
	border-bottom: solid 1px #b3b3b3;
	line-height: 30px;
  margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262626;
	text-align: left;
}

.pseudo_classement
{
	display: inline-block;
	width: calc(100% - 40px);
	word-break: break-word;
}

.total_classement
{
	float: right;
	background-color: #c81932;
	border-radius: 2px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	font-weight: normal;
	color: white;
	text-align: center;
}

/*** Thèmes ***/
.zone_themes
{
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_themes.masonry
{
	opacity: 1;
}

.zone_theme
{
	margin-bottom: 15px;
}

/*** Saisie thème ***/
.zone_parcourir_header
{
	width: 494px;
	height: 75.5px;
	border-style: dashed;
	border-width: 3px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-color: #a3a3a3;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
	background-color: #262626;
}

.titre_saisie_header
{
	width: 494px;
	height: 75.5px;
	line-height: 75.5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 150%;
}

.bouton_parcourir_header
{
	display: block;
	opacity: 0;
	width: 494px;
	height: 75.5px;
	margin-top: -75.5px;
	cursor: pointer;
}

.mask_header
{
	width: 494px;
	height: 75.5px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -78.5px;
	line-height: 75.5px;
}

.img_header
{
	margin-top: -3px;
	height: 75.5px;
	max-width: 494px;
	vertical-align: middle;
}

.zone_parcourir_background
{
	width: 494px;
	height: 278px;
	border-style: dashed;
	border-width: 3px;
	border-color: #a3a3a3;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
}

.titre_saisie_background
{
	width: 494px;
	height: 278px;
	line-height: 278px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 150%;
}

.bouton_parcourir_background
{
	display: block;
	opacity: 0;
	width: 494px;
	height: 278px;
	margin-top: -278px;
	cursor: pointer;
}

.mask_background
{
	width: 494px;
	height: 278px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -281px;
	line-height: 278px;
}

.img_background
{
	margin-top: -3px;
	width: 494px;
	vertical-align: middle;
}

.zone_parcourir_footer
{
	width: 494px;
	height: 45.5px;
	border-style: dashed;
	border-width: 3px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-color: #a3a3a3;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
	background-color: #262626;
}

.titre_saisie_footer
{
	width: 494px;
	height: 45.5px;
	line-height: 45.5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 150%;
}

.bouton_parcourir_footer
{
	display: block;
	opacity: 0;
	width: 494px;
	height: 45.5px;
	margin-top: -45.5px;
	cursor: pointer;
}

.mask_footer
{
	width: 494px;
	height: 45.5px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -48.5px;
	line-height: 45.5px;
}

.img_footer
{
	margin-top: -3px;
	height: 45.5px;
	max-width: 494px;
	vertical-align: middle;
}

.zone_parcourir_logo
{
	float: left;
	margin-right: -47px;
	width: 44px;
	height: 44px;
	border-style: dashed;
	border-width: 3px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-color: #a3a3a3;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
	background-color: #262626;
}

.titre_saisie_logo
{
	width: 44px;
	height: 44px;
	line-height: 44px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
}

.bouton_parcourir_logo
{
	display: block;
	opacity: 0;
	width: 44px;
	height: 44px;
	margin-top: -44px;
	cursor: pointer;
}

.mask_logo
{
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	text-align: center;
	margin-top: 3px;
	margin-bottom: -15px;
	line-height: 44px;
}

.img_logo
{
	margin-top: -3px;
	max-height: 44px;
	max-width: 44px;
	vertical-align: middle;
}

.saisie_titre_theme
{
	display: inline-block;
	width: calc(100% - 180px);
	margin-left: 57px;
	margin-top: -35px;
	padding: 5px;
	border: 0;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	vertical-align: middle;
}

.saisie_theme_bouton
{
	display: inline-block;
	margin-left: 10px;
	margin-top: -35px;
	width: 100px;
	line-height: 28px;
	border: 0;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: #e3e3e3;
	cursor: pointer;
	vertical-align: middle;
}

.saisie_theme_bouton:hover
{
	background-color: #ff1937;
	color: white;
}

.saisie_ref_theme
{
	width: calc(100% - 10px);
	padding: 5px;
	border: 0;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	vertical-align: middle;
}

.saisie_date_theme, .modify_date_deb_theme, .modify_date_fin_theme
{
	display: inline-block;
	width: 38.9%;
	padding: 5px;
	border: 0;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	vertical-align: middle;
}

/*** Visualisation thème ***/
.zone_header_theme
{
	width: 500px;
	height: 80px;
	overflow: hidden;
}

.theme_header_footer
{
	width: 500px;
	display: block;
	background-color: #262626;
}

.theme_logo
{
	float: left;
	height: 150px;
	margin-top: -35px;
	margin-left: -30px;
	margin-bottom: -150px;
	position: relative;
	z-index: 1;
}

.theme_background
{
	width: 500px;
	display: block;
}

.zone_theme_titre
{
	display: block;
	margin-top: 5px;
	width: 480px;
	background-color: #c3c3c3;
	padding: 10px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom: solid 2px #a3a3a3;
}

.theme_titre
{
	display: inline-block;
	width: calc(100% - 80px);
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	text-align: justify;
}

.icon_delete_theme
{
	float: right;
	margin-top: -3px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/delete.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
	background-color: transparent;
  cursor: pointer;
}

.icone_modify_theme
{
	float: right;
	margin-right: 10px;
	margin-top: -3px;
  width: 30px;
  height: 30px;
  background-image: url("/inside/includes/icons/common/edit.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
	background-color: transparent;
  cursor: pointer;
}

.icon_validate_theme
{
	float: right;
	margin-right: 10px;
	margin-top: -3px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/validate.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.icone_cancel_theme
{
	float: right;
	margin-top: -3px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/cancel.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.modify_titre_theme
{
	display: inline-block;
	width: calc(100% - 90px);
	padding: 5px;
	border: 0;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	vertical-align: middle;
}

.theme_ref
{
	display: inline-block;
	padding: 10px;
	width: calc(500px / 3 - 22px);
	border-top: solid 1px #b3b3b3;
	border-right: solid 2px #b3b3b3;
	background-color: #d3d3d3;
	border-bottom-left-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	vertical-align: middle;
}

.theme_ref_2
{
	display: inline-block;
	padding: 10px;
	width: calc(70% - 22px);
	border-top: solid 1px #b3b3b3;
	border-right: solid 2px #b3b3b3;
	background-color: #d3d3d3;
	border-bottom-left-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	vertical-align: middle;
}

.theme_dates
{
	display: inline-block;
	padding: 10px;
	width: calc((500px / 3) * 2 - 20px);
	border-top: solid 1px #b3b3b3;
	background-color: #d3d3d3;
	border-bottom-right-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	vertical-align: middle;
}

.theme_level
{
	display: inline-block;
	padding: 10px;
	width: calc(30% - 20px);
	border-top: solid 1px #b3b3b3;
	background-color: #d3d3d3;
	border-bottom-right-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	vertical-align: middle;
	text-align: center;
}

.number_exp
{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	background: #ff1937;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	font-size: 90%;
	text-align: center;
}

.theme_texte_dates
{
	display: inline-block;
	vertical-align: middle;
}

/*** Saisie alerte ***/
.form_saisie_alert
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	text-align: center;
}

.table_saisie_alert
{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 15px;
}

.td_saisie_typ
{
	width: 30%;
	padding-right: 0.8%;
}

.saisie_alert_typ
{
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	height: 44px;
	border-radius: 5px;
	border: solid 1px #a3a3a3;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_alert_cat
{
	width: 35%;
	padding-right: 1%;
}

.saisie_alert_cat
{
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_alert_ref
{
	width: 35%;
	padding-right: 1%;
}

.saisie_alert_ref
{
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_alert_mes
{
	width: 100%;
	padding-right: 1%;
}

.saisie_alert_mes
{
	resize: vertical;
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	border: solid 1px #a3a3a3;
	line-height: 40px;
	height: 40px;
	min-height: 40px;
	border-radius: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.td_saisie_alert_env
{
	width: 105px;
}

.send_alert
{
	height: 105px;
	width: 105px;
	border: 0;
	background-color: #e3e3e3;
	background-image: url("/inside/includes/icons/common/send_red.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border-radius: 5px;
	vertical-align: middle;
}

.send_alert:hover
{
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/send.png");
}

/*** Affichage alertes ***/
.table_alerts
{
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}

.table_alerts tr, .table_alerts td
{
	border: 1px solid #d3d3d3;
}

.title_table_alerts
{
	text-align: center;
	background-color: #ff1937;
	font-family: robotoregular, Verdana, sans-serif;
	color: white;
	line-height: 50px;
}

.title_type_alerts
{
	width: 10%;
}

.title_category_alerts
{
	width: 15%;
}

.title_reference_alerts
{
	width: 15%;
}

.title_message_alerts
{
	width: 50%;
}

.title_actions_alerts
{
	width: 10%;
}

.td_type_alerts
{
	text-align: center;
	padding: 10px;
	background-color: #c3c3c3;
}

.td_reference_alerts
{
	font-family: robotoregular, Verdana, sans-serif;
	font-weight: bold;
	color: #262626;
	padding: 10px;
}

.img_alert
{
	width: 30px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	filter: drop-shadow(0px 0px 2px #7c7c7c);
}

.td_alerts
{
	font-family: robotoregular, Verdana, sans-serif;
	text-align: justify;
	color: #262626;
	padding: 10px;
}

.table_alerts tr:hover:not(.title_table_alerts)
{
	background-color: #fffd4c;
}

/*** Modification alerte ***/
.actions_alerte
{
	text-align: center;
}

.link_action_alerte
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.icone_modifier_alerte
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 2px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/edit.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: 0 0 3px #7c7c7c;
}

.icone_supprimer_alerte
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 2px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/delete.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: 0 0 3px #7c7c7c;
}

.icone_valider_alerte
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 2px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/validate.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: 0 0 3px #7c7c7c;
}

.icone_annuler_alerte
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 2px;
	background-color: #ff1937;
	background-image: url("/inside/includes/icons/common/cancel.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Générateur de code ***/
.zone_generator_left
{
	display: inline-block;
	width: calc(50% - 10px);
	vertical-align: top;
}

.zone_generator_right
{
	display: inline-block;
	width: calc(50% - 10px);
	vertical-align: top;
}

.explications_generator
{
	font-family: robotoregular, Verdana, sans-serif;
	text-align: justify;
	color: #262626;
}

.categorie_generator
{
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	padding-top: 5px;
	padding-bottom: 10px;
}

.saisie_generator
{
	display: inline-block;
	width: calc(50% - 30px);
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
}

.switch_generator
{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
	height: 35px;
	line-height: 35px;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	padding-left: 5px;
	cursor: pointer;
	background-color: white;
}

.switch_checked, .switch_generator:hover
{
	background-color: #70d55d;
	color: white;
}

.label_switch
{
	display: inline-block;
	margin-left: -25px;
	padding-left: 30px;
	padding-right: 10px;
	cursor: pointer;
}

.bouton_generator
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 30px 5px 30px;
	margin-top: 10px;
  border-radius: 2px;
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
	color: #262626;
	background-color: #e3e3e3;
	cursor: pointer;
	box-shadow: 0 0 3px #7c7c7c;
}

.bouton_generator:hover
{
	background-color: #ff1937;
	color: white;
}

.zone_generated_left, .zone_generated_right
{
	display: inline-block;
	width: calc(50% - 10px);
	vertical-align: top;
}

.zone_code_generator
{
	display: block;
}

.nom_fichier_generator
{
	background-color: #d3d3d3;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	padding: 0 10px 0 10px;
	height: 30px;
	line-height: 30px;
	width: calc(100% - 20px);
	margin-bottom: 10px;
	font-family: robotoregular, Verdana, sans-serif;
  font-size: 100%;
	color: #262626;
}

.copie_generator
{
	float: right;
	padding: 0 10px 0 10px;
	height: 30px;
	line-height: 30px;
	margin-right: -10px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-family: robotomedium, Verdana, sans-serif;
	background-color: #e3e3e3;
	cursor: pointer;
}

.copie_generator:hover
{
	background-color: #ff1937;
	color: white;
}

.code_generator_controler
{
	width: calc(100% - 20px);
	height: 400px;
	min-height: 400px;
	resize: vertical;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	background-color: white;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	margin-bottom: 20px;
}

.code_generator_metier
{
	width: calc(100% - 20px);
	height: 200px;
	min-height: 200px;
	resize: vertical;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	background-color: white;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
}

.code_generator_vue
{
	width: calc(100% - 20px);
	height: 672px;
	min-height: 672px;
	resize: vertical;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	background-color: white;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
}
