/********************/
/*** Food Advisor ***/
/********************/

/*** Saisie propositions ***/
.zone_saisie_choix
{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	margin-top: 200px;
	overflow: hidden;
}

.zone_actions
{
	float: right;
	margin-top: -5px;
}

.form_action
{
	display: inline-block;
}

.bouton_determination
{
	border: 0;
	background-color: #d3d3d3;
	margin-right: 10px;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 60%;
	color: #262626;
	cursor: pointer;
}

.bouton_determination:hover
{
	background-color: #ff1937;
	color: white;
}

.image_refresh
{
	vertical-align: middle;
	width: 30px;
	transform: rotate(0deg);
	transition: transform 0.2s ease;
}

.image_refresh:hover
{
	transform: rotate(135deg);
	transition: transform 0.2s ease;
}

.form_choices
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-top: solid 1px #d3d3d3;
	color: #262626;
	max-height: calc(100vh - 250px);
	overflow-y: auto;
}

.titre_choix
{
	background-color: #d3d3d3;
	display: inline-block;
	width: 200px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	text-align: center;
	line-height: 94px;
}

.logo_proposition
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -5px;
	margin-right: 10px;
	height: 30px;
}

.zone_listbox
{
	display: inline-block;
	width: calc(25% - 50px);
	margin-top: -5px;
	vertical-align: middle;
}

.bouton_choix
{
	display: block;
	width: calc(100% - 40px);
	background-color: #e3e3e3;
	padding: 5px 10px 5px 10px;
	margin: 0px 10px 0px 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
}

.zone_boutons
{
	text-align: center;
}

.bouton_autre_choix
{
	display: inline-block;
	width: 250px;
	margin-top: 9px;
	background-color: #e3e3e3;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
}

.bouton_choix:hover, .bouton_autre_choix:hover
{
	background-color: #70d55d;
	color: white;
}

.bouton_validation_choix
{
	display: inline-block;
	width: 250px;
	margin-top: 9px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #e3e3e3;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
	text-align: center;
	border: 0;
	vertical-align: top;
}

.bouton_validation_choix:hover
{
	color: white;
	background-color: #ff1937;
}

.fond_plus
{
	display: inline-block;
	margin-right: 8px;
	width: 20px;
	height: 20px;
	background-color: #70d55d;
	border-radius: 50%;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	text-align: center;
	line-height: 20px;
}

.bouton_choix:hover .fond_plus, .bouton_autre_choix:hover .fond_plus
{
	background-color: white;
	color: #262626;
}

.zone_listbox_restaurant
{
	display: inline-block;
	width: calc(66% - 10px);
	margin-right: -10px;
}

.listbox_choix
{
	display: block;
	height: 32px;
	width: calc(100% - 20px);
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.listbox_horaires
{
	display: inline-block;
	height: 32px;
	width: calc(33% - 20px);
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.bouton_annuler
{
	display: inline-block;
	width: calc(34% - 20px);
	margin-left: 10px;
	background-color: #e3e3e3;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
	text-align: center;
	border: 0;
	vertical-align: top;
}

.bouton_annuler:hover
{
	color: white;
	background-color: #ff1937;
}

.zone_checkbox
{
	display: inline-block;
	width: calc(66% - 20px);
	margin-right: -10px;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.checkbox_transport
{
	display: inline-block;
	position: relative;
	z-index: 1;
	margin-left: 10px;
	vertical-align: middle;
	margin-top: 5px;
}

.label_transport
{
	display: inline-block;
	width: calc(50% - 52px);
	height: 25px;
	background-color: #e3e3e3;
	padding: 5px 10px 5px 30px;
	margin-left: -25px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}

.label_transport_checked
{
	display: inline-block;
	width: calc(50% - 52px);
	height: 25px;
	background-color: #70d55d;
	padding: 5px 10px 5px 30px;
	margin-left: -25px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}

.icone_checkbox
{
	max-height: 20px;
	max-width: 100%;
	margin-top: 2px;
	vertical-align: middle;
}

.label_transport:hover
{
	background-color: #70d55d;
	color: white;
}

.zone_saisie_menu
{
	display: inline-block;
	width: calc(66% - 20px);
	padding-left: 10px;
	margin-right: -10px;
}

.saisie_menu
{
	display: block;
	width: calc(100% - 30px);
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
}

.separation_choix
{
	display: block;
	width: 100%;
	height: 1px;
	margin-bottom: 1px;
	margin-top: -1px;
	background-color: #d3d3d3;
}

/*** Commun ***/
.zone_propositions_determination
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.zone_propositions
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_propositions.masonry
{
	opacity: 1;
}

.zone_proposition
{
	width: 180px;
	vertical-align: top;
	margin-bottom: 20px;
	background-color: #ff1937;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	background-color: white;
}

/*** Affichage détails ***/
.zone_details_proposition
{
	width: calc(85% - 40px);
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 20px;
	border-radius: 2px;
	background-color: white;
	max-height: calc(100vh - 250px);
	overflow-y: auto;
}

.zone_details_proposition_left
{
	display: inline-block;
	width: 200px;
	padding-right: 40px;
	text-align: center;
}

.nom_restaurant_details
{
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	border-bottom: solid 1px #c3c3c3;
}

.zone_price_details
{
	display: block;
}

.price_details
{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	color: #262626;
	line-height: 15px;
}

.zone_types_details
{
	border-top: solid 1px #c3c3c3;
	padding-top: 10px;
}

.zone_caller_details
{
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	border-top: solid 1px #c3c3c3;
	padding-top: 10px;
	padding-bottom: 10px;
}

.icone_telephone_details
{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	padding: 10px;
	margin-top: -4px;
}

.telephone_details
{
	display: inline-block;
	line-height: 50px;
	padding-right: 10px;
	color: #262626;
}

.zone_avatar_details
{
	display: inline-block;
	border-left: solid 1px #c3c3c3;
}

.avatar_caller_details
{
	vertical-align: middle;
	width: 50px;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: -10px;
	background-color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
}

.zone_liens_details
{
	border-top: solid 1px #c3c3c3;
	padding-top: 10px;
	padding-bottom: 10px;
}

.icone_lien_details
{
	display: inline-block;
	width: 40px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -4px;
}

.zone_details_proposition_right
{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 240px);
}

.close_details
{
	float: right;
	width: 30px;
	height: 30px;
	margin-top: -45px;
	cursor: pointer;
	text-align: center;
}

.titre_details
{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 150%;
	font-weight: bold;
	border-bottom: solid 1px #262626;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262626;
	text-align: left;
}

.zone_details_user_top
{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px #c3c3c3;
}

.avatar_details
{
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
	background-color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
}

.pseudo_details
{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	margin-right: 50px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	text-align: justify;
}

.zone_details_transports
{
	display: inline-block;
	vertical-align: middle;
	width: calc(40% - 50px);
	min-height: 40px;
	margin-top: -4px;
}

.icone_details
{
	display: inline-block;
	height: 30px;
	margin-top: 6px;
	margin-right: 20px;
}

.horaire_details
{
	float: right;
	margin-top: 5px;
	background-color: #70d55d;
	margin-left: 5px;
	padding: 5px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
}

.zone_details_user_bottom
{
	margin-bottom: 10px;
}

.zone_details_user_menu
{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-right: -1px;
	margin-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: solid 1px #c3c3c3;
	border-left: solid 1px #c3c3c3;
}

.no_menu_details
{
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	line-height: 40px;
}

.avatar_menus
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 20px;
	width: 40px;
	border-radius: 50%;
	background-color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Affichage propositions ***/
.zone_proposition_determined
{
	width: 180px;
	vertical-align: top;
	margin-bottom: 20px;
	background-color: #ff1937;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.nom_proposition_determined
{
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: robotomedium, Verdana, sans-serif;
	color: white;
	border-bottom: solid 1px #c3c3c3;
}

.zone_proposition_top
{
	width: 180px;
	vertical-align: top;
	margin-bottom: 20px;
	background-color: #e3e3e3;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.zone_proposition_solo_no_votes
{
	width: 180px;
	vertical-align: top;
	margin-bottom: 20px;
	background-color: #e3e3e3;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.titre_solo
{
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.titre_solo_choix
{
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	text-align: justify;
	padding-top: 10px;
	padding-bottom: 10px;
}

.zone_solo
{
	margin-bottom: 10px;
	text-align: justify;
	min-height: 30px;
}

.avatar_solo
{
	float: left;
	width: 30px;
	border-radius: 50%;
	margin-right: 10px;
	background-color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
}

.pseudo_solo
{
	margin-left: 40px;
	padding-top: 3px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
}

.bouton_solo
{
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	border: 0;
	border-radius: 2px;
	background-color: #e3e3e3;
	text-align: center;
	font-size: 90%;
	line-height: 20px;
	cursor: pointer;
}

.bouton_solo:hover
{
	color: white;
	background-color: #ff1937;
}

.zone_no_vote
{
	display: inline-block;
	margin: 0 5px 10px 5px;
	text-align: center;
}

.avatar_no_vote
{
	width: 30px;
	border-radius: 50%;
	background-color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
}

.pseudo_no_vote
{
	display: block;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 60%;
	color: #262626;
}

.lien_details_determined
{
	float: right;
	margin-right: -10px;
	margin-bottom: -40px;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 40px 40px 0;
	border-color: transparent #c81932 transparent transparent;
	color: white;
}

.lien_details_determined:hover
{
	border-color: transparent #e3e3e3 transparent transparent;
	color: #262626;
}

.lien_details_top
{
	float: right;
	margin-right: -10px;
	margin-bottom: -40px;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 40px 40px 0;
	border-color: transparent #262626 transparent transparent;
	color: white;
}

.lien_details_top:hover
{
	border-color: transparent #c3c3c3 transparent transparent;
	color: #262626;
}

.lien_plus
{
	font-family: robotolight, Verdana, sans-serif;
	font-size: 120%;
	margin-left: 23px;
	line-height: 26px;
}

.lien_proposition_top
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.image_proposition_top
{
	width: 150px;
	filter: drop-shadow(0px 0px 2px #7c7c7c);
	border-radius: 50%;
}

.image_lieu_proposition
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

.lieu_proposition
{
  display: inline-block;
  background-color: #2eb2f4;
	margin-left: 5px;
	margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
  color: white;
}

.horaire_proposition
{
  display: inline-block;
  background-color: #70d55d;
	margin-left: 5px;
	margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
  color: white;
}

.caller
{
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	margin-bottom: 10px;
}

.icone_telephone
{
	width: 30px;
	border-right: solid 1px #c3c3c3;
	padding: 10px;
}

.avatar_caller
{
	width: 50px;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: -10px;
	background-color: #262626;
	box-shadow: 0 0 3px #7c7c7c;
}

.zone_reservation
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #c3c3c3;
}

.reserved
{
	text-align: center;
	font-family: robotomedium, Verdana, sans-serif;
	color: white;
}

.reserved_details
{
	text-align: center;
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
}

.bouton_reserver
{
	background-color: white;
	text-align: center;
	line-height: 32px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
}

.bouton_reserver_details
{
	background-color: #d3d3d3;
	text-align: center;
	line-height: 32px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
}

.bouton_reserver:hover, .bouton_reserver_details:hover
{
	color: white;
	background-color: #c81932;
}

/*** Affichage Mes choix ***/
.icon_delete_choix
{
	float: right;
	margin-left: -35px;
	margin-top: 35px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/delete_grey.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.icone_modify_choix
{
	float: right;
	margin-right: 3px;
	margin-left: -35px;
	margin-top: 8px;
  width: 25px;
  height: 25px;
  border: 0;
  background-image: url("/inside/includes/icons/common/edit_grey.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.icon_validate_choix
{
	float: right;
	margin-left: -35px;
	margin-top: -5px;
	width: 30px;
	height: 30px;
	border: 0;
	background-image: url("/inside/includes/icons/common/validate_grey.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
}

.icone_cancel_choix
{
	float: right;
	margin-left: -35px;
	margin-top: 25px;
	width: 30px;
	height: 30px;
	border: 0;
	background-image: url("/inside/includes/icons/common/cancel_grey.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
}

.lien_mon_choix
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.image_mon_choix
{
	width: 100px;
	filter: drop-shadow(0px 0px 3px #7c7c7c);
	border-radius: 50%;
}

.nom_mon_choix
{
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	border-bottom: solid 1px #c3c3c3;
}

.lieu_mon_choix
{
  display: inline-block;
  background-color: #2eb2f4;
	margin-left: 5px;
	margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
  color: white;
}

.zone_icones_mon_choix
{
	border-bottom: solid 1px #c3c3c3;
	margin-bottom: 10px;
}

.zone_ouverture_mes_choix
{
	display: block;
}

.jour_oui_fa
{
	display: inline-block;
	border: 0;
	width: 20px;
	height: 20px;
	background-color: #262626;
	margin-left: 1.5px;
	margin-right: 1.5px;
	margin-bottom: 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	color: white;
	line-height: 20px;
	vertical-align: top;
	text-align: center;
}

.jour_non_fa
{
	display: inline-block;
	border: 0;
	width: 20px;
	height: 20px;
	background-color: #e3e3e3;
	margin-left: 1.5px;
	margin-right: 1.5px;
	margin-bottom: 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	color: #262626;
	line-height: 20px;
	vertical-align: top;
	text-align: center;
}

.horaire_mon_choix
{
  display: inline-block;
  background-color: #70d55d;
	margin-left: 5px;
	margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
  color: white;
}

.zone_transports_mes_choix
{
	display: block;
}

.icone_mon_choix
{
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.no_menu_mes_choix
{
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	margin-bottom: 10px;
}

.zone_menu_mes_choix
{
	clear: both;
}

.titre_texte_mon_choix
{
  float: left;
	width: 60px;
  background-color: #ff1937;
  margin-bottom: 10px;
  border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
  color: white;
	text-align: center;
}

.texte_mon_choix
{
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	word-wrap: break-word;
	margin-left: 65px;
	text-align: justify;
}

/*** Modification Mes choix ***/
.zone_icones_update_mon_choix
{
	border-bottom: solid 1px #c3c3c3;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.bouton_choix_update
{
	display: block;
	width: 100%;
	height: 32px;
	background-color: #e3e3e3;
	margin-bottom: 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	cursor: pointer;
	text-align: center;
	line-height: 32px;
}

.bouton_choix_update:hover
{
	background-color: #70d55d;
	color: white;
}

.bouton_choix_update:hover .fond_plus
{
	background-color: white;
	color: #262626;
}

.listbox_horaires_update
{
	display: inline-block;
	height: 32px;
	width: 50px;
	padding-left: 2.5px;
	padding-right: 2.5px;
	margin-right: 5px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.bouton_annuler_update
{
	display: inline-block;
	margin-bottom: 10px;
	width: 70px;
	background-color: #e3e3e3;
	text-align: center;
	line-height: 32px;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	cursor: pointer;
	border: 0;
}

.bouton_annuler_update:hover
{
	color: white;
	background-color: #ff1937;
}

.checkbox_transport_update
{
	display: inline-block;
	position: relative;
	z-index: 1;
	vertical-align: middle;
	margin-top: 5px;
}

.label_transport_update
{
	display: inline-block;
	width: 45px;
	height: 25px;
	background-color: #e3e3e3;
	padding: 5px 10px 5px 30px;
	margin-left: -25px;
	margin-bottom: 5px;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}

.label_transport_update_checked
{
	display: inline-block;
	width: 45px;
	height: 25px;
	background-color: #70d55d;
	padding: 5px 10px 5px 30px;
	margin-left: -25px;
	margin-bottom: 5px;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}

.label_transport_update:hover
{
	background-color: #70d55d;
	color: white;
}

.update_menu
{
	display: block;
	width: calc(100% - 20px);
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
}

/*** Affichage résumé semaine ***/
.zone_proposition_resume
{
	width: 180px;
	vertical-align: top;
	margin-bottom: 20px;
	background-color: #e3e3e3;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.jour_semaine
{
	font-family: robotolight, Verdana, sans-serif;
	color: #a3a3a3;
	margin-top: 10px;
}

.jour_semaine::first-letter
{
  text-transform: uppercase;
}

.no_proposal
{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	margin-bottom: 10px;
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
}

/*** Ajout restaurant ***/
.fond_saisie_restaurant
{
	display: none;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.zone_saisie_restaurant
{
	width: 85%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	overflow: hidden;
}

.titre_saisie_restaurant
{
	display: inline-block;
	line-height: 50px;
	background-color: #ff1937;
	width: calc(100% - 40px);
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 120%;
	color: white;
	border-bottom: solid 2px #c81932;
}

.close_add
{
	float: right;
	width: 30px;
	height: 30px;
	margin-top: -40px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
}

.close_img
{
	width: 20px;
	padding: 5px;
	transform: rotate(0deg);
	transition: transform 0.2s ease;
}

.close_img:hover
{
	transform: rotate(90deg);
	transition: transform 0.2s ease;
}

.form_saisie_restaurant
{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	background-color: white;
	border-top: solid 1px #d3d3d3;
	color: #262626;
	max-height: calc(100vh - 250px);
	overflow-y: auto;
}

.zone_saisie_left
{
	float: left;
	width: 180px;
	text-align: center;
	padding: 10px;
}

.zone_parcourir_restaurant_saisie
{
	display: inline-block;
	height: 120px;
	width: 120px;
	border-style: dashed;
	border-radius: 50%;
	border-color: #a3a3a3;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 300%;
	line-height: 115px;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
}

.bouton_parcourir_restaurant_saisie
{
	display: block;
	opacity: 0;
	height: 120px;
	width: 120px;
	margin-top: -115px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.mask_saisie_restaurant
{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: -127px;
	margin-bottom: 14px;
	line-height: 120px;
}

.image_saisie_restaurant
{
	margin-left: auto;
	margin-right: auto;
	max-width: 120px;
	max-height: 120px;
	vertical-align: middle;
}

.zone_saisie_prix
{
	margin-top: 10px;
}

.saisie_prix_min_restaurant
{
	display: inline-block;
	width: calc(50% - 25px);
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
}

.saisie_prix_max_restaurant
{
	display: inline-block;
	width: calc(50% - 25px);
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
}

.zone_saisie_right
{
	display: inline-block;
	width: calc(100% - 210px);
	padding: 10px 10px 10px 0;
}

.saisie_nom_restaurant
{
	display: inline-block;
	width: calc(100% - 420px);
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
}

.saisie_lieu
{
	display: inline-block;
  width: 180px;
	margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 34px;
  border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
  font-size: 100%;
	color: #262626;
  background-color: white;
}

.saisie_lieu_autre_restaurant
{
	display: inline-block;
	width: 180px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
}

.saisie_bouton
{
	display: inline-block;
	width: 200px;
  height: 34px;
	line-height: 34px;
  border-radius: 2px;
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
	color: #262626;
	background-color: #e3e3e3;
	cursor: pointer;
	box-shadow: 0 0 3px #7c7c7c;
}

.saisie_bouton:hover
{
	background-color: #ff1937;
	color: white;
}

#types_restaurants
{
	display: inline-block;
	padding-top: 10px;
	margin-bottom: -10px;
	text-align: left;
	width: 100%;
}

.zone_type
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 15px;
}

#types_restaurants .zone_type:last-of-type
{
	margin-right: 15px;
}

.checkbox_type
{
	display: inline-block;
	position: relative;
	z-index: 1;
}

.label_type
{
	display: inline-block;
	background-color: #e3e3e3;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 10px;
	margin-left: -25px;
	margin-bottom: 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	cursor: pointer;
}

.label_type_checked
{
	display: inline-block;
	background-color: #70d55d;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 10px;
	margin-left: -25px;
	margin-bottom: 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	cursor: pointer;
}

.type_other
{
	display: inline-block;
	border: 0;
	width: 80px;
	background-color: #e3e3e3;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	vertical-align: top;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 22px;
}

.bouton_type_autre
{
	display: inline-block;
	background-color: #e3e3e3;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
	cursor: pointer;
}

.label_type:hover, .bouton_type_autre:hover
{
	background-color: #70d55d;
	color: white;
}

.bouton_type_autre:hover .fond_plus
{
	background-color: white;
	color: #262626;
}

.checkbox_jour
{
	display: none;
}

.label_jour_checked
{
	display: inline-block;
	border: 0;
	width: 32px;
	height: 32px;
	background-color: #ff1937;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: white;
	line-height: 32px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}

.label_jour
{
	display: inline-block;
	border: 0;
	width: 32px;
	height: 32px;
	background-color: #e3e3e3;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}

.zone_saisie_under
{
	clear: both;
	width: calc(100% - 20px);
	padding: 0 10px 10px 10px;
}

.saisie_telephone_restaurant
{
	width: 160px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
}

.saisie_lien_restaurant
{
	display: inline-block;
	width: calc(50% - 120px);
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
}

.textarea_saisie_description_restaurant
{
	min-height: 50px;
	width: calc(100% - 20px);
	padding: 5px 10px 5px 10px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	background-color: white;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	resize: vertical;
}

/*** Fiches restaurants ***/
.zone_liens_lieux
{
	text-align: center;
}

.lien_lieu
{
	display: inline-block;
	font-family: robotoregular, Verdana, sans-serif;
	color: white;
	background-color: #262626;
	padding: 5px;
	border-radius: 2px;
	margin: 15px 5px 10px 5px;
	cursor: pointer;
}

.lien_lieu:hover
{
	background-color: #d3d3d3;
	color: #262626;
}

.image_lieu
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	background-image: url("/inside/includes/icons/foodadvisor/location.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.lien_lieu:hover .image_lieu
{
	background-image: url("/inside/includes/icons/foodadvisor/location_grey.png");
}

.zone_restaurants
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.zone_fiches_restaurants
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_fiches_restaurants.masonry
{
	opacity: 1;
}

.fiche_restaurant
{
  background-color: #e3e3e3;
  display: block;
  width: 500px;
  border-radius: 2px;
  color: #262626;
  margin-bottom: 20px;
}

.zone_fiche_left
{
	display: inline-block;
	width: 100px;
	height: 100px;
	vertical-align: top;
}

.image_restaurant
{
	margin-left: auto;
	margin-right: auto;
  width: 80px;
  height: 80px;
	padding: 10px;
  border-radius: 50%;
	filter: drop-shadow(0px 0px 2px #7c7c7c);
}

.zone_fiche_middle
{
	display: inline-block;
	width: 350px;
}

.nom_restaurant
{
  padding: 10px 10px 5px 0px;
	font-family: robotomedium, Verdana, sans-serif;
	color: #262626;
	text-align: justify;
}

.price
{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	color: #262626;
	line-height: 15px;
}

.type_restaurant
{
  display: inline-block;
  background-color: #70d55d;
	margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
  color: white;
}

.zone_icones_fiches
{
	display: block;
	min-height: 32px;
	margin-bottom: 10px;
}

.jour_oui
{
	display: inline-block;
	border: 0;
	width: 32px;
	height: 32px;
	background-color: #ff1937;
	margin-right: 4px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: white;
	line-height: 32px;
	vertical-align: top;
	text-align: center;
}

.jour_non
{
	display: inline-block;
	border: 0;
	width: 32px;
	height: 32px;
	background-color: white;
	margin-right: 4px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
	vertical-align: top;
	text-align: center;
}

.icone_fiche
{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	margin-left: 5px;
}

.numero_restaurant
{
	margin-bottom: 10px;
}

.icone_fiche_phone
{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	margin-right: 10px;
}

.phone_number
{
	display: inline-block;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
}

.zone_fiche_right
{
	display: inline-block;
	vertical-align: top;
	width: 50px;
}

.lien_modifier_restaurant
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.icone_modify_restaurant
{
	width: 30px;
}

.icon_delete_restaurant
{
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/delete.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.zone_fiche_bottom
{
	display: block;
}

.description_restaurant
{
  clear: both;
  background-color: #d3d3d3;
  padding: 10px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
	text-align: justify;
}

.short_description
{
	margin-bottom: 10px;
}

.expand_description
{
	float: right;
	width: 15px;
	margin-top: -10px;
	line-height: 10px;
	text-align: center;
	padding: 5px;
	border-radius: 2px;
	cursor: pointer;
}

.expand_description:hover
{
	background-color: #e3e3e3;
}

.zone_parcourir_restaurant_update
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	height: 80px;
	width: 80px;
	border-style: dashed;
	border-radius: 50%;
	border-color: #a3a3a3;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 300%;
	line-height: 80px;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
}

.bouton_parcourir_restaurant_update
{
	display: block;
	opacity: 0;
	height: 80px;
	width: 80px;
	margin-top: -80px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.mask_update_restaurant
{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: -83px;
	line-height: 80px;
}

.update_image_restaurant
{
	margin-left: auto;
	margin-right: auto;
	max-width: 80px;
	max-height: 80px;
	margin-top: -3px;
	vertical-align: middle;
}

.zone_update_prix
{
	margin-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
}

.update_prix_min_restaurant
{
	display: inline-block;
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 30px;
}

.update_prix_max_restaurant
{
	display: inline-block;
	width: 25%;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border-radius: 2px;
	border: 0;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 30px;
}

.zone_update_types
{
	background-color: white;
	border-radius: 2px;
	padding: 10px 10px 0 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: left;
	min-height: 150px;
	height: 150px;
	overflow-y: auto;
	resize: vertical;
}

.icon_validate_restaurant
{
	float: right;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/validate.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.icone_cancel_restaurant
{
	float: right;
	margin-right: -40px;
	margin-left: 10px;
	margin-top: 45px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/cancel.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.update_nom_restaurant
{
	width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	font-family: robotomedium, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 30px;
}

.update_lieu_restaurant
{
	width: 100%;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 2px;
	border: 0;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	height: 30px;
}

.update_lieu_autre_restaurant
{
	width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 30px;
}

.opened_restaurant_update
{
	display: block;
	margin-bottom: 10px;
}

.update_label_jour
{
	display: inline-block;
	border: 0;
	width: 32px;
	height: 32px;
	background-color: white;
	margin-right: 4px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 32px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}

.update_label_jour_checked
{
	display: inline-block;
	border: 0;
	width: 32px;
	height: 32px;
	background-color: #ff1937;
	margin-right: 4px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: white;
	line-height: 32px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}

.update_icone_fiche
{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 1px;
	width: 30px;
}

.update_lien_restaurant
{
	width: calc(100% - 80px);
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	line-height: 30px;
}

.textarea_update_description_restaurant
{
	min-height: 50px;
	height: 150px;
	width: calc(100% - 20px);
	padding: 5px 10px 5px 10px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	resize: vertical;
}
