/***************/
/*** Portail ***/
/***************/

/*** Liens portail ***/
.menu_portail
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
	opacity: 0;
	transition: opacity 0.2s;
}

.menu_portail.masonry
{
	opacity: 1;
}

.lien_portail
{
	text-decoration: none;
	display: block;
	height: 200px;
	width: 500px;
	background-color: #374650;
	border-bottom: solid 8px #2c3840;
	overflow: hidden;
	vertical-align: middle;
	line-height: 200px;
	margin-bottom: 20px;
}

.text_portail
{
	display: inline-block;
	line-height: 1.2;
	vertical-align: middle;
	width: 220px;
	padding: 30px;
	font-family: robotothin, Verdana, sans-serif;
	color: white;
	font-size: 200%;
	text-align: left;
	transition: margin-left 0.2s;
}

.lien_portail:hover .text_portail
{
	margin-left: 20px;
	transition: margin-left 0.2s;
}

.fond_lien_portail
{
	float: right;
	margin-top: -100px;
	margin-right: -200px;
	width: 400px;
	height: 400px;
	background-color: #2c3840;
	border-radius: 50%;
	box-shadow: 0 0 5px #171717;
	line-height: 200px;
}

.img_lien_portail
{
	float: left;
	margin-top: 125px;
	width: 150px;
	margin-left: 80px;
}

/*** Messages missions ***/
.zone_resume_mission
{
	margin-top: 30px;
	line-height: 30px;
	text-align: center;
}

.link_mission
{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #262626;
	box-shadow: 0 0 3px #5c5c5c;
	display: inline-block;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	text-decoration: none;
	border-radius: 2px;
}
