/**********************/
/*** Collector Room ***/
/**********************/

/*** Saisie ***/
.zone_liens_saisie
{
	margin-top: 30px;
	text-align: center;
}

.lien_saisie_collector
{
	display: inline-block;
	margin-right: 15px;
	cursor: pointer;
	background-color: #e3e3e3;
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 15px;
}

.zone_logo_add
{
	float: left;
	width: 80px;
	height: 80px;
	background-color: #ff1937;
	border-radius: 50%;
	text-align: center;
}

.zone_texte_add
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	line-height: 80px;
	font-family: robotoregular, Verdana, sans-serif;
	color: #262626;
}

.image_saisie_collector
{
	width: 60px;
	height: 60px;
	margin-top: 10px;
}

@keyframes affichageFond
{
	0%
	{
		background-color: rgb(0, 0, 0, 0);
	}
	100%
	{
		background-color: rgb(0, 0, 0, 0.5);
	}
}

.fond_saisie_collector
{
	animation: 0.4s ease 0s normal forwards 1 affichageFond;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

@keyframes affichageSaisie
{
	0%
	{
		margin-top: -300px;
	}
	100%
	{
		margin-top: 200px;
	}
}

.zone_saisie_collector
{
	animation: 0.4s ease 0s normal forwards 1 affichageSaisie;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	border-radius: 2px;
}

.titre_saisie_collector
{
	display: inline-block;
	line-height: 50px;
	background-color: #c3c3c3;
	width: calc(100% - 40px);
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 120%;
	color: #262626;
	border-bottom: solid 2px #a3a3a3;
}

.close_index
{
	float: right;
	width: 30px;
	height: 30px;
	margin-top: -40px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
}

.close_img
{
	width: 20px;
	padding: 5px;
	transform: rotate(0deg);
	transition: transform 0.2s ease;
}

.close_img:hover
{
	transform: rotate(90deg);
	transition: transform 0.2s ease;
}

.form_saisie_collector
{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	background-color: white;
	border-top: solid 1px #d3d3d3;
}

.table_saisie_collector
{
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px 15px;
}

.zone_parcourir_image
{
	width: 118px;
	height: 118px;
	margin-top: -5px;
	border-style: dashed;
	border-width: 3px;
	border-radius: 2px;
	border-color: #a3a3a3;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 300%;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
}

.symbole_saisie_image
{
	width: 118px;
	height: 118px;
	line-height: 118px;
}

.bouton_parcourir_image
{
	display: block;
	opacity: 0;
	width: 118px;
	height: 118px;
	margin-top: -118px;
	cursor: pointer;
}

.mask_image
{
	width: 118px;
	height: 118px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: -121px;
	line-height: 115px;
}

.image
{
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.td_saisie_collector_user
{
  width: 50%;
}

.saisie_speaker
{
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  height: 45px;
  border-radius: 2px;
  border: solid 1px #a3a3a3;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
  background-color: white;
}

.td_saisie_collector_name
{
  width: 30%;
}

.saisie_other_collector
{
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  height: 41px;
  line-height: 41px;
  border-radius: 2px;
  border: solid 1px #a3a3a3;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
  background-color: white;
}

.td_saisie_collector_date
{
  width: 30%;
}

.saisie_date_collector
{
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  height: 41px;
  line-height: 41px;
  border-radius: 2px;
  border: solid 1px #a3a3a3;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
  background-color: white;
}

.td_saisie_collector_add
{
  width: 20%;
}

.saisie_bouton
{
	width: 100%;
  height: 45px;
	line-height: 45px;
  border-radius: 2px;
	border: solid 1px #e3e3e3;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
	background-color: #e3e3e3;
	cursor: pointer;
}

.saisie_bouton:hover
{
	background-color: #ff1937;
	border: solid 1px #ff1937;
	color: white;
}

.td_saisie_collector
{
  text-align: center;
}

.saisie_collector
{
  width: 98%;
  height: 70px;
  padding: 1%;
  font-family: robotolight, Verdana, sans-serif;
  resize: vertical;
  border-radius: 2px;
  border: solid 1px #a3a3a3;
	background-color: white;
}

.td_saisie_collector_cont
{
  text-align: center;
}

.saisie_contexte
{
  width: 98%;
  height: 30px;
  padding: 1%;
  font-family: robotolight, Verdana, sans-serif;
  resize: vertical;
  border-radius: 2px;
  border: solid 1px #a3a3a3;
	background-color: white;
}

/*** Zone ***/
.zone_collectors
{
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_collectors.masonry
{
	opacity: 1;
}

.zone_collector
{
	width: 525px;
	margin-top: 15px;
	padding-top: 50px;
}

/*** Actions et utilisateur ***/
.zone_collector_haut
{
	background-color: #b3b3b3;
	width: 100%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom: solid 3px #a3a3a3;
}

.icone_modify_collector
{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  background-image: url("/inside/includes/icons/common/edit.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
	background-color: transparent;
  cursor: pointer;
}

.icon_delete_collector
{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/delete.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.icon_validate_collector
{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/validate.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.icone_cancel_collector
{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/cancel.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.avatar_collector
{
	background-color: #d3d3d3;
	border: solid 5px #fbfbfb;
	width: 100px;
	border-radius: 50%;
	margin-left: calc(50% - 135px);
	margin-top: -50px;
}

.pseudo
{
	text-align: center;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	width: calc(100% - 100px);
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	word-wrap: break-word;
}

.link_current_vote
{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 50%;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.current_vote
{
  width: 30px;
  filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.zone_smileys
{
  background-color: white;
  box-shadow: 0 0 2px #5c5c5c;
  float: right;
	padding: 5px;
	margin-top: -58px;
	margin-right: 3px;
	border-radius: 40px;
	position: relative;
  z-index: 1;
}

/*** Texte & contexte ***/
.zone_collector_bas
{
	width: 100%;
	background-color: #d3d3d3;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	min-height: 40px;
	margin-bottom: 15px;
}

.quote_1
{
  float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 20px;
  filter: drop-shadow(0px 0px 1px #7c7c7c);
}

.quote_2
{
  float: right;
	margin-right: 10px;
	margin-top: -30px;
  width: 20px;
  filter: drop-shadow(0px 0px 1px #7c7c7c);
}

.image_collector
{
	width: 100%;
	margin-bottom: -4px;
}

.author_collector
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	color: #262626;
	font-style: italic;
}

.text_collector
{
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	text-align: justify;
	word-wrap: break-word;
	max-width: calc(525px - 80px);
}

.text_context
{
	width: calc(100% - 80px);
  background-color: #b3b3b3;
  font-family: robotolight, Verdana, sans-serif;
  font-style: italic;
	color: #262626;
  text-align: justify;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top: solid 3px #a3a3a3;
	overflow: hidden;
	word-wrap: break-word;
	max-width: calc(525px - 80px);
}

/*** Vote ***/
.zone_votes_users
{
	margin-left: 10px;
	margin-top: -12.5px;
	margin-bottom: -12.5px;
}

.smiley_0
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/common/smileys/0.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_1
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/common/smileys/1.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_2
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/common/smileys/2.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_3
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/common/smileys/3.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_4
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/common/smileys/4.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_5
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/common/smileys/5.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_6
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/common/smileys/6.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_7
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/common/smileys/7.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_8
{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("/inside/includes/icons/common/smileys/8.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.smiley_votes_1, .smiley_votes_2, .smiley_votes_3, .smiley_votes_4, .smiley_votes_5, .smiley_votes_6, .smiley_votes_7, .smiley_votes_8
{
  float: left;
  width: 25px;
  margin-right: -7px;
  border-radius: 50%;
  box-shadow: 0 0 3px #5c5c5c;
}

.noms_votes_1, .noms_votes_2, .noms_votes_3, .noms_votes_4, .noms_votes_5, .noms_votes_6, .noms_votes_7, .noms_votes_8
{
	background-color: #ff1937;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	float: left;
	margin-top: -30px;
	margin-left: -17.5px;
	display: none;
}

.smiley_votes_1:hover ~ .noms_votes_1, .smiley_votes_2:hover ~ .noms_votes_2, .smiley_votes_3:hover ~ .noms_votes_3,
.smiley_votes_4:hover ~ .noms_votes_4, .smiley_votes_5:hover ~ .noms_votes_5, .smiley_votes_6:hover ~ .noms_votes_6,
.smiley_votes_7:hover ~ .noms_votes_7, .smiley_votes_8:hover ~ .noms_votes_8
{
  display: block;
  position: relative;
  z-index: 1;
}

/*** Modification phrases cultes ***/
.modify_speaker
{
  display: block;
  width: 52%;
	height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 2px;
  border: 0;
  padding: 1%;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 80%;
	color: #262626;
}

.modify_other
{
  display: block;
  width: 50%;
	height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 2px;
  border: 0;
  padding: 1%;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 80%;
	color: #262626;
}

.old_user
{
  text-align: center;
  font-family: robotoregular, Verdana, sans-serif;
  font-style: italic;
  color: #262626;
  width: 106px;
  line-height: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

.modify_date_collector
{
  display: block;
  width: 50%;
	height: 20px;
  margin-left: auto;
  margin-right: auto;
	margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 0;
  padding: 1%;
  font-family: robotolight, Verdana, sans-serif;
  font-size: 80%;
	color: #262626;
}

.modify_text_collector
{
  resize: vertical;
  width: calc(98% - 80px);
  padding: 1%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -20px;
  margin-bottom: 10px;
  font-family: robotolight, Verdana, sans-serif;
	color: #262626;
  border-radius: 2px;
  border: solid 1px #a3a3a3;
  min-height: 120px;
}

.modify_context_collector
{
  resize: vertical;
  width: 98%;
  padding: 1%;
  font-family: robotolight, Verdana, sans-serif;
	color: #262626;
  border-radius: 2px;
  border: solid 1px #a3a3a3;
  min-height: 70px;
}

/*** Pagination ***/
.zone_pagination
{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
}

.numero_page_active
{
	background-color: #ff1937;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 40px;
	border-radius: 50%;
}

.numero_page_inactive
{
  background-color: #a3a3a3;
  font-family: robotolight, Verdana, sans-serif;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 40px;
  border-radius: 50%;
}

.numero_page_inactive:hover
{
	background-color: #c81932;
}

.lien_pagination
{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  border-radius: 50%;
}
