/**********************/
/*** Collector Room ***/
/**********************/

/*** Filtres et tris ***/
.zone_filtres
{
	display: block;
	margin-bottom: 10px;
}

.zone_filtres option
{
	background-color: white;
}

.listbox_filtre
{
	display: inline-block;
	height: 30px;
	margin: 0 10px 0 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	border: 0;
	border-radius: 2px;
	background-color: #e3e3e3;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Saisie phrase culte ***/
.fond_saisie_collector
{
	display: none;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.zone_saisie_collector
{
	width: 85%;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	border-radius: 2px;
}

.titre_saisie_collector
{
	display: inline-block;
	line-height: 50px;
	background-color: #ff1937;
	width: calc(100% - 40px);
	padding-left: 20px;
	padding-right: 20px;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 120%;
	color: white;
	border-bottom: solid 2px #c81932;
}

.zone_close
{
	float: right;
	width: 30px;
	height: 30px;
	margin-top: -40px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
}

.close_img
{
	width: 20px;
	padding: 5px;
	transform: rotate(0deg);
	transition: transform 0.2s ease;
}

.close_img:hover
{
	transform: rotate(90deg);
	transition: transform 0.2s ease;
}

.form_saisie_collector
{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	background-color: white;
	border-top: solid 1px #d3d3d3;
}

.saisie_speaker
{
	display: inline-block;
	width: calc(50% - 30px);
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 34px;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.speaker_autre
{
	width: calc(20% - 10px);
}

.saisie_other_collector
{
	display: inline-block;
	width: calc(30% - 50px);
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 32px;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	background-color: white;
}

.saisie_date_collector
{
	display: inline-block;
  width: calc(50% - 230px);
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
  line-height: 32px;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 0 3px #7c7c7c;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
	color: #262626;
  background-color: white;
}

.saisie_bouton
{
	display: inline-block;
	width: 200px;
  height: 34px;
	line-height: 34px;
  border-radius: 2px;
	border: 0;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 100%;
	color: #262626;
	background-color: #e3e3e3;
	cursor: pointer;
	box-shadow: 0 0 3px #7c7c7c;
}

.saisie_bouton:hover
{
	background-color: #ff1937;
	color: white;
}

.saisie_collector
{
  width: calc(100% - 40px);
	margin-top: 10px;
	height: 70px;
  min-height: 70px;
	padding: 5px 10px 5px 10px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
  resize: vertical;
  border-radius: 2px;
	background-color: white;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
}

.saisie_contexte
{
	width: calc(100% - 40px);
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	min-height: 30px;
	padding: 5px 10px 5px 10px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	resize: vertical;
	border-radius: 2px;
	background-color: white;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Saisie image culte ***/
.zone_image_left
{
	display: inline-block;
	width: 146px;
	min-height: 146px;
}

.zone_image_right
{
	display: inline-block;
	width: calc(100% - 137px);
	vertical-align: top;
	margin-left: -10px;
}

.zone_parcourir_image
{
	width: 120px;
	height: 120px;
	margin-top: 10px;
	margin-left: 10px;
	border-style: dashed;
	border-width: 3px;
	border-radius: 2px;
	border-color: #a3a3a3;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 300%;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
}

.symbole_saisie_image
{
	line-height: 120px;
}

.bouton_parcourir_image
{
	display: block;
	opacity: 0;
	width: 120px;
	height: 120px;
	margin-top: -120px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.mask_image
{
	width: 120px;
	height: 120px;
	line-height: 120px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: -123px;
}

.image
{
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	margin-top: -3px;
}

.saisie_contexte_image
{
	width: calc(100% - 40px);
	margin-top: 10px;
	margin-bottom: 10px;
	height: 72px;
	min-height: 72px;
	padding: 5px 10px 5px 10px;
	font-family: robotoregular, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	resize: vertical;
	border-radius: 2px;
	background-color: white;
	border: 0;
	box-shadow: 0 0 3px #7c7c7c;
}

/*** Fiches collector ***/
.zone_collectors
{
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	transition: opacity 0.2s;
}

.zone_collectors.masonry
{
	opacity: 1;
}

.zone_collector
{
	width: 525px;
	margin-top: 15px;
	padding-top: 50px;
}

/*** Actions et utilisateur ***/
.zone_collector_haut
{
	background-color: #d3d3d3;
	width: 100%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.zone_collector_haut_golden
{
	background: radial-gradient(ellipse at center, #fffd4c 0%,#ffad01 100%);
	width: 100%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.icone_modify_collector
{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  background-image: url("/inside/includes/icons/common/edit.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
	background-color: transparent;
  cursor: pointer;
}

.icon_delete_collector
{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/delete.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.icon_validate_collector
{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/validate.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.icone_cancel_collector
{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url("/inside/includes/icons/common/cancel.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.zone_avatar_collector
{
	float: left;
	margin-left: calc(50% - 135px);
	margin-top: -50px;
	border: solid 5px #fbfbfb;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.avatar_collector
{
	box-shadow: 0 0 3px #7c7c7c;
	background-color: #262626;
	width: 100px;
	border-radius: 50%;
}

.pseudo_collector
{
	clear: both;
	text-align: center;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	width: calc(100% - 100px);
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	word-wrap: break-word;
}

.zone_date_collector
{
	text-align: center;
  background-color: #2eb2f4;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-family: robotolight, Verdana, sans-serif;
  color: white;
}

.icone_collector
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

.date_collector
{
	clear: both;
	text-align: center;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	width: calc(100% - 100px);
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	word-wrap: break-word;
}

.link_current_vote
{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 50%;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.current_vote
{
  width: 30px;
  filter: drop-shadow(0px 0px 1px #5c5c5c);
}

.zone_smileys
{
  background-color: white;
	box-shadow: 0 0 3px #7c7c7c;
  float: right;
	padding: 5px;
	margin-top: -57px;
	margin-right: 3px;
	border-radius: 40px;
	position: relative;
  z-index: 1;
}

/*** Texte & contexte ***/
.zone_collector_bas
{
	width: 100%;
	background-color: #e3e3e3;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	min-height: 40px;
	margin-bottom: 15px;
}

.quote_1
{
  float: left;
	margin-left: 10px;
	margin-top: 10px;
  width: 20px;
  filter: drop-shadow(0px 0px 1px #7c7c7c);
}

.quote_2
{
  float: right;
	margin-right: 10px;
	margin-top: -30px;
  width: 20px;
  filter: drop-shadow(0px 0px 1px #7c7c7c);
}

.image_collector
{
	width: 100%;
	margin-bottom: -4px;
	cursor: pointer;
}

.author_collector
{
	padding: 5px 10px 5px 170px;
	text-align: right;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 80%;
	color: #262626;
	font-style: italic;
	word-break: break-word;
}

.text_collector
{
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 100%;
	color: #262626;
	text-align: justify;
	word-wrap: break-word;
	max-width: calc(525px - 80px);
}

.text_context
{
	width: calc(100% - 80px);
  background-color: #d3d3d3;
	font-family: robotolight, Verdana, sans-serif;
  font-style: italic;
	color: #262626;
  text-align: justify;
	padding: 10px 40px 20px 40px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	overflow: hidden;
	word-wrap: break-word;
	max-width: calc(525px - 80px);
}

.text_context_golden
{
	width: calc(100% - 80px);
  background: radial-gradient(ellipse at center, #fffd4c 0%,#ffad01 100%);
	font-family: robotolight, Verdana, sans-serif;
  font-style: italic;
	color: #262626;
  text-align: justify;
	padding: 10px 40px 20px 40px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	overflow: hidden;
	word-wrap: break-word;
	max-width: calc(525px - 80px);
}

/*** Vote ***/
.zone_votes_users
{
	margin-left: 10px;
	margin-top: -12.5px;
	margin-bottom: -12.5px;
}

.smiley
{
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
	margin-left: 2px;
	margin-right: 2px;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.smiley_0
{
  background-image: url("/inside/includes/icons/common/smileys/0.png");
}

.smiley_1
{
  background-image: url("/inside/includes/icons/common/smileys/1.png");
}

.smiley_2
{
  background-image: url("/inside/includes/icons/common/smileys/2.png");
}

.smiley_3
{
  background-image: url("/inside/includes/icons/common/smileys/3.png");
}

.smiley_4
{
  background-image: url("/inside/includes/icons/common/smileys/4.png");
}

.smiley_5
{
  background-image: url("/inside/includes/icons/common/smileys/5.png");
}

.smiley_6
{
  background-image: url("/inside/includes/icons/common/smileys/6.png");
}

.smiley_7
{
  background-image: url("/inside/includes/icons/common/smileys/7.png");
}

.smiley_8
{
  background-image: url("/inside/includes/icons/common/smileys/8.png");
}

.smiley_votes_1, .smiley_votes_2, .smiley_votes_3, .smiley_votes_4, .smiley_votes_5, .smiley_votes_6, .smiley_votes_7, .smiley_votes_8
{
  float: left;
  width: 25px;
  margin-right: -7px;
  border-radius: 50%;
	box-shadow: 0 0 3px #7c7c7c;
}

.noms_votes_1, .noms_votes_2, .noms_votes_3, .noms_votes_4, .noms_votes_5, .noms_votes_6, .noms_votes_7, .noms_votes_8
{
	clear: both;
	background-color: #ff1937;
	padding: 2px 10px 2px 10px;
	border-radius: 2px;
	font-family: robotolight, Verdana, sans-serif;
	color: white;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	display: none;
	word-break: break-word;
}

.smiley_votes_1:hover ~ .noms_votes_1, .smiley_votes_2:hover ~ .noms_votes_2, .smiley_votes_3:hover ~ .noms_votes_3,
.smiley_votes_4:hover ~ .noms_votes_4, .smiley_votes_5:hover ~ .noms_votes_5, .smiley_votes_6:hover ~ .noms_votes_6,
.smiley_votes_7:hover ~ .noms_votes_7, .smiley_votes_8:hover ~ .noms_votes_8
{
  display: block;
  position: relative;
  z-index: 1;
}

/*** Modification phrases cultes ***/
.zone_modify_speaker
{
	clear: both;
	padding-top: 5px;
}

.modify_speaker
{
  display: block;
  width: 52%;
	height: 30px;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 5px;
  border-radius: 2px;
  border: 0;
	padding: 5px;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 80%;
	color: #262626;
}

.modify_other
{
  display: block;
  width: 50%;
	height: 20px;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 5px;
  border-radius: 2px;
  border: 0;
	padding: 5px;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 80%;
	color: #262626;
}

.old_user
{
  text-align: center;
	font-family: robotoregular, Verdana, sans-serif;
  font-style: italic;
  color: #262626;
  width: 106px;
  line-height: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

.zone_modify_date
{
	padding-bottom: 5px;
}

.modify_date_collector
{
  display: block;
  width: 50%;
	height: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  border: 0;
	padding: 5px;
	font-family: robotolight, Verdana, sans-serif;
  font-size: 80%;
	color: #262626;
}

.modify_text_collector
{
  resize: vertical;
  width: calc(100% - 100px);
	padding: 10px;
	margin: -20px 40px 10px 40px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
  border-radius: 2px;
	border: 0;
  min-height: 120px;
}

.modify_context_collector
{
  resize: vertical;
	width: calc(100% - 20px);
	padding: 10px;
	font-family: robotolight, Verdana, sans-serif;
	color: #262626;
  border-radius: 2px;
	border: 0;
  min-height: 70px;
}

/*** Modification images ***/
.zone_parcourir_update
{
	display: inline-block;
	width: calc(100% - 6px);
	border-style: dashed;
	border-color: #a3a3a3;
	border-width: 3px;
	font-family: robotolight, Verdana, sans-serif;
	font-size: 250%;
	color: #a3a3a3;
	text-align: center;
	overflow: hidden;
}

.bouton_parcourir_update
{
	display: block;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.mask_update
{
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	overflow: hidden;
	text-align: center;
}

.image_update
{
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
}
